/**
* clients-roll
*/

.clients-roll {
  $clients-roll: &;

  position: relative;

  .js-init & {
    max-height: 380px;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 80px;
      height: 80px;
      position: absolute;
      top: calc(50% - 40px);
      left: calc(50% - 40px);
      z-index: 1;
      background-image: url(/img/loading.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }

    #{$clients-roll}__inner {
      opacity: 0;
      transition: ease opacity 200ms;
    }
  }

  &.is-inited {
    max-height: none;

    &::after {
      display: none;
    }

    #{$clients-roll}__inner {
      opacity: 1;
    }
  }

  &__inner {
    width: 570px;
    height: 100%;
    overflow: hidden;
    padding-left: 2px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    z-index: 1;
    list-style: none;
    transition-property: transform;
    text-decoration: none;
    will-change: transform;
  }

  &__item {
    display: block;
    width: 285px;
    flex-shrink: 0;
    margin: 0;
    position: relative;
    text-decoration: none;
    transition-property: transform;

    & > .client {
      border-top: none;
    }

    &:nth-child(4n + 1) > .client {
      border-top: 2px solid #e4e8f4;
    }

    &:nth-child(4) ~ & > .client {
      border-left: none;
    }
  }

  &__dots {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    line-height: 1;
  }

  &__dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #b7bbe2;
    border-radius: 50%;
    cursor: pointer;
    transition: ease background-color 300ms;

    &.is-active {
      background-color: $accent;
      pointer-events: none;
    }

    &:hover {
      background-color: #757cbb;
    }

    & + & {
      margin-left: 30px;
    }
  }

  .swiper-button-disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  .swiper-notification {
    display: none;
  }
  @media (max-width: $md) {
    &__inner {
      width: 100%;
    }
  }
}
