//- clients-roll

mixin clients-roll(options = {})
  .clients-roll.js-clients-roll(
    data-options=options.swiper
  )
    .clients-roll__inner.js-clients-roll-swiper
      ul.clients-roll__list.js-clients-roll-list
        each item in options.items
          li.clients-roll__item.js-clients-roll-item
            +client(item)

      .clients-roll__dots.js-clients-roll-dots
