/**
* pagination
*/

.pagination {
  $pagination: &;

  padding-left: 100px;
  padding-right: 100px;

  &__list {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 -10px;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin: 0 10px;
    padding: 10px 20px;
    color: #b7bbe2;
    font-size: 18px;
    font-weight: $semibold;
    line-height: 1;

    &.is-current {
      #{$pagination}__label,
      #{$pagination}__link {
        color: $accent;
        pointer-events: none;
      }
    }

    &.is-prev,
    &.is-next {
      flex-grow: 1;
      padding: 0;
      position: relative;
      top: -1px;
    }

    &.is-next {
      text-align: right;
    }
  }

  &__label,
  &__link {
    display: inline-block;
    position: relative;
    z-index: 0;
    color: currentColor;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    transition: ease color 300ms;

    &::before {
      content: '';
      display: block;
      width: 400%;
      height: 300%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      color: $accent;
    }

    &:active {
      color: lighten($accent, 20);
    }
  }
}
