/**
* services
*/

.services {
  $services: &;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding: 0;
    position: relative;

    & + &:not(:nth-child(3n + 4)) > .service::before {
      border-left: none;
    }

    &:nth-child(3) ~ & > .service::before {
      border-top: none;
    }
  }
}
