/**
* loader
*/

.loader {
  $loader: &;

  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: $layer-10;
  background-color: $white;

  &::before {
    content: '';
    width: 250px;
    height: 80px;
    position: absolute;
    z-index: 1;
    top: calc(50% - 80px);
    left: calc(50% - 135px);
    background-image: url('/img/logo.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  .js-init & {
    display: block;

    &::after {
      content: '';
      display: block;
      width: 60px;
      height: 60px;
      position: absolute;
      top: calc(50% + 10px);
      left: calc(50% - 30px);
      z-index: 1;
      background-image: url(/img/loading.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }
  }

  .js-init.is-loaded & {
    display: none;
  }
}
