.checkbox {
  $checkbox: &;

  display: inline-flex;
  width: 100%;
  align-items: baseline;
  justify-content: space-between;
  position: relative;
  color: $dark;
  font-weight: $medium;
  font-style: normal;
  font-size: 15px;
  text-align: left;
  cursor: pointer;

  &.is-disabled {
    cursor: default;

    #{$checkbox}__label {
      opacity: 0.8;
    }
  }

  &__input {
    margin: 0;
    width: 18px;
    height: 18px;
    position: absolute;
    top: -1px;
    left: 0;
    opacity: 0;
  }

  &__label {
    display: block;
    flex-grow: 1;
    padding-left: 28px;
    position: relative;
    color: currentColor;
    line-height: 1.3;

    &::before {
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      position: absolute;
      top: -1px;
      left: 0;
      border-radius: 2px;
      background-color: transparent;
      border: 1px solid #b7bbe2;
    }

    &::after {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      position: absolute;
      top: 2px;
      left: 3px;
      border-radius: 1px;
      background-color: $accent;
      opacity: 0;
      transition: opacity $ease 300ms;
    }

    a {
      color: $accent;
      text-decoration: none;
      transition: color ease 300ms;

      &:hover {
        color: $second;
      }
    }
  }

  &__amount {
    margin-left: 25px;
    color: #686c90;
    font-size: 15px;
    line-height: 1;
  }

  &__input:checked + &__label::after {
    opacity: 1;
  }

  &__input.is-focused + &__label::before {
    outline: 2px dashed #86d3ff;
  }
}
