.input {
  display: block;
  width: 100%;
  padding: 8px 0;
  color: $black;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $grey;
  font-size: 18px;
  font-family: $font-family;
  line-height: 1;
  outline: none !important;
  transition: border-color 200ms $ease;

  @supports (font-variation-settings: normal) {
    font-family: $font-family-var;
  }

  &:focus {
    border-color: $accent;
  }

  &.is-focused {
    // outline: 2px dashed #86d3ff !important;
  }

  &::-moz-placeholder {
    color: #9496b7;
  }

  &::-webkit-input-placeholder {
    color: #9496b7;
  }
}
