mixin input(data)
  input.input&attributes(attributes)

mixin textarea(data)
  textarea.textarea&attributes(attributes)

mixin checkbox(data)
  -
    var attr = {
      type: 'checkbox',
      name: data.name ? data.name : '',
      disabled: data.disabled ? data.disabled : false,
      required: data.required ? data.required : false,
      checked: data.checked ? data.checked : false,
      'data-depend': data.depend ? data.depend : ''
    }

  label.checkbox(
    class=data.disabled ? 'is-disabled' : ''
  )
    input.checkbox__input&attributes(attr)
    span.checkbox__label!=data.label

mixin radio(name, item)
  -
    var attr = {
      type: 'radio',
      name: name ? name : 'radiolist',
      value: item.value ? item.value : '',
      class: item.className ? item.className : '',
      disabled: item.disabled ? item.disabled : false,
      required: item.required ? item.required : false,
      checked: item.checked ? item.checked : false,
      'data-depend': item.depend ? item.depend : '',
    }

  label.radio
    input.radio__field&attributes(attr)
    span.radio__label=item.title

mixin radio-list(data)
  span.radio-list
    if data.label
      span.radio-list__label=data.label
    each item in data.list
      span.radio-list__item
        +radio(data.name, item)

mixin rating(rating)
  .rating(
    class=rating.class || ''
  )
    .rating__caption=rating.label
    .rating__inner
      each i in rating.stars
        input.rating__field(
          type='radio'
          name='rating[' + rating.name + ']' 
          value=i
          id=rating.name + '-' + i
        )
        label.rating__label(
          for=rating.name + '-' + i
        )

mixin select(data)
  select.select.js-select(
    placeholder=data.placeholder ? data.placeholder : ''
    name=data.name ? data.name : ''
    disabled=data.disabled ? data.disabled : false
    required=data.required ? data.required : false
    class=data.className ? data.className : ''
  )
    if data.placeholder
      option(
        data-placeholder='true'
      )

    each option in data.options
      option(
        value=option.value
      )=option.label
