.radio-list {
  display: flex;
  align-items: center;
  width: 100%;

  &__label {
    color: #81867c;
    font-size: 14px;
  }

  &__label + &__item {
    margin-left: 25px;
  }

  &__item {
    & + & {
      margin-left: 25px;
    }
  }
}
