.radio {
  $radio: &;

  display: block;
  position: relative;
  text-align: center;
  cursor: pointer;

  &__field {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -1;
  }

  &__label {
    display: block;
    padding-left: 18px;
    position: relative;
    color: #a1aeaa;
    font-size: 16px;
    line-height: 1;

    &::before,
    &::after {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      left: 0;
      top: calc(50% - 5px);
      border: 1px solid #a1aeaa;
      border-radius: 50%;
    }

    &::after {
      width: 16px;
      height: 16px;
      top: calc(50% - 8px);
      left: -3px;
      border: 1px solid #f69453;
      background-color: transparent;
      opacity: 0;
      transition: ease opacity 300ms;
    }
  }

  &__field.is-focused + &__label {
    outline: 2px dashed #86d3ff;
  }

  &__field:checked + &__label {
    color: #0d1110;

    &::after {
      opacity: 1;
    }
  }
}
