/**
* consultation
*/

.consultation {
  $consultation: &;
  background: {
    image: url("/img/consultation-bg.jpg");
    repeat: no-repeat;
    size: cover;
    position: 50% 50%;
  }
  padding: 50px 30px;
  margin-top: 50px;

  &__top {
    margin-bottom: 25px;
  }

  &__button {
    margin-top: 30px;
  }

  &__title {
    font-size: 28px;
    font-weight: normal;
    color: $white;
  }

  &__text {
    font-size: 16px;
    color: #aabeff;
    width: 175px;
  }

  &__info {
    padding: 10px 17px;
    border-radius: 4px;
    background-color: rgba(170, 190, 255, 0.103);
    text-align: center;

    &-text {
      font-size: 16px;
      color: #aabeff;
      text-transform: uppercase;

      & + & {
        margin-left: 10px;
      }
    }

    &-link {
      color: $white;
      font-size: 19px;
      font-weight: $medium;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      transition: border-color 0.3s $ease;

      &:hover {
        border-color: $white;
      }
    }
  }

  &__btn {
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    color: $white;
    font-size: 12px;
    font-weight: $semibold;
    background: radial-gradient(100% 100% at 50% 0%, #3553bf 0%, #2b40aa 100%);
    border-radius: 4px;
    padding: 31px 43px;

    &:hover {
      background: radial-gradient(
        100% 100% at 70% 0%,
        #3553bf 0%,
        #2b40aa 100%
      );
    }
  }

  @media (max-width: 1100px) {
    display: none;
  }
}
