.review {
  border: 1px solid #e4e8f4;
  padding: 24px;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: flex;
  }

  &__name {
    font-size: 19px;
    color: #111b51;
    font-weight: 500;
    p {
      margin: 0;
    }
  }
  &__rate {
    display: flex;
    padding-top: 7px;
  }

  &__body {
    color: #686c90;
    font-size: 14px;
    margin: 0;
    margin-top: 24px;
  }

  &__star {
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/img/empty-star.svg");

    &.is-active {
      background-image: url("/img/filled-star.svg");
    }

    & + & {
      margin-left: 5px;
    }
  }

  &__company {
    font-size: 16px;
    color: #686c90;
    margin: 0;
    margin-left: 20px;
    margin-top: 5px;
  }

  &__date {
    color: #686c90;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    font-size: 11px;
    font-weight: 500;
    margin-top: 6px !important;
  }

  &__title {
    letter-spacing: -0.01em;
    font-size: 28px;
    color: #111b51;
    margin-bottom: 28px;
  }

  &__text {
    font-weight: 600;
    font-size: 15px;
    color: #334da6;
    margin: 0;
    margin-bottom: 10px;
  }

  &__input {
    border: none;
    background: none;
    border-bottom: 2px solid #e4e8f4;
    width: 100%;
    padding: 12px 0;
    font-size: 15px;
    color: #334da6;
    font-weight: 600;
    font-family: Inter;
  }

  &__item {
    display: block;
    margin-bottom: 20px;
  }

  &__policy {
    font-size: 13px;
    margin: 0;
    margin-top: 16px;
    color: #383e5e;
    font-weight: 600;

    a {
      text-decoration: none;
      color: #334da6;
    }
  }
}

textarea.review__input {
  resize: none;
  height: 119px;
}

.b-rating-pick {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 22px;

  &__caption {
    font-size: 15px;
    color: #333333;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 9px;
  }

  &__inner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
    top: -1px;
  }

  &__field {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  &__label {
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    position: relative;
    background-image: url("/img/empty-star.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      width: 5px;
      height: 100%;
      position: absolute;
      top: 0;
      left: -5px;
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("/img/filled-star.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      opacity: 0;
      transition: opacity 300ms ease;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }

    &:hover ~ & {
      &::after {
        opacity: 1;
      }
    }
  }

  &__field:checked ~ &__label::after {
    background-image: url("/img/filled-star.svg");
    opacity: 1;
  }
}
