//- posts

mixin posts(options = {})
  .posts
    ul.posts__list.grid.is-columns
      each item in options.items
        li.posts__item.col-4
          +post(item)
    .posts__footer
      if options.hasPagination
        .posts__pagination
          +pagination({
            prevArrow: true,
            nextArrow: true,
            currentPage: 2,
            pages: [1, 2, 3, 4, 5, 6]
          })
      else
        .posts__button
          +button({
            type: 'link',
            label: 'Все новости'
          })(
            href='/news.html'
            class='is-hollow'
          )
