/**
* posts
*/

.posts {
  $posts: &;

  &__list {
    padding: 0;
    list-style: none;

    &.is-swiper {
      display: flex;
      .posts__item {
        flex-shrink: 0;
      }
    }
  }

  &__item {
  }

  &__footer {
    margin-top: 60px;
  }

  &__pagination {
    padding-left: 100px;
    padding-right: 100px;
  }

  &__button {
    text-align: center;

    .button {
      width: 260px;
    }
  }
}
