/**
* stages
*/

.stages {
  $stages: &;

  &.is-solutions {
    #{$stages}__item {
      &::after {
        background-image: url(/img/stage-ok.svg);
        background-size: 16px 17px;
      }
    }
  }

  &__title {
    color: $black;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: -0.01em;
  }

  &__list {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding: 15px 0;
    padding-left: 55px;
    padding-right: 75px;
    position: relative;
    color: $dark;
    font-size: 16px;
    line-height: 1.68;
    overflow: hidden;

    &:first-child {
      padding-top: 25px;

      &::after {
        top: 30px;
      }
    }

    &:last-child {
      &::before {
        height: 50%;
      }
    }

    &::before {
      content: '';
      display: block;
      width: 1px;
      height: 100%;
      position: absolute;
      left: 15px;
      top: 0;
      background-color: #b7bbe2;
    }

    &::after {
      content: '';
      width: 30px;
      height: 30px;
      position: absolute;
      left: 0;
      top: 20px;
      background-color: $white;
      background-image: url('/img/stage-plus.svg');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 12px 12px;
      border: 2px solid #b7bbe2;
      border-radius: 50%;
    }
  }
}
