//- stages

mixin stages(options = {})
  .stages(
    class=options.className ? options.className : ''
  )
    h3.stages__title=options.title
    ul.stages__list
      each item in options.items
        li.stages__item=item
