.article__images {
    width: 100%;
    margin: 30px 0;
    padding: 0;
    line-height: 0;
    position: relative;
    min-height: 110px;
}

.article__images:after {
    position: absolute;
    bottom: -20px;
    right: 6px;
    content: 'Галерея';
    height: 13px;
    display: block;
    color: #4a7db1;
    font-size: 11px;
    line-height: 1;
}

.article__images td {
    padding: 10px;
}

.article__images img {
    max-width: 100%;
    display: inline-block;
    margin: 0 10px 10px 0
}