/**
* button
*/

.button {
  $button: &;

  $padding: 33px 50px 31px;
  $color: $white;
  $background-color: $accent;
  $background-gradient: radial-gradient(
    ellipse at 50% 0%, #3553bf 0%, #294194 100%
  );
  $background-gradient-hover: radial-gradient(
    76px at 50% 0%, #354fa4 0%, #2a4190 100%
  );
  $border-radius: 4px;

  display: inline-block;
  padding: $padding;
  position: relative;
  z-index: 0;
  color: $color;
  border-radius: $border-radius;
  background-color: $accent;
  background-image: $background-gradient;
  border: none;
  font-weight: $medium;
  font-style: normal;
  font-family: $font-family;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.16em;
  vertical-align: top;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  will-change: color;
  transition: ease color 300ms;

  i {
    color: #aabeff;
    font-style: normal;
  }

  @supports (font-variation-settings: normal) {
    font-family: $font-family-var;
  }

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: $border-radius;
    background-image: $background-gradient-hover;
    opacity: 0;
    will-change: opacity;
    transition: ease opacity 300ms;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }

  &[disabled] {
    opacity: 0.3 !important;
    pointer-events: none;
  }

  &.is-large {
  }

  &.is-hollow {
    padding: 24px 32px 22px;
    background-color: transparent;
    background-image: none;
    border: 2px solid $accent;
    color: $dark;
    overflow: visible;

    &::before {
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      top: -2px;
      left: -2px;
    }

    &:hover {
      color: $white;
    }
  }

  &.is-wide {
    width: 100%;
  }

  &.is-multistring {
    padding-top: 18px;
    padding-bottom: 16px;
    line-height: 1.8;
    white-space: normal;

    i {
      display: inline-block;
      width: 100%;
    }
  }

  &.is-small {
    padding: 18px 32px 15px;
  }

  &.is-grey {
    border-color: #b7bbe2;
  }

  &.is-lower {
    padding-top: 22px;
    padding-bottom: 20px;
  }

  &.is-hollow.is-lower {
    padding-top: 20px;
    padding-bottom: 18px;
  }
}
