//- menu

mixin menu(options = {})
  .menu.js-menu
    ul.menu__list
      each item in options.items
        li.menu__item(
          class=item.catalog ? 'is-catalog' : ''
        ) 
          a.menu__link(
            class=item.list ? 'js-menu-link' : ''
            href=item.url
            title=item.title
          )=item.title

          if item.list
            .menu__drop.js-menu-drop
              +dropmenu({
                items: item.list,
              })
