/**
* menu
*/

.menu {
  $menu: &;

  &__list {
    display: flex;
    align-items: center;
    min-height: 58px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    & + & {
      margin-left: 40px;
    }

    &.is-catalog {
      $gradient: radial-gradient(ellipse at 50% 0%, #334da6 0%, #1d337e 100%);
      $gradient-hover: radial-gradient(
        ellipse at 50% 0%,
        #354fa4 0%,
        #2a4190 100%
      );

      #{$menu}__link {
        display: flex;
        align-items: center;
        padding: 18px 20px;
        position: relative;
        z-index: 0;
        background-image: $gradient;
        border-radius: 4px;
        overflow: hidden;
        font-size: 13px;

        &::before {
          content: "";
          display: block;
          width: 22px;
          height: 22px;
          margin-right: 15px;
          background-image: url("/img/i-menu.svg");
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: contain;
        }

        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          z-index: -1;
          background-image: $gradient-hover;
          border-radius: 4px;
          opacity: 0;
          transition: ease opacity 300ms;
        }

        &:hover {
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }

  &__link {
    display: inline-block;
    padding: 10px 0;
    color: $white;
    font-size: 12px;
    font-weight: $semibold;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__drop {
    display: none;
    width: 100%;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    pointer-events: none;
  }

  &__burger {
    display: none;
  }

  @media (max-width: 1250px) {
    &__item {
      & + & {
        margin-left: 20px;
      }
    }
  }

  @media (max-width: 1070px) {
    &__item {
      & + & {
        margin-left: 10px;
      }
      &.is-catalog {
        .menu__link {
          padding: 18px 10px;
        }
      }
    }
  }

  @media (max-width: 1000px) {
    &__burger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 22px;
      height: 18px;
      border: none;
      background: none;
      padding: 0;

      span {
        display: block;
        width: 22px;
        height: 1px;
        background-color: #fff;
      }
    }

    &__list {
      transform: translateX(-100%);
      transition: ease transform 0.3s;
      z-index: 999;
      position: absolute;
      flex-direction: column;
      background-color: #ffffff;
      align-items: flex-start;
      top: 100%;
      width: calc(100% + 60px);
      left: -30px;
      padding: 34px;

      &.is-active {
        transform: translateX(0);
      }
    }

    &__item {
      & + & {
        margin-left: 0;
        margin-top: 24px;
      }

      &.is-catalog {
        .menu__link {
          display: block;
          padding: 10px 0;
          position: relative;
          z-index: 0;
          background-image: none;
          border-radius: 0;
          overflow: hidden;
          font-size: 13px;

          &::before {
            display: none;
          }
          &:hover {
            &::after {
              opacity: 0;
            }
          }
        }
      }
    }

    &__link {
      color: #383e5e;
      font-size: 13px;
    }

    &__drop {
      position: static;
    }
  }
}
