//- product-order

mixin product-order(options = {})
  .product-order
    .product-order__vendor
      +vendor(options.vendor)
    .product-order__instock=options.instock ? 'Товар в наличии' : 'Под заказ'
    .product-order__cost
      +cost({
        className: 'is-wide is-large',
        value: options.cost,
        label: 'Цена (с НДС)'
      })
    .product-order__button
      +button({
        label: 'Сделать заказать'
      })(
        class='is-small is-wide'
        data-modal='order'
        data-info=`{"id": 1, "image": "/img/product-1.jpg", "code": "Арт. 031030630", "title": "Модуль индикации входов (32IN) NC210-402", "link": "product.html", "cost": "1 694 ₽" }`
      )
