/**
* product-order
*/

.product-order {
  $product-order: &;

  background-color: $white;
  border: 1px solid $grey;
  padding: 24px;

  &__vendor {
    padding-bottom: 24px;
    border-bottom: 1px solid #e4e8f4;
  }

  &__instock {
    color: $accent;
    font-size: 15px;
    font-weight: $semibold;
    line-height: 1;
  }

  &__vendor + &__instock {
    margin-top: 24px;
  }

  &__instock + &__cost {
    margin-top: 40px;
  }

  &__cost + &__button {
    margin-top: 20px;
  }
}
