//- form

mixin form(options)

  case options.type

    when 'feedback'
      form.form.js-form.is-feedback(
        role='form'
        action='response.html'
        class=options.className ? options.className : ''
      )
        if options.title
          .form__header
            if options.title
              h3.form__title=options.title

        .form__body
          .grid.is-columns.is-form
            .col-6
              label.form__group.js-form-group
                span.form__field
                  +input()(
                    name='name',
                    type='text',
                    class='js-form-field form__input'
                  )
                  span.form__label Ваше имя

            .col-6
              label.form__group.js-form-group.is-required
                span.form__field
                  +input()(
                    name='email',
                    type='email',
                    required
                    class='js-form-field form__input'
                  )
                  span.form__label E-mail

            .col-12
              label.form__group.js-form-group
                span.form__field
                  +textarea()(
                    name='comment',
                    class='js-form-field form__input'
                  )
                  span.form__label Сообщение

        .form__footer
          .grid.is-row.is-middle
            .col-6
              .form__agreement Отправляя сообщение, соглашаюсь с&nbsp;<a href='#'>обработкой персональных данных</a>

            .col-6
              .form__button
                +button({
                  label: 'Отправить сообщение'
                })(class='is-wide is-large is-filled')

    when 'order'
      form.form.js-form.is-order(
        role='form'
        action='response.html'
        class=options.className ? options.className : ''
      )
        if options.title
          .form__header
            if options.title
              h3.form__title=options.title

        .form__body
          .grid.is-columns
            .col-6
              label.form__group.js-form-group
                span.form__field
                  +input()(
                    name='name',
                    type='text',
                    class='js-form-field form__input'
                  )
                  span.form__label Ваше имя
            .col-6
              label.form__group.js-form-group
                span.form__field
                  +input()(
                    name='org',
                    type='text',
                    class='js-form-field form__input'
                  )
                  span.form__label Название организации

            .col-6
              label.form__group.js-form-group.is-required
                span.form__field
                  +input()(
                    name='tel',
                    type='tel',
                    required
                    class='js-form-field form__input'
                  )
                  span.form__label Контактный телефон

            .col-6
              label.form__group.js-form-group.is-required
                span.form__field
                  +input()(
                    name='email',
                    type='email',
                    required
                    class='js-form-field form__input'
                  )
                  span.form__label E-mail

            .col-12
              label.form__group.js-form-group
                span.form__field
                  +textarea()(
                    name='comment'
                    class='js-form-field form__input'
                  )
                  span.form__label Сообщение

        .form__footer
          .grid.is-row.is-middle
            .col-6
              .form__agreement Отправляя сообщение, соглашаюсь с&nbsp;<a href='#'>обработкой персональных данных</a>

            .col-6
              .form__button
                +button({
                  label: 'Сделать заказ'
                })(class='is-wide is-large is-filled')

    when 'callback'
      form.form.js-form.is-callback(
        role='form'
        action='response.html'
        class=options.className ? options.className : ''
      )
        if options.title
          .form__header
            if options.title
              h3.form__title=options.title

        .form__body
          .grid.is-columns.is-form
            .col-12
              label.form__group.js-form-group
                span.form__field
                  +input()(
                    name='name',
                    type='text',
                    class='js-form-field form__input'
                  )
                  span.form__label Ваше имя

            .col-12
              label.form__group.js-form-group
                span.form__field
                  +input()(
                    name='tel',
                    type='tel',
                    class='js-form-field form__input'
                  )
                  span.form__label Номер телефона

        .form__footer
          .grid.is-columns.is-middle
            .col-12
              .form__agreement Отправляя сообщение, соглашаюсь с&nbsp;<a href='#'>обработкой персональных данных</a>

            .col-12
              .form__button
                +button({
                  label: 'Отправить'
                })(class='is-wide is-large is-filled')
