/**
* form
*/

.form {
  $form: &;

  $warn: #eb5757;
  $success: #a9fff0;

  height: 100%;
  padding: 60px;
  padding-top: 50px;
  background-color: $white;

  &.in-modal {
    padding: 35px 50px 45px;
  }

  &.is-checkprice,
  &.is-callback {
    #{$form}__footer {
      margin-top: 30px;
    }
  }

  &__title {
    margin: 0;
    color: $black;
    font-weight: $regular;
    font-size: 28px;
    line-height: 1.3;
    letter-spacing: -0.01em;
  }

  &__header + &__body {
    margin-top: 50px;
  }

  &__group {
    display: block;
    position: relative;

    & + & {
      margin-top: 30px;
    }

    &.is-agreement {
    }

    &.has-error {
      // input,
      // textarea {
      //   border-color: $warn;
      // }

      #{$form}__message {
        color: $warn;
      }
    }

    &.has-success {
      // input,
      // textarea {
      //   border-color: $success;
      // }

      #{$form}__message {
        color: $success;
      }
    }
  }

  &__label {
    display: block;
    position: absolute;
    left: 0;
    top: 10px;
    color: $accent;
    font-style: normal;
    font-weight: $semibold;
    font-size: 15px;
    line-height: 1;
    transform-origin: left;
    transition: transform 250ms ease, color 250ms ease;
  }

  &__input:focus + &__label,
  &__group.is-filled &__label {
    color: #9496b7;
    transform: translateY(-22px) scale(0.76);
  }

  &__input {
  }

  &__caption {
    margin: 0;
    margin-top: 10px;
    color: #343670;
    font-size: 23px;
    line-height: 1.2;
    letter-spacing: -0.01em;
  }

  &__footer {
    margin-top: 60px;
    display: flex;
    align-items: center;
  }

  &__agreement {
    color: #686c90;
    line-height: 1.69;
    font-size: 13px;

    a {
      color: $accent;
      font-weight: $semibold;
      text-decoration: none;
      transition: ease color 300ms;

      &:hover {
        color: $second;
      }
    }
  }

  &__agreement + &__button {
    margin-left: 30px;
  }

  &__button {
    .button {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  &__message {
    font-size: 13px;
  }

  @media (max-width: $s) {
    padding: 20px;
  }
}
