/**
* list
*/

.list {
  $list: &;

  margin: 0;
  margin-top: 15px;
  padding: 0;
  list-style: none;

  &__item {
    display: flex;
    align-items: baseline;
    padding-left: 18px;
    position: relative;
    color: #686c90;
    line-height: 1.437;

    &::before {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      position: absolute;
      left: 0;
      top: 7px;
      border-radius: 1px;
      background-color: $accent;
    }

    & + & {
      margin-top: 15px;
    }
  }
}
