/**
* roll
*/

.roll {
  $roll: &;

  position: relative;

  .js-init & {
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 80px;
      height: 80px;
      position: absolute;
      top: 50px;
      left: calc(50% - 40px);
      z-index: 1;
      background-image: url(/img/loading.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }

    #{$roll}__inner {
      opacity: 0;
      transition: ease opacity 200ms;
    }
  }

  &.is-inited {
    &::after {
      display: none;
    }

    #{$roll}__inner {
      opacity: 1;
    }
  }

  &__control {
    display: none;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: calc(100% + 60px);

    &.is-visible {
      display: flex;
    }
  }

  &__arrow {
    display: inline-block;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    & + & {
      margin-left: 30px;
    }
  }

  &__inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-left: 2px;
  }

  &__list {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    list-style: none;
    position: relative;
    z-index: 1;
    transition-property: transform;
    text-decoration: none;
    will-change: transform;
  }

  &__item {
    display: block;
    flex-shrink: 0;
    margin: 0;
    position: relative;
    text-decoration: none;
    transition-property: transform;

    & > .vendor {
      border: 2px solid #f1f3f9;
    }

    & + & > .vendor {
      border-left: none;
    }
  }

  .swiper-button-disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  .swiper-notification {
    display: none;
  }

  &__footer {
    margin-top: 60px;
    text-align: center;
  }

  &__button {
    display: inline-block;
  }
}
