//- roll

mixin roll(options = {})
  .roll.js-roll(
    class=options.type ? 'is-' + options.type : ''
    data-options=options.swiper
  )
    .roll__control.js-roll-control
      +control({
        className: 'js-roll'
      })
    .roll__inner.js-roll-swiper
      ul.roll__list.js-roll-list
        each item in options.items
          li.roll__item.js-roll-item
            case options.type
              when 'products'
                +product({
                  className: 'is-compact',
                  id: item.id,
                  code: item.code,
                  title: item.title,
                  instock: item.instock,
                  cost: {
                    className: 'is-wide',
                    label: item.cost.label || '',
                    value: item.cost.value
                  },
                  thumbnail: item.thumbnail
                })
              when 'vendors'
                +vendor(item)
              when 'posts'
                +post(item)

    if options.button
      .roll__footer
        .roll__button
          +button({
            type: 'link',
            label: 'сделать подбор по производителю'
          })(
            href='vendors.html'
            class='is-hollow'
          )
