//- docs
mixin docs(options)
  .docs(
    class=options.type ? 'is-' + options.type : ''
  )
    ul.docs__list.grid.is-columns
      each doc in options.items
        li.docs__item(
          class=options.type == 'list' ? 'col-12' : 'col-4'
        )
          +doc(doc)

    if options.hasPagination
      .docs__footer
        .docs__pagination
          +pagination({
            pages: [1, 2, 3, 4, 5, 6],
            currentPage: 1,
            prevArrow: true,
            nextArrow: true,
          })
