/**
* tabs
*/

.tabs {
  $tabs: &;

  margin: 0;
  position: relative;
  z-index: $layer-1;

  .js-init & {
    position: relative;
    max-height: 400px;

    #{$tabs}__header,
    #{$tabs}__body {
      opacity: 0;
      transition: ease opacity 200ms;
    }

    &::after {
      content: "";
      display: block;
      width: 80px;
      height: 80px;
      position: absolute;
      top: calc(50% - 40px);
      left: calc(50% - 40px);
      z-index: 1;
      background-image: url(/img/loading.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }
  }

  &.is-inited {
    max-height: none;

    #{$tabs}__header,
    #{$tabs}__body {
      opacity: 1;
    }

    &::after {
      display: none;
    }
  }

  &__header {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
  }

  &__label {
    flex-shrink: 0;
    margin: 0;
    padding: 22px 24px 21px;
    position: relative;
    z-index: 0;
    color: #686c90;
    font-family: $font-family;
    font-style: normal;
    font-size: 12px;
    font-weight: $semibold;
    letter-spacing: 0.16em;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    transition: ease color 300ms, ease background-color 300ms;

    &::after {
      content: "";
      display: block;
      width: calc(100% - 48px);
      height: 2px;
      position: absolute;
      left: 24px;
      bottom: 0;
      background-color: $accent;
      opacity: 0;
      transition: ease opacity 300ms;
    }

    &.is-active {
      background-color: $white;
      color: $accent;
      pointer-events: none;

      &::after {
        opacity: 1;
      }
    }
  }

  &__body {
    background-color: $white;
  }

  &__section {
    overflow: hidden;
  }

  &__item {
    padding: 40px 50px 80px;

    &#equipment {
      padding: 24px;
      padding-bottom: 50px;
    }
  }

  @media (max-width: 768px) {
    &__item {
      padding: 20px;
    }

    &__header {
      overflow: auto;
    }
  }
}
