//- tabs
mixin tabs(options)
  .tabs.js-tabs(
    class=options.className ? options.className : ''
    role='tablist'
  )
    .tabs__header
      each tab in options.items
        a.tabs__label.js-tabs-label(
          href='#' + tab.name
          title=tab.label
          role='tab'
          id='tab-' + tab.id
        )=tab.label

    .tabs__body
      .tabs__section.js-tabs-section
        each tab in options.items
          .tabs__item.js-tabs-item( 
            id=tab.name
            role='tabpanel'
            aria-labelledby='tab' + tab.id
          )
            +tab({
              type: tab.type,
              data: tab.data
            })
