//- article

mixin article(options = {})
  .article
    .container
      .article__body
        .grid.is-row
          .col-10.shift-1
            if options.content
              .text!=options.content
            else
              .text
                p.
                  Система ЧПУ НЦ31-10Р выполнена на современной элементной базе и представляет собой двухплатный аналог УЧПУ НЦ-31, устанавливается <strong>оправка для сверл NORGAU BT40 MAS403BT MK1x50</strong> на место УЧПУ НЦ31 и имеет стандартные размеры и разъемы подключения. Функционально система полностью повторяет УЧПУ «Электроника НЦ-31» (версии 2, 3, 4, 4 расширенная), что позволяет использовать ранее написанные технологические программы, инструкции поставляемые с УЧПУ НЦ-31 и обеспечивает работу операторов, технологов, программистов без дополнительного обучения.

                .article__images
                  // Класс "article__images" можно перекинуть на таблицу, а див убрать, тут как удобней будет
                  table
                    tr
                      td(
                        colspan=3
                      )
                        +image({
                          lightbox: true,
                          image: 'article-1.jpg',
                          caption: 'Модернизация станка Traitmark NBC 1200K'
                        })
                    tr(
                      height='50px'
                    )
                    tr
                      td
                        +image({
                          lightbox: true,
                          image: 'article-2.jpg',
                          caption: 'Модернизация станка Traitmark NBC 1200K'
                        })
                      td(
                        width='30px'
                      )
                      td
                        +image({
                          lightbox: true,
                          image: 'article-3.jpg',
                          caption: 'Модернизация станка Traitmark NBC 1200K'
                        })
                h3 На выставке будут представлены
                ul
                  li Комплектующие линейки для модернизации Heidenhain 100/500HR
                  li Станки и шпиндели Heidenhain 10/Р00HR
                  li Дополнительные инструменты...
                p.
                  Система ЧПУ НЦ31-10Р выполнена на современной элементной базе и представляет собой двухплатный аналог УЧПУ НЦ-31, устанавливается <strong>оправка для сверл NORGAU BT40 MAS403BT MK1x50</strong> на место УЧПУ НЦ31 и имеет стандартные размеры и разъемы подключения. Функционально система полностью повторяет УЧПУ «Электроника НЦ-31» (версии 2, 3, 4, 4 расширенная), что позволяет использовать ранее написанные технологические программы, инструкции поставляемые с УЧПУ НЦ-31 и обеспечивает работу операторов, технологов, программистов без дополнительного обучения.
      
      if options.back
        .article__footer
          .article__back
            +link({
              label: 'назад к новостям',
              direction: 'back'
            })(
              href='news.html'
              title='назад к новостям'
            )
