/**
* article
*/

.article {
  $article: &;

  margin: 120px 0;

  &__body {
    p {
      max-width: 770px;
    }
  }

  &__images {
    width: calc(100% + 240px) !important;
    margin: 70px -120px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &,
    & > table {
      border: none !important;

      td,
      tr {
        border: none !important;
      }

      td {
        padding: 0 15px;
      }
    }
  }

  &__footer {
    margin-top: 70px;
  }

  &__back {
  }
}
