/**
* client
*/

.client {
  $client: &;

  height: 100%;
  padding: 24px;
  border: 2px solid #e4e8f4;

  &__title {
    margin: 0;
    color: $dark;
    font-size: 16px;
    font-weight: $medium;
    line-height: 1.31;
  }

  &__caption {
    margin: 0;
    margin-top: 5px;
    color: #686c90;
    font-size: 12px;
    line-height: 1.08;
  }
}
