/**
* equipment
*/

.equipment {
  $equipment: &;

  .js-init & {
    position: relative;
    max-height: 400px;

    #{$equipment}__header,
    #{$equipment}__body {
      opacity: 0;
      transition: ease opacity 200ms;
    }

    &::after {
      content: '';
      display: block;
      width: 80px;
      height: 80px;
      position: absolute;
      top: calc(50% - 40px);
      left: calc(50% - 40px);
      z-index: 1;
      background-image: url(/img/loading.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }
  }

  &.is-inited {
    max-height: none;

    #{$equipment}__header,
    #{$equipment}__body {
      opacity: 1;
    }

    &::after {
      display: none;
    }
  }

  &__header {
  }

  &__cats {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__cat {
    width: 25%;
    padding: 0;
    position: relative;
    text-decoration: none;

    & + &:not(:nth-child(4n + 5)) > .cat::before {
      border-left: none;
    }

    &:nth-child(4) ~ & > .cat::before {
      border-top: none;
    }

    &.is-active {
      pointer-events: none;
    }
  }

  &__body {
    margin-top: 25px;
  }

  &__section {
    overflow: hidden;
  }

  &__item {
    padding: 1px 0;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
  }

  &__text {
    &.text {
      color: $dark;
      font-size: 16px;
      font-weight: $regular;
      line-height: 1.68;
    }
  }

  &__cost {
    padding-left: 30px;
    overflow: hidden;
    white-space: nowrap;

    .cost__value {
      width: 152px;
    }
  }

  &__button {
  }

  &__cost + &__button {
    margin-top: 30px;
  }
}
