//- equipment

mixin equipment(options = {})
  .equipment.js-equipment(
    class=options.className ? options.className : ''
    role='tablist'
  )
    .equipment__header
      ul.equipment__cats
        each cat, index in options.sets
          a.equipment__cat.js-equipment-label(
            title=cat.title
            href='#equipment-set-' + index
            role='tab'
            id='tab-equipment-' + index
          )
            +cat({
              id: 1,
              type: 'span',
              className: 'is-small is-equipment',
              title: cat.title,
              cost: cat.cost
            })
      
    .equipment__body
      .equipment__section.js-equipment-section
        each cat, index in options.sets
          .equipment__item.js-equipment-item(
            data-info=`{ "id": ${index + 1}, "cost": "${cat.total}", "caption": "${cat.caption}" }`
            id='equipment-set-' + index
            role='tabpanel'
            aria-labelledby='tab-equipment-' + index
          )
            +products-table({
              items: cat.products
            })

    .equipment__footer
      .grid.is-row
        .col-6
          .equipment__text.text
            h4 Обращаем ваше внимание!
            p Финальная стоимость всей модернизации указана ориентировочно и требует уточнения, т.к. может зависеть от курса валют, инфляции и прочих факторов...
        .col-4.shift-2
          .equipment__cost
            .cost.is-wide
              .cost__caption Ориентировочная сумма:
              .cost__value.js-equipment-cost 108 220 ₽
          button.equipment__button.button.is-wide.is-multistring.js-equipment-button(
            data-modal='order'
            data-info='{ "id": 154, "title": "набор heidenhein" }'
          ) <i class='js-equipment-caption'>набор heidenhein</i>заказать модернизацию
