/**
* service
*/

.service {
  $service: &;
  $speed: 400ms;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 25px;
  padding-left: 30px;
  position: relative;
  z-index: 0;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    border: 2px solid #f1f3f9;
    background-color: $white;
  }

  &__header {
    width: 100%;
  }

  &__icon {
    display: flex;
    align-items: center;
    height: 87px;
    line-height: 0;

    path {
      transition: ease fill $speed, ease stroke $speed;
    }

    rect {
      transition: ease fill $speed, ease stroke $speed;
    }
  }

  &__title {
    width: 100%;
    margin-top: 20px;
    color: $dark;
    font-size: 13px;
    font-weight: $semibold;
    line-height: 1.38;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    transition: ease color $speed;
  }

  &__body {
    flex-grow: 1;
    max-width: 100%;
    margin-top: 28px;
    padding-top: 20px;
    border-top: 1px solid $grey;
  }

  &__text {
    margin: 0;
    color: #686c90;
    font-size: 16px;
    line-height: 1.68;
  }

  &__footer {
    width: 100%;
    margin-top: 50px;
  }

  &__button {
  }
}
