//- service

mixin service(options = {})
  article.service(
    class=options.className ? options.className : ''
  )
    header.service__header
      .service__icon
        +icon('service-' + options.id)
      h3.service__title=options.title
    .service__body
      p.service__text=options.text
    footer.service__footer
      .service__button
        +button({
          label: 'Заказать услугу'
        })(
          data-modal='order'
          data-info=`{ "id": "${options.id}", "title": "${options.title}"}`
          class='is-wide is-lower'
        )
