//- hero

mixin hero(options = {})
  .hero(
    style=`background-image: url(/img/${options.cover})`
  )
    .hero__overlay
      +overlay()
    .container
      .hero__inner
        .hero__body
          h1.hero__title!=options.title
          .hero__button
            +button({
              type: 'link',
              label: 'перейти к каталогу'
            })(
              href='/catalog.html'
              title='Перейти к каталогу'
            )
