/**
* hero
*/

.hero {
  $hero: &;

  width: 100%;
  margin: -64px 0 -220px;
  position: relative;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  &__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__inner {
    display: flex;
    width: 100%;
    height: 820px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 64px;
    padding-bottom: 220px;
  }

  &__body {
    margin-top: 50px;
  }

  &__title {
    max-width: 670px;
    color: $white;
    font-size: 44px;
    line-height: 1.38;
  }

  &__button {
    margin-top: 50px;
  }

  @media (max-width: $m) {
    &__title {
      font-size: 36px;
    }
  }

  @media (max-width: $s) {
    &__inner {
      height: auto;
    }

    &__title {
      font-size: 19px;
    }

    &__button {
      margin-bottom: 30px;
    }
  }
}
