/**
* arrow
*/

.arrow {
  $arrow: &;

  display: block;
  width: 24px;
  height: 24px;
  padding: 1px;
  position: relative;
  color: #b7bbe2;
  cursor: pointer;
  transition: ease color 300ms;

  &::before {
    content: '';
    display: block;
    width: 200%;
    height: 200%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__icon {
    width: 100%;
    height: 100%;
    color: currentColor;
  }

  &.is-small {
    width: 16px;
    height: 16px;

    &:before {
      display: none;
    }
  }

  &.is-up {
    transform: rotate(-90deg);
  }

  &.is-down {
    transform: rotate(90deg);
  }

  &.is-left {
    transform: rotate(180deg);
  }

  &.is-right {
  }

  &:hover {
    color: $accent;
  }
}
