//- arrow

mixin arrow(options = {})
  - var style = options.style || 'alt'
  
  span.arrow(
    class='is-' + options.type
    class=options.className ? options.className : ''
  )
    svg.arrow__icon
      use(xlink:href='/img/sprite.svg#arrow-' + style)
