/**
* ticket
*/

.ticket {
  $ticket: &;

  &.has-arrow &__header::after {
    content: "";
    display: inline-block;
    width: 64px;
    height: 64px;
    margin-top: 30px;
    background-color: rgba(170, 190, 255, 0.1);
    background-image: url("/img/i-arrow-alt.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 20px 20px;
    border-radius: 50%;
  }

  &__left {
    height: 100%;
    background-color: $second;
    color: $white;
    background-image: url("/img/card-contact-cover.jpg");
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: cover;
  }

  &__right {
    height: 100%;
    background-color: $white;
  }

  &__header {
    padding: 80px 60px;
    text-align: center;
  }

  &__title {
    color: $white;
    font-size: 36px;
    font-weight: $medium;
    line-height: 1.44;
  }

  &__caption {
    margin: 0;
    margin-top: 20px;
    color: #aabeff;
    font-size: 16px;
    line-height: 1.68;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 50px;
  }

  &__contacts {
  }

  &__requisites {
    margin-top: 60px;
  }

  &__form {
    height: 100%;
  }

  @media (max-width: $s) {
    &__info {
      padding: 20px;
    }
  }
}
