//- ticket

mixin ticket(options = {})
  .ticket(
    class=options.className ? options.className : ''
  )
    .grid
      .col-5
        .ticket__left
          if options.title || options.caption
            .ticket__header
              if options.title
                h3.ticket__title!=options.title
              if options.caption
                p.ticket__caption!=options.caption

          if options.contacts || options.requisites
            .ticket__info
              if options.contacts
                .ticket__contacts
                  +contact(options.contacts)
              if options.requisites
                .ticket__requisites
                  +requisites(options.requisites)
      .col-7
        .ticket__right
          if options.form
            .ticket__form
              +form(options.form)
