/**
* dropmenu
*/

.dropmenu {
  $dropmenu: &;

  width: 100%;
  position: relative;

  &__list {
    width: 33.33%;
    pointer-events: all;
    margin: 0;
    padding: 35px;
    padding-left: 20px;
    background-color: $white;
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
    line-height: 1;

    &.is-open {
      #{$dropmenu}__arrow {
        &::before,
        &::after {
          opacity: 0;
          transform: rotate(0);
        }

        &::after {
          opacity: 1;
        }
      }
    }

    & + & {
      margin-top: 25px;
    }
  }

  &__arrow {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 17px;
    position: relative;
    flex-shrink: 0;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-image: url("/img/i-plus.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      transform: rotate(-90deg);
      transition: ease opacity 300ms, ease transform 300ms;
    }

    &::after {
      opacity: 0;
      background-image: url("/img/i-arrow.svg");
    }
  }

  &__link {
    display: inline-block;
    position: relative;
    color: $dark;
    font-size: 13px;
    font-weight: $semibold;
    text-decoration: none;
    letter-spacing: 0.16em;
    line-height: 1.42;
    text-transform: uppercase;
    transition: ease color 300ms, ease transform 300ms;

    &:hover {
      color: $accent;
      transform: translateX(10px);
    }
  }

  &__wrap {
    width: 100%;
    max-width: 33.33%;
    height: 100%;
    padding: 35px 30px;
    position: absolute;
    top: 0;
    left: 33.33%;
    overflow: auto;
    background-color: rgba(228, 232, 244, 0.9);

    &.is-wide {
      max-width: 66.66%;

      #{$dropmenu}__sublist {
        height: 100%;
        columns: 2;
        column-fill: auto;
      }
    }
  }

  &__sublist {
    width: 100%;
    margin: -10px 0;
    padding: 0;
    list-style: none;
  }

  &__subitem {
    margin: 0;
  }

  &__sublink {
    display: inline-block;
    padding: 10px 0;
    color: $dark;
    font-size: 14px;
    font-weight: $medium;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0;
    line-height: 1.42;
    transition: ease color 300ms;

    &:hover {
      color: $accent;
    }
  }
  @media (max-width: 1000px) {
    &__list {
      width: 100%;
    }
    &__item {
      flex-wrap: wrap;
      width: 100%;
    }

    &__arrow {
      margin-right: 20px;
    }

    &__link {
      width: 80%;
    }

    &__wrap {
      &.is-wide {
        max-width: 100%;
      }
      width: 100%;
      flex-shrink: 0;
      position: static;
    }
  }

  @media (max-width: $m) {
    &__wrap {
      &.is-wide {
        .dropmenu__sublist {
          columns: 1;
        }
      }
    }
  }
}
