//- dropmenu

mixin dropmenu(options = {})
  .dropmenu.js-dropmenu
    ul.dropmenu__list
      each item in options.items
        li.dropmenu__item(
          class=item.list ? 'has-children' : ''
        )
          span.dropmenu__arrow
          a.dropmenu__link(
            href='category.html'
            title=item.title
            class=item.list ? 'js-dropmenu-link' : ''
          )
            span=item.title

          if item.list
            .dropmenu__wrap.js-dropmenu-wrap
              ul.dropmenu__sublist
                each title in item.list
                  li.dropmenu__subitem.js-dropmenu-subitem
                    a.dropmenu__sublink(
                      href='subcategory.html'
                      title=title
                    )=title

