//- clients

mixin clients(options = {})
  .clients
    .clients__cover
    .clients__body
      .container
        .grid
          .clients__roll
            +clients-roll({
              items: options.clients
            })
          .clients__info
            h4.clients__title наши постоянные клиенты
            p.clients__text В&nbsp;число наших постоянных клиентов входят крупные металлургические концерны и&nbsp;их представители, а&nbsp;так&nbsp;же&nbsp;частные мебельные и&nbsp;другие мануфактурные предприятия...
