/**
* clients
*/

.clients {
  $clients: &;

  &__cover {
    width: 100%;
    height: 725px;
    background-image: url("/img/clients-cover.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  &__body {
  }

  &__roll {
    width: 100%;
    max-width: 630px;
    margin-top: -130px;
    margin-bottom: 140px;
    padding: 80px 60px;
    padding-left: 0;
    flex-shrink: 0;
    position: relative;
    background-color: #edf0f6;

    &::before {
      content: "";
      width: calc((1800px - 1170px) / 2);
      height: 100%;
      background-color: #edf0f6;
      position: absolute;
      top: 0;
      right: 100%;
    }
  }

  &__info {
    padding: 90px 70px;
    padding-right: 0;
    flex: 1;
  }

  &__title {
    color: #686c90;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.16em;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    margin-top: 30px;
    color: $accent;
    font-size: 20px;
    line-height: 1.8;
  }

  @media (max-width: $md) {
    &__roll {
      max-width: 100%;
      padding-right: 20px;
    }

    &__info {
      padding-left: 0;
    }
  }
}
