/**
* doc
*/

.doc {
  $doc: &;

  display: block;
  padding: 24px;
  position: relative;
  color: $black;
  text-decoration: none;
  border: 1px solid $grey;
  transition: ease color 300ms, ease border-color 300ms;

  &:hover {
    color: $accent;
    border-color: $accent;
  }

  .docs.is-list & {
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
    transition: ease color 300ms;

    #{$doc}__group {
      margin-left: 18px;
    }

    #{$doc}__title {
      margin-top: 0;
    }
  }

  &__type {
    width: 40px;
    height: 50px;
    flex-shrink: 0;
    position: relative;
    background-image: url('/img/file-placeholder.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    overflow: hidden;

    &::after {
      content: attr(data-type);
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 5px;
      color: #aabeff;
      font-size: 11px;
      font-family: $font-family;
      line-height: 1;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-align: center;
    }
  }

  &__title {
    margin-top: 24px;
    color: currentColor;
    font-size: 16px;
    font-weight: $medium;
    line-height: 1.31;
  }

  &__size {
    margin: 0;
    margin-top: 10px;
    color: #686c90;
    font-size: 12px;
    line-height: 1;
  }
}
