//- doc

mixin doc(doc)
  a.doc(
    href='#'
    title=doc.title
    download
  )
    .doc__type(
      data-type=doc.type
    )
    .doc__group
      h4.doc__title=doc.title
      p.doc__size=doc.size
