//- set-card

mixin set-card(options = {})
  .set-card
    .grid.is-row
      .col-4
        .set-card__slider
          +slider({ 
            slides: options.images
          })
      .col-7
        .set-card__info
          .set-card__code=options.code
          .set-card__text
            .text!=options.text
          .set-card__variations
            +variations({
              items: options.variations
            })
          .set-card__link
            +link({
              direction: 'down',
              href: '#tabs',
              label: 'комплектации по модернизации'
            })(
              data-scroll-to=true
            )
