/**
* set-card
*/

.set-card {
  $set-card: &;

  &__slider {
  }

  &__info {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 30px;
    padding-right: 20px;
  }

  &__code {
    color: $dark;
    font-size: 16px;
    font-weight: $medium;
    line-height: 1;
  }

  &__text {
    .text {
      color: $dark;
      font-size: 17px;
      line-height: 1.7;
    }
  }

  &__code + &__text {
    margin-top: 30px;
  }

  &__text + &__variations {
    margin-top: 30px;
  }

  &__variations + &__link,
  &__text + &__link {
    margin-top: 30px;
  }

  &__link {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
  }
}
