/**
* requisites
*/

.requisites {
  $requisites: &;

  &.is-light {
    #{$requisites}__item + #{$requisites}__item {
      margin-top: 15px;
    }

    #{$requisites}__key {
      color: #aabeff;
      font-size: 14px;
      letter-spacing: 0;
    }

    #{$requisites}__value {
      margin-left: 35px;
      color: $white;
      font-size: 14px;
      letter-spacing: 0;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    align-items: baseline;

    & + & {
      margin-top: 15px;
    }
  }

  &__key {
    width: 27%;
    flex-shrink: 0;
    color: $accent;
    font-size: 19px;
    font-weight: $semibold;
    line-height: 1.3;
    letter-spacing: -0.05em;
  }

  &__value {
    margin-left: 27px;
    color: $dark;
    font-size: 19px;
    line-height: 1.3;
    letter-spacing: -0.05em;
    word-break: break-word;
  }
  @media (max-width: $md) {
    margin-top: 50px;
  }
  @media (max-width: $m) {
    &__item {
      flex-direction: column;
    }

    &__value {
      margin-left: 0 !important;
    }
  }
}
