//- requisites

mixin requisites(options = {})
  .requisites(
    class=options.className ? options.className : ''
  )
    dl.requisites__list
      each value, key in options.items
        .requisites__item
          dt.requisites__key=key
          dd.requisites__value=value
