//- products-table

mixin products-table(options = {})
  table.products-table
    thead
      tr.products-table__header
        th.products-table__label Наименование
        th.products-table__label.is-amount Количество
        th.products-table__label.is-cost Цена
    tbody
      each item in options.items
        tr.products-table__item
          td.products-table__product
            +product({
              className: 'is-simple',
              code: item.code,
              title: item.title,
              amount: item.amount,
              thumbnail: item.thumbnail,
            })
          td.products-table__amount 1
          td.products-table__cost
            +cost({
              className: 'is-small',
              value: item.cost
            })
