/**
* products-table
*/

.products-table {
  $products-table: &;

  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid $grey;

  &__header {
    background-color: #f4f6fb;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
  }

  &__label {
    padding: 9px 12px 7px;
    color: #686c90;
    font-size: 13px;
    font-weight: $semibold;
    line-height: 1;
    text-align: left;

    &.is-amount {
      min-width: 240px;
      text-align: center;
    }

    &.is-cost {
      min-width: 140px;
    }
  }

  &__item {
    vertical-align: middle;
    & + & {
      border-top: 1px solid $grey;
    }
  }

  &__product {
    width: 100%;
    padding: 20px 0;
  }

  &__amount {
    min-width: 240px;
    padding: 20px;
    font-weight: $semibold;
    font-size: 15px;
    line-height: 1;
    text-align: center;
  }

  &__cost {
    min-width: 140px;
    padding: 20px 12px;
    white-space: nowrap;
  }
}
