/**
* compare
*/

.compare {
  $compare: &;

  &__cover {
    display: block;
    width: 100%;
    height: 380px;
    margin: 0;
    margin-bottom: 20px;
    position: relative;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__caption {
    $gradient: radial-gradient(ellipse at 50% 0%, #3652b5 0%, #3143a3 100%);
    $path: 0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%;

    width: 370px;
    margin: 0;
    padding: 26px 30px;
    position: absolute;
    left: 0;
    bottom: -20px;
    color: $white;
    background-color: #334cae;
    background-image: $gradient;
    clip-path: polygon($path);
    font-size: 12px;
    letter-spacing: 0.16em;
    line-height: 1;
    text-transform: uppercase;
  }
}
