//- compare

mixin compare(options = {})
  .compare
    .grid.is-row
      .col-6
        figure.compare__cover
          img.compare__image(
            src='/img/' + options.images.before
            alt
          )
          figcaption.compare__caption до модернизации
      .col-6
        figure.compare__cover
          img.compare__image(
            src='/img/' + options.images.after
            alt
          )
          figcaption.compare__caption после модернизации
