/**
* breadcrumb
*/

.breadcrumb {
  $breadcrumb: &;

  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: 1;

  .has-cover & {
    #{$breadcrumb}__item {
      color: $white;

      &::after {
        color: $white;
      }
    }

    #{$breadcrumb}__link {
      &:hover {
        color: $white;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    color: #686c90;
    font-size: 15px;
    line-height: 1;

    &::after {
      content: "/";
      display: block;
      width: 10px;
      margin-left: 15px;
      color: $accent;
    }

    & + & {
      margin-left: 10px;
    }
  }

  &__link {
    color: currentColor;
    text-decoration: none;
    transition: ease color 300ms;

    &:hover {
      color: $accent;
    }
  }

  @media (max-width: $m) {
    flex-wrap: wrap;
    &__item {
      font-size: 14px;
      margin-top: 10px;

      &::after {
        margin-left: 10px;
      }

      & + & {
        margin-left: 4px;
      }
    }
  }
}
