//- params

mixin params(options = {})
  .params(
    class=options.className ? options.className : ''
    class=options.collapsed ? 'js-params' : ''
  )
    
    dl.params__list(
      class=options.collapsed ? 'js-params-list' : ''
    )
      each value, key in options.items
        .params__item(
          class=options.collapsed ? 'js-params-item' : ''
        )
          dt.params__key=key
          dd.params__value=value

    if options.collapsed
      .is-visible-with-js
        button.params__toggle.js-params-toggle Все характеристики
          span.params__arrow
            +arrow({ className: 'is-small', type: 'down', style: 'small' })
