/**
* params
*/

.params {
  $params: &;
  display: flex;
  justify-content: space-between;
  .js-init &.js-params {
    max-height: 360px;

    #{$params}__list {
      opacity: 0;
      transition: ease opacity 200ms;
    }

    &::after {
      content: "";
      display: block;
      width: 80px;
      height: 80px;
      position: absolute;
      top: calc(50% - 40px);
      left: calc(50% - 40px);
      z-index: 1;
      background-image: url(/img/loading.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }
  }

  &.js-params.is-inited {
    max-height: none;

    #{$params}__list {
      opacity: 1;
    }

    &::after {
      display: none;
    }
  }

  &.is-open {
    #{$params}__arrow {
      transform: rotate(180deg);
    }
  }

  &.is-wide {
    #{$params}__item {
      width: 100%;

      &:nth-child(4n + 3),
      &:nth-child(4n + 4) {
        background-color: $white;
      }

      &:nth-child(even) {
        background-color: #f4f6fb;
      }
    }

    #{$params}__key {
      padding-left: 12px;
      padding-right: 12px;
    }

    #{$params}__value {
      width: 95px;
      margin-left: 0;
      padding-right: 12px;
    }
  }

  &__list {
    flex-flow: row wrap;
    margin: 0;
    width: 100%;
    overflow: hidden;

    &.is-small {
      width: calc(50% - 12px);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #e4e8f4;

    &:nth-child(even) {
      background-color: #f4f6fb;
    }
  }

  &__key {
    width: 100%;
    padding: 2.5px 10px;
    color: #686c90;
    font-size: 13px;
    line-height: 1;
  }

  &__value {
    margin: 0;
    padding: 2.5px;
    text-align: right;
    color: $dark;
    font-size: 13px;
    font-weight: $medium;
    line-height: 1;
  }

  &__toggle {
    display: inline-flex;
    align-items: center;
    margin-top: 30px;
    padding: 0;
    color: $accent;
    border: none;
    background-color: transparent;
    font-weight: $semibold;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.16em;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

    &::after {
      content: "";
      display: block;
    }
  }

  &__arrow {
    margin-left: 12px;
    transition: ease transform 300ms;
  }

  @media (max-width: $md) {
    flex-wrap: wrap;
    &__list {
      &.is-small {
        width: 100%;
      }
    }
  }

  @media (max-width: $m) {
    flex-direction: column;
  }
}
