/**
* logo
*/

.logo {
  $logo: &;

  display: block;
  width: 250px;
  height: 80px;
  background-image: url('/img/logo.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  text-decoration: none;
}
