/**
* widget
*/

.widget {
  $widget: &;

  &__title {
    margin: 0;
    color: $black;
    font-size: 19px;
    line-height: 1;
  }

  &__body {
    margin-top: 24px;

    & > .text {
      font-size: 17px;
      line-height: 1.76;
      color: $dark;
    }
  }
}
