//- dc

mixin dc(options = {})
  a.dc(
    href='#'
    title='Сделано для продвижения DANCECOLOR'
  )
    .dc__logo
    .dc__group
      .dc__caption cделано для продвижения
      .dc__title DANCECOLOR
