/**
* dc
*/

.dc {
  $dc: &;

  display: flex;
  align-items: center;
  text-decoration: none;

  &__logo {
    width: 25px;
    height: 25px;
    background-image: url('/img/dc-logo.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  &__group {
    margin-left: 10px;
  }

  &__caption {
    color: #686c90;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.02em;
  }

  &__title {
    margin-top: 5px;
    color: $dark;
    font-size: 17px;
    font-weight: $medium;
    line-height: 1;
    letter-spacing: 0.12em;
    text-transform: uppercase;
  }
}
