/**
* links
*/

.links {
  $links: &;

  &__list {
    display: flex;
    align-self: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    & + & {
      margin-left: 50px;
    }
  }

  &__link {
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    color: #686c90;
    text-decoration: none;
    transition: ease color 300ms;

    &:hover {
      color: $accent;
    }
  }
}
