//- links

mixin links(options = {})
  .links
    ul.links__list
      each item in options.items
        li.links__item
          a.links__link(
            href=item.url
            title=item.title
          )=item.title
