/**
* product-card
*/

.product-card {
  $product-card: &;

  &__slider {
  }

  &__info {
    padding-left: 30px;
    padding-right: 20px;
  }

  &__code {
    color: $dark;
    font-size: 16px;
    font-weight: $medium;
    line-height: 1;
  }

  &__params {
    margin-top: 35px;
  }

  &__order {
  }

  @media (max-width: $md) {
    &__info {
      padding: 0;
      margin-top: 30px;
    }

    &__order {
      margin-top: 30px;
    }
  }
}
