//- product-card

mixin product-card(options = {})
  .product-card
    .grid.is-row
      .col-4
        .product-card__slider
          +slider({ 
            slides: options.images
          })
      .col-4
        .product-card__info
          .product-card__code=options.code
          .product-card__params
            +params({
              className: 'is-wide',
              collapsed: true,
              items: options.params
            })

      .col-4
        .product-card__order
          +product-order(options.order)
