//- social

mixin social(options = {})
  .social
    ul.social__list
      each item in options.items
        li.social__item
          a.social__link(
            title=item.name
            area-label=item.name
            href=item.url
            target='_blank'
            class='is-' + item.name
          )
            svg.social__icon
              use(xlink:href='/img/sprite.svg#soc-' + item.name)
