/**
* social
*/

.social {
  $social: &;

  &__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    & + & {
      margin-left: 15px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    color: #b7bbe2;
    border-radius: 50%;
    border: 2px solid #e4e8f4;
    transition: ease color 300ms, ease border-color 300ms;

    &:hover {
      &.is-instagram {
        border-color: #c837ac;
        color: #c837ac;
      }

      &.is-facebook {
        border-color: #3b5998;
        color: #3b5998;
      }
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    color: currentColor;
  }
}
