/**
* feature
*/

.feature {
  $feature: &;

  &__icon {
    display: block;
    width: 96px;
    height: 70px;
    object-fit: contain;
  }

  &__text {
    margin: 0;
    margin-top: 20px;
    color: $white;
    font-size: 16px;
    line-height: 1.68;

    strong {
      font-weight: $semibold;
    }
  }
}
