/**
* filter
*/

.filter {
  $filter: &;

  .js-init & {
    max-height: 450px;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 80px;
      height: 80px;
      position: absolute;
      top: calc(50% - 40px);
      left: calc(50% - 40px);
      z-index: 1;
      background-image: url(/img/loading.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }

    #{$filter}__toggle {
      display: block;
    }

    #{$filter}__body {
      opacity: 0;
      transition: ease opacity 200ms;
    }
  }

  &.is-inited {
    max-height: none;

    &::after {
      display: none;
    }

    #{$filter}__body {
      opacity: 1;
    }
  }

  &__body {
  }

  &__fieldset {
    padding: 20px 0;
    position: relative;
    border: none;
    border-bottom: 2px solid #e4e8f4;

    &:first-child {
      border-top: 2px solid #e4e8f4;
    }

    &.is-open {
      #{$filter}__cross {
        transform: rotate(90deg);

        &::before {
          opacity: 0;
        }
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    border: none;
    position: relative;
  }

  &__title {
    display: block;
    margin: 0;
    padding: 0;
    color: $accent;
    font-size: 13px;
    font-weight: $semibold;
    line-height: 1.38;
    letter-spacing: 0.16em;
    text-transform: uppercase;
  }

  &__toggle {
    display: none;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    margin-left: 20px;
    padding: 0;
    position: static;
    background-color: transparent;
    border: none;
    color: #b7bbe2;
    cursor: pointer;
    transition: ease-out color 300ms;

    &:hover {
      color: $accent;
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: calc(100% + 40px);
      position: absolute;
      top: -20px;
      left: 0;
    }
  }

  &__cross {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    color: currentColor;
    transition: ease-out transform 300ms;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      top: calc(50% - 1px);
      left: 0;
      background-color: currentColor;
      transition: ease-out opacity 300ms;
    }

    &::after {
      width: 2px;
      height: 100%;
      top: 0;
      left: calc(50% - 1px);
    }
  }

  &__fields {
    padding: 10px 0;
  }

  &__field {
    margin-top: 15px;
  }

  &__footer {
    margin-top: 40px;
  }

  &__button {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: $m) {
    margin-bottom: 30px;
    &__fields {
      display: none;
    }
  }
}
