//- filter

mixin filter(options = {})
  form.filter.js-filter
    .filter__body
      each section in options.items
        fieldset.filter__fieldset.js-filter-fieldset(
          class=section.open ? 'is-open' : ''
        )
          .filter__header
            legend.filter__title=section.title
            button.filter__toggle.js-filter-toggle(
              type='button'
              area-label='Развернуть/Свернуть'
            )
              span.filter__cross
          .filter__fields.js-filter-fields
            each item, index in section.fields
              .filter__field
                +checkbox({
                  label: item.label,
                  amount: item.amount
                })(
                  name=section.type
                  value=index
                )

    .filter__footer
      .filter__button.is-hidden-with-js
        +button({
          label: 'отправить'
        })(
          class='is-wide is-lower'
        )
      .filter__button
        +button({
          label: 'сбросить'
        })(
          class='is-hollow is-lower is-grey is-wide'
          type='reset'
        )
