/**
* card
*/

.card {
  $card: &;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 470px;
  padding: 50px 60px;
  position: relative;
  z-index: 0;

  &.is-alt {
    min-height: 450px;
    padding: 55px 50px;

    &:after {
      background-color: $accent;
    }

    #{$card}__caption {
      font-size: 16px;
    }
  }

  &.is-small {
    min-height: 370px;
  }

  &.has-image {
    &::after {
      background-image: url("/img/card-contact-cover.jpg");
      background-repeat: no-repeat;
      background-position: 0% 100%;
      background-size: cover;
    }
  }

  &.has-cost {
    min-height: auto;

    &:after {
      background-color: $black;
    }

    #{$card}__title {
      color: #aabeff;
    }
  }

  &.has-left-shadow {
    &:before {
      $path: 30px 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%,
        0 100%, 0 30px;

      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: -10px;
      top: 10px;
      z-index: -2;
      background-color: $grey;
      clip-path: polygon($path);
    }
  }

  &.has-right-shadow {
    &:before {
      $path: 0 0, calc(100% - 30px) 0, 100% 30px, 100% 100%, 30px 100%,
        0 calc(100% - 30px);

      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 10px;
      top: 10px;
      z-index: -2;
      background-color: $grey;
      clip-path: polygon($path);
    }
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: $black;
  }

  &__title {
    max-width: 100%;
    color: $white;
    font-size: 12px;
    font-weight: $semibold;
    line-height: 1.8;
    letter-spacing: 0.16em;
    text-transform: uppercase;
  }

  &__body {
    max-width: 100%;
  }

  &__caption {
    margin: 0;
    margin-top: 40px;
    color: #aabeff;
    font-size: 20px;
    line-height: 1.65;
  }

  &__cost {
    margin: 0;
    margin-top: 65px;
    color: $white;
    font-size: 30px;
    font-weight: $semibold;
    line-height: 1.65;

    i {
      font-style: normal;
      font-size: 0.8em;
    }
  }

  @media (max-width: $s) {
    padding: 50px 16px;
  }
}
