//- card

mixin card(options = {})
  section.card(
    class=options.className ? options.className : ''
  )
    h4.card__title!=options.title
    .card__body
      if options.caption
        p.card__caption!=options.caption
      if options.cost
        p.card__cost!=options.cost
      if block
        block
