.product-row {
  font-size: 13px;
  font-weight: 500;
  color: #383e5e;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  p {
    margin: 0;
  }

  & + & {
    margin-top: 21px;
    padding-top: 21px;
    border-top: 1px solid #e4e8f4;
  }

  &__name {
    flex-shrink: 0;
    padding-right: 15px;
    display: flex;
    align-items: center;
    width: 190px;
    border-right: 1px solid #e4e8f4;

    a {
      text-decoration: none;
      color: #383e5e;
      font-weight: 500;
      font-size: 13px;
    }
  }

  &__image {
    margin-right: 10px;
  }

  &__body {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 62px;

    p {
      width: 168px;
    }
  }

  &__order {
    display: flex;
    align-items: center;
    width: 265px;
    justify-content: space-between;
  }

  &__price {
    font-size: 24px;
    font-weight: 600;
    color: #334da6;
    margin: 0;
  }

  &__button {
    width: 146px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__subname {
    display: none;
  }
  @media (max-width: 1200px) {
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    border: 1px solid #e4e8f4;
    padding: 25px 50px;
    & + & {
      margin-top: 0;
    }

    &__body {
      flex-direction: column;
      padding: 0;
    }

    &__image {
      display: none;
    }
    &__subname {
      display: block;
      font-size: 11px;
      color: #686c90;
      margin-top: 15px !important;
    }

    &__name {
      padding: 0;
      width: auto;
      border: none;
      flex-direction: column;
      align-items: flex-start;
    }

    &__order {
      margin-top: 15px;
      flex-direction: column;
      align-items: flex-start;
    }

    &__button {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    padding: 20px;
  }
}
