//- callback

mixin callback(options = {})
  .callback
    .callback__contact
      +contact(options.contact)
    .callback__button
      +button({ label: options.button })(
        data-modal='callback'
      )
