/**
* callback
*/

.callback {
  $callback: &;

  display: flex;
  align-items: center;
  justify-content: center;

  &__contact {
  }

  &__button {
    margin-left: 30px;
  }

  @media (max-width: $m) {
    flex-direction: column;

    &__contact {
      width: 100%;
      max-width: 335px;
    }

    &__button {
      margin-left: 0;
      margin-top: 30px;
    }
  }
}
