/**
* cats
*/

.cats {
  $cats: &;
  &__toggle {
    text-decoration: none;
    &.disabled {
      pointer-events: none;
    }
  }

  &.has-shadow {
    $gradient: linear-gradient(
      270deg,
      $accent 0%,
      rgba(51, 77, 166, 0) 50%,
      $accent 100%
    );
    $path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 25px),
      calc(100% - 25px) 100%,
      25px 100%,
      0 calc(100% - 25px)
    );

    position: relative;
    z-index: 0;

    &::before {
      content: "";
      display: block;
      width: calc(100% - 40px);
      height: 100%;
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: -1;
      opacity: 0.4;
      background-image: $gradient;
      clip-path: $path;
    }
  }

  &.is-alt {
    #{$cats}__item > .cat::before {
      border-color: #284092;
    }
  }

  &__type {
    display: flex;
    flex-wrap: wrap;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding: 0;
    position: relative;

    & + &:not(:nth-child(3n + 4)) > .cat::before {
      border-left: none;
    }

    &:nth-child(3) ~ & > .cat::before {
      border-top: none;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  &__description {
    text-transform: uppercase;
    color: #b7bbe2;
    width: 100%;
    font-size: 13px;
    margin: 0;
    &.is-right {
      text-align: right;
    }
  }

  &__toggle {
    border: none;
    background: none;
    font-size: 13px;
    color: #969aaa;
    text-transform: uppercase;
    font-weight: 500;
    transition: ease color 0.3s;
    font-family: Inter;
    padding: 0;
    cursor: pointer;

    &.is-active {
      color: #383e5e;
    }

    &:hover {
      color: #383e5e;
    }

    & + & {
      margin-left: 10px;
    }
  }

  &__sorting {
    position: relative;
  }

  &__box {
    position: absolute;
    z-index: $layer-10;
    background-color: $white;
    min-width: 250px;
    max-width: 270px;
    border: 1px solid $black;
    padding: 15px 10px;
    opacity: 1;
    visibility: visible;
    transform: translateY(10px);
    transition: opacity 0.3s $ease, visibility 0.3s $ease;

    &.is-hidden {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__drop {
    display: block;
    text-transform: uppercase;
    color: #383e5e;
    font-size: 13px;
    font-family: Inter;
    font-weight: 500;
    text-decoration: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    transition: color 0.3s $ease;

    & + & {
      margin-top: 15px;
    }

    &:hover {
      color: $accent;
    }

    &.is-current {
      &::after {
        content: "";
        position: absolute;
        left: calc(100% + 8px);
        top: calc(50% - 5px);
        width: 10px;
        height: 10px;
        background-image: url("/img/arrow.svg");
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  &__button {
    display: none;
  }

  @media (max-width: $m) {
    position: relative;
    &__type {
      max-height: 500px;
      overflow: auto;
      top: 50px;
      width: 100%;
      position: absolute;
      background-color: $white;
      flex-direction: column;
      flex-wrap: nowrap;
      z-index: 100;
      opacity: 0;
      transform: translateY(40px);
      visibility: hidden;
      transition: ease opacity 0.3s, ease transform 0.3s, ease visibility 0.3s;

      &.is-open {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
      }
    }

    &__button {
      display: block;
      border: none;
      border-radius: 8px;
      background-color: #ffffff;
      position: relative;
      height: 36px;
      color: #686c90;
      font-size: 14px;

      &::before {
        content: "";
        position: absolute;
        width: 36px;
        height: 36px;
        background-color: #334da6;
        right: -100px;
        top: 0;
        background-image: url("/img/cats-burger.svg");
        background-position: center;
        background-repeat: no-repeat;
      }

      &.is-open {
        &::before {
          background-image: url("/img/cats-close.svg");
        }
      }
    }
  }
}
