//- cats

mixin cats(options = {})
  .cats(
    class=options.className ? options.className : ''
  )
    ul.cats__list.grid
      each item in options.items
        li.cats__item.col-4
          +cat(item)
