//- product

mixin product(options = {})
  if options.type == 'min'
    article.product.is-small.js-product
      .product__cover
        img.product__image.js-product-image(
          src=''
          alt
        )
      .product__body
        header.product__header
          p.product__code.js-product-code=options.code
          h3.product__title.js-product-title=options.title
        .product__cost.js-product-cost
  else
    article.product(
      class=options.className ? options.className : ''
    )
      .product__cover
        img.product__image(
          src='/img/' + options.thumbnail
          alt=options.title
        )
      .product__body
        header.product__header
          p.product__code=options.code
          h3.product__title
            a.product__link(
              href='product.html'
              title=options.title
            )=options.title

        if options.params
          .product__params
            +params({
              items: options.params
            })

      if options.instock || options.cost
        footer.product__footer
          .product__instock=options.instock ? 'Товар в наличии' : 'Под заказ'
          .product__cost
            +cost(options.cost)
          .product__button
            +button({
              label: 'Заказать'
            })(
              class='is-small is-wide'
              data-modal='order'
              data-info=`{"id": "${options.id}", "image": "${`/img/${options.thumbnail}`}", "code": "${options.code}", "title": "${options.title}", "cost": "694 ₽" }`
            )
