/**
* product
*/

.product {
  $product: &;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 24px;
  background-color: $white;
  position: relative;
  align-items: center;

  &.is-small {
    padding: 0;
    text-align: left;

    &::before {
      display: none;
    }

    #{$product}__cover {
      width: 100px;
      height: 90px;
      background-color: $white;
    }

    #{$product}__body {
      margin-left: 30px;
    }

    #{$product}__cost {
      margin-top: 14px;
      color: $accent;
      font-size: 15px;
      font-weight: $semibold;
      line-height: 1;

      i {
        font-style: normal;
        font-size: 0.95em;
      }
    }
  }

  &.is-compact {
    height: 100%;
    padding: 20px;
    flex-direction: column;

    #{$product}__body {
      margin-left: 0;
      margin-top: 24px;
    }

    #{$product}__footer {
      margin-left: 0;
      margin-top: 16px;
    }

    #{$product}__instock {
      margin-top: 0;
      padding-bottom: 12px;
      border-bottom: 1px solid $grey;
    }

    #{$product}__cost {
      width: 100%;
      margin-top: 14px;
    }

    #{$product}__button {
      margin-top: 14px;
    }
  }

  &.is-simple {
    width: 100%;
    align-items: center;
    padding: 0;

    #{$product}__cover {
      width: 146px;
      height: 90px;
      background-color: $white;
    }

    &::before {
      display: none;
    }
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-shadow: 0 2px 12px rgba(11, 29, 90, 0.08);
    transition: ease opacity 300ms;
  }

  &__cover {
    width: 152px;
    height: 152px;
    margin: 0 auto;
    flex-shrink: 0;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__body {
    flex-grow: 1;
    margin-left: 20px;
    width: 100%;
  }

  &__header {
  }

  &__code {
    margin: 0;
    color: #686c90;
    font-size: 12px;
    line-height: 1;
  }

  &__title {
    margin: 0;
    margin-top: 10px;
    color: $black;
    font-size: 16px;
    font-weight: $medium;
    line-height: 1.31;
  }

  &__link {
    color: currentColor;
    text-decoration: none;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__params {
    margin-top: 30px;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: 40px;
  }

  &__instock {
    margin-top: 8px;
    color: $accent;
    font-size: 15px;
    font-weight: $semibold;
    line-height: 1;
  }

  &__instock + &__cost {
    margin-top: 28px;
  }

  &__cost + &__button {
    margin-top: 20px;
  }

  &__cost {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
  }

  &__button {
    position: relative;
    z-index: 1;
  }

  @media (max-width: $m) {
    flex-wrap: wrap;

    &__footer {
      margin-left: 0;
      width: 100%;
      margin-top: 35px;
    }
    &__body {
      margin-left: 0;
    }
  }
}
