include include/document

+document({
  id: 18,
})
  +section({
    className: 'is-margin-top-60'
  })
    .grid.is-row
      .col-6.shift-3
        +status({
          code: 404,
          title: 'Страница не найдена'
        })
