include include/document

+document({
  id: 10,
  title: 'Мы — компания РЕМСТАНМАШ',
  headline: {
    caption: 'добро пожаловать',
    title: 'Мы — компания РЕМСТАНМАШ',
    className: 'is-margin-bottom-140 is-about',
    text: '<p>Мы компания, которая сосредоточена на услугах модернизации электронных систем управления, интегрированных в станки с ЧПУ и другого оборудования промышленного назначения. Мы также разрабатываем и поставляем устройства для диагностики и ремонта промышленных электронных устройств.</p>',
    cover: 'hero-cover.jpg',
    breadcrumb: []
  }
})
  +section({
    className: 'is-margin-140',
    layout: 5,
    caption: 'наши стремления',
    title: 'Цели и стратегии',
  })
    .text
      p Некоторые компоненты образуют единую связку. Шаговый двигатель, драйвер, блок питания для привода – пример такой связки, в которой комплектующие должны соответствовать друг другу. Шпиндель и частотный преобразователь, винты и гайки в ШВП, зубчатая рейка и шестерня – то же самое. При замене одной запчасти в такой связке выбор делается, исходя из характеристик остальных используемых комплектующих.

  +section({
    className: 'is-margin-140',
    layout: 1,
    caption: 'что мы делаем',
    title: 'Бесперебойные поставки, ремонт и модернизация комплектующих для вашего производства',
    text: '<p>Шпиндель и частотный преобразователь, винты и гайки в ШВП, зубчатая рейка и шестерня – то же самое. При замене одной запчасти в такой связке выбор делается, исходя из характеристик остальных используемых комплектующих.</p>'
  })
    +card({
      className: 'has-left-shadow',
      title: 'предоставляем эффективные решения исходя из поставленных нужд',
      caption: 'Исключительно профессиональная и информативная поддержка всех наших клиентов'
    })

  +clients({
    clients: [
      {
        title: 'ООО «СмолМебель»',
        caption: 'Мебельная фабрика в Смоленске фабрика в Смоленске'
      },
      {
        title: 'ООО «СмолМебель» ООО «СмолМебель»',
        caption: 'Мебельная фабрика в Смоленске'
      },
      {
        title: 'ООО «СмолМебель»',
        caption: 'Мебельная фабрика в Смоленске'
      },
      {
        title: 'ООО «СмолМебель»',
        caption: 'Мебельная фабрика в Смоленске'
      },
      {
        title: 'ООО «РемТрансДеталь»',
        caption: 'Металлургическая компания'
      },
      {
        title: 'ООО «РемТрансДеталь»',
        caption: 'Металлургическая компания'
      },
      {
        title: 'ООО «РемТрансДеталь»',
        caption: 'Металлургическая компания'
      },
      {
        title: 'ООО «РемТрансДеталь»',
        caption: 'Металлургическая компания'
      },
      {
        title: 'ООО «СмолМебель»',
        caption: 'Мебельная фабрика в Смоленске'
      },
      {
        title: 'ООО «СмолМебель»',
        caption: 'Мебельная фабрика в Смоленске'
      },
      {
        title: 'ООО «СмолМебель»',
        caption: 'Мебельная фабрика в Смоленске'
      },
      {
        title: 'ООО «СмолМебель»',
        caption: 'Мебельная фабрика в Смоленске'
      },
      {
        title: 'ООО «РемТрансДеталь»',
        caption: 'Металлургическая компания'
      },
      {
        title: 'ООО «РемТрансДеталь»',
        caption: 'Металлургическая компания'
      },
      {
        title: 'ООО «РемТрансДеталь»',
        caption: 'Металлургическая компания'
      },
    ]
  })

  +section({
    className: 'is-white has-roll with-padding',
    caption: 'поставка оборудования',
    title: 'Только проверенные производители',
  })
    +roll({
      type: 'vendors',
      items: vendors,
      swiper: {
        spaceBetween: 0
      }
    })

  +section({
    className: 'with-padding is-padding-140'
  })
    .grid.is-row.is-middle
      .col-4
        +card({
          title: 'Контакты',
          className: 'is-small has-image has-right-shadow'
        })
          +contact({
            className: 'is-light',
            worktime: {
              day: 'пн-сб', time: '08:00 - 18:00'
            },
            phones: ['8 800 511 02 67', '8 919 046 48 49'], 
            address: 'Смоленск, Верхне-Сенная 4, оф. 409'
          })
      .col-6.shift-2
        +requisites({
          items: {
            'ИНН': '86200584412',
            'КПП': '862005844',
            'БИК': '862005844',
            'Р/С': '42307-920-3-0000-1-3625',
            'К/С': '301502682100000000600',
          }
        })
