include include/document

+document({
  id: 3,
  title: 'Станочная оснастка',
  headline: {
    title: 'Станочная оснастка',
    breadcrumb: [
      { url: 'catalog.html', title: 'Каталог продукции' }
    ]
  }
})

  +section({
    className: 'with-padding'
  })
    +collection({
      items: products,
      cats: {
        items: [
          { id: 1, url: 'subcategory.html', className: 'is-small', title: 'Станочная оснастка' },
          { id: 2, url: 'subcategory.html', className: 'is-small', title: 'Комплектующие для станков' },
          { id: 3, url: 'subcategory.html', className: 'is-small', title: 'Промышленное оборудование' },
          { id: 4, url: 'subcategory.html', className: 'is-small', title: 'Инструменты' },
          { id: 5, url: 'subcategory.html', className: 'is-small', title: 'Приборы для контроля точности' },
        ]
      },
      filter: {
        items: [
          {
            title: 'Производитель',
            open: true,
            type: 'vendor',
            fields: [
              { label: 'HEIDENHAIN', amount: 22 },
              { label: 'FANUC', amount: 14 },
              { label: 'BALLUFF', amount: 8 },
              { label: 'RENISNAW', amount: 3 },
              { label: 'SIEMENS', amount: 12 },
              { label: 'PRECIZIKA', amount: 6 },
              { label: 'OMRON', amount: 23 },
              { label: 'KELCH', amount: 21 },
              { label: 'Mario Pinto', amount: 19 },
              { label: 'Промышленная автоматика', amount: 36 },
            ]
          },
          {
            title: 'Наличие',
            type: 'instock',
            fields: [
              { label: 'В наличии' },
            ]
          },
        ]
      }
    })

  +section({
    className: 'is-white with-padding',
    layout: 3,
    title: 'Заголовок для SEO',
    text: '<p>Некоторые компоненты образуют единую связку. Шаговый двигатель, драйвер, блок питания для привода – пример такой связки, в которой комплектующие должны соответствовать друг другу. Шпиндель и частотный преобразователь, винты и гайки в ШВП, зубчатая рейка и шестерня – то же самое. При замене одной запчасти в такой связке выбор делается, исходя из характеристик остальных используемых комплектующих.</p><p>При покупке одной конкретной запчасти электромеханической группы лучше предоставить продавцу документацию на остальные компоненты связки, при замене запчастей в механике следует стремиться как минимум к тому, чтобы у них был один производитель. Для простейших комплектующих (термореле, концевые датчики, приводные ремни, радиальные и упорные подшипники для роторов шпинделя и приводов) в силу узкого набора базовых характеристик делается исключение.</p>'
  })
    +card({
      className: 'is-alt has-right-shadow',
      title: 'ремстанмаш — это решение конкретных задач',
      caption: 'Исключительно профессиональная и&nbsp;информативная поддержка всех наших клиентов'
    })

  +section({
    className: 'is-accent is-centred with-padding has-callback is-padding-100',
    title: 'Нужна консультация?',
    descr: 'Вы можете связаться с нами по номеру телефона либо оставить заявку и мы свяжемся с вами в течении 10 минут...'
  })
    +callback({
      contact: {
        className: 'is-alt',
        worktime: {
          day: 'пн-сб', time: '08:00 - 18:00'
        },
        phones: ['8 800 511 02 67']
      },
      button: 'заказать обратный звонок'
    })
