include include/document

+document({
  id: 13,
  title: 'Контакты',
  headline: {
    title: 'Контакты',
    breadcrumb: []
  }
})

  +section({
    className: 'is-collapse'
  })
    +ticket({
      form: {
        title: 'Написать нам',
        type: 'feedback'
      },
      contacts: {
        className: 'is-light',
        worktime: {
          day: 'пн-сб', time: '08:00 - 18:00'
        },
        phones: ['8 800 511 02 67', '8 919 046 48 49'], 
        items: [
          {
            label: 'Адрес',
            value: 'Смоленск, Верхне-Сенная 4, оф. 409'
          }
        ]
      },
      requisites: {
        className: 'is-light',
        items: {
          'ИНН': '86200584412',
          'КПП': '862005844',
          'БИК': '862005844',
          'Р/С': '42307-920-3-0000-1-3625',
          'К/С': '301502682100000000600',
        }
      }
    })

  +section({
    className: 'is-margin-top-60'
  })
    +map({
      map: {
        center: [54.783971136447,32.05281782209006], 
        zoom: 17,
        markers: [
          {
            address: '224036, Смоленск, Верхне-Сенная 4, оф. 409',
            coords: [54.783971136447,32.05481782209006],
            image: {
              href: '/img/marker.svg',
              size: [108, 88],
              offset: [-54, -84]
            }
          },
        ]
      }
    })

