include include/document

+document({
  id: 1,
  title: 'Главная',
  hero: {
    cover: 'hero-cover.jpg',
    title: 'Комплетующие, модернизация оборудования и&nbsp;системы мониторинга'
  }
})

  +section({
    className: 'is-collapse'
  })
    +cats({
      items: cats
    })

  +section({
    className: '',
    layout: 1,
    caption: 'ремстанмаш',
    title: 'Бесперебойные поставки и модернизация комплектующих для вашего производства',
    text: '<p>Мы компания, которая сосредоточена на услугах модернизации электронных систем управления, интегрированных в станки с ЧПУ и другого оборудования промышленного назначения. Мы также разрабатываем и поставляем устройства для диагностики и ремонта промышленных электронных устройств.</p>',
    link: {
      label: 'подробнее о компании',
      href: 'about.html'
    }
  })
    +card({
      className: 'has-left-shadow',
      title: 'предоставляем эффективные решения исходя из поставленных нужд',
      caption: 'Исключительно профессиональная и информативная поддержка всех наших клиентов'
    })

  +section({
    className: 'is-white has-roll with-padding',
    caption: 'поставка оборудования',
    title: 'Только проверенные производители',
  })
    +roll({
      type: 'vendors',
      items: vendors,
      swiper: {
        spaceBetween: 0
      }
    })

  +section({
    className: 'is-accent with-padding',
    layout: 2,
    caption: 'услуги ремстанмаш',
    title: 'Модернизация оборудования, системы мониторинга и ремонт',
    text: '<p>Услуги по модернизации электронных систем управления, а так же мониторинг станков и роботов являются главным профилем обслуживания наших постоянных клиентов.</p>'
  })
    +cats({
      className: 'has-shadow is-alt',
      items: [
        { 
          id: 9,
          title: 'Модернизация оборудования',
          className: 'is-alt',
        },
        { 
          id: 5,
          title: 'Система мониторинга станков и роботов',
          className: 'is-alt',
        },
        { 
          id: 7,
          title: 'Ремонт станков',
          className: 'is-alt',
        },
      ]
    })

  +section({
    className: 'is-grey is-centred with-padding',
    caption: 'из последнего',
    title: 'Новости и события'
  })
    +posts({
      items: [ posts[0], posts[1], posts[2] ]
    })

  +section({
    className: 'is-white with-padding',
    layout: 3,
    title: 'Заголовок для SEO',
    text: '<p>Некоторые компоненты образуют единую связку. Шаговый двигатель, драйвер, блок питания для привода – пример такой связки, в которой комплектующие должны соответствовать друг другу. Шпиндель и частотный преобразователь, винты и гайки в ШВП, зубчатая рейка и шестерня – то же самое. При замене одной запчасти в такой связке выбор делается, исходя из характеристик остальных используемых комплектующих.</p><p>При покупке одной конкретной запчасти электромеханической группы лучше предоставить продавцу документацию на остальные компоненты связки, при замене запчастей в механике следует стремиться как минимум к тому, чтобы у них был один производитель. Для простейших комплектующих (термореле, концевые датчики, приводные ремни, радиальные и упорные подшипники для роторов шпинделя и приводов) в силу узкого набора базовых характеристик делается исключение.</p>'
  })
    +card({
      className: 'is-alt has-right-shadow',
      title: 'ремстанмаш — это решение конкретных задач',
      caption: 'Исключительно профессиональная и&nbsp;информативная поддержка всех наших клиентов'
    })

  +section({
    className: 'is-accent is-centred with-padding has-callback is-padding-100',
    title: 'Нужна консультация?',
    descr: 'Вы можете связаться с нами по номеру телефона либо оставить заявку и мы свяжемся с вами в течении 10 минут...'
  })
    +callback({
      contact: {
        className: 'is-alt',
        worktime: {
          day: 'пн-сб', time: '08:00 - 18:00'
        },
        phones: ['8 800 511 02 67']
      },
      button: 'заказать обратный звонок'
    })
