include include/document

+document({
  id: 9,
  title: 'Мониторинг станков и роботов',
  headline: {
    title: 'Мониторинг станков и роботов',
    className: 'is-margin-bottom-120',
    text: '<p>Мы компания, которая сосредоточена на услугах модернизации электронных систем управления, интегрированных в станки с ЧПУ и другого оборудования промышленного назначения. Мы также разрабатываем и поставляем устройства для диагностики и ремонта промышленных электронных устройств.</p>',
    cover: 'monitoring-cover.jpg',
    breadcrumb: []
  }
})

  +section()
    .grid.is-row
      .col-8.shift-1
        .text
          p <strong>РемСтанМаш представляет</strong> вашему вниманию производственную аналитическую платформу DPA, выполняющую мониторинг станков с&nbsp;ЧПУ в&nbsp;режиме реального времени. Данная система является полностью российской разработкой.
          p DPA позволяет принимать оперативные решения, основываясь на объективной информации, полученной напрямую с производственного оборудования. Система мониторинга <strong>собирает всю информацию со станка</strong> так, как это предусмотрено производителем, сохраняя гарантию, соблюдая стандарты. То, что система является российской разработкой, позволяет использовать ее на&nbsp;любых предприятиях, в&nbsp;том числе ОПК.

  +section({
    className: 'is-white with-padding is-padding-80'
  })
    .grid.is-row
      .col-6
        +stages({
          title: 'Задачи мониторинга',
          items: [
            'обработка деталей в автоматическом и ручном режимах;',
            'ввод с пульта оператора или касеты внешней памяти (КВП) технологических управляющих программ (УП);',
            'сохранение и редактирование УП на флеш памяти устройства или КВП;',
            'ввод с пульта оператора или касеты внешней памяти (КВП) технологических управляющих программ (УП).',
          ]
        })
      .col-6
        +stages({
          className: 'is-solutions',
          title: 'Решения для мониторинга',
          items: [
            'обработка деталей в автоматическом и ручном режимах;',
            'ввод с пульта оператора или касеты внешней памяти (КВП) технологических управляющих программ (УП);',
            'сохранение и редактирование УП на флеш памяти устройства или КВП;',
            'ввод с пульта оператора или касеты внешней памяти (КВП) технологических управляющих программ (УП).',
          ]
        })

  +section({
    title: 'Системы мониторинга',
    className: 'is-grey'
  })
    +systems({
      items: [
        {
          title: 'Система мониторинга FANUC',
          vendor: {
            name: 'fanuc',
            logo: 'vendor-1.jpg',
            className: 'is-clear',
          },
          text: '<p>Функция FANUC SDF — наше лучшее средство для технического обслуживания ЧПУ и настройки открытых систем ЧПУ. Она предоставляет доступ к экрану ЧПУ с компьютера, тем самым упрощая использование инструмента удаленного обслуживания.</p>',
          results: [
            'Реальная картина работы и загруженности производственного оборудования.',
            'Возможность своевременной реакции на производственные события.',
            'Сотрудники знают, что показатели работы оборудования доступны руководству в полном объеме и в любое время.',
            'Возможность найти и устранить повторяющиеся проблемы.',
          ],
          files: [
            {
              type: 'pdf',
              title: 'Подробная инструкция по модернизации Fanuc',
              size: '3.35 Mb'
            },
            {
              type: 'docx',
              title: 'Подробная инструкция по модернизации инструкция по модернизации Fanuc',
              size: '3.35 Mb'
            },
          ]
        },
        {
          title: 'Система мониторинга Heidenhain',
          vendor: {
            name: 'heidenhain',
            logo: 'vendor-3.jpg',
            className: 'is-clear',
          },
          text: '<p>Функция Heidenhain — наше лучшее средство для технического обслуживания ЧПУ и настройки открытых систем ЧПУ. Она предоставляет доступ к экрану ЧПУ с компьютера, тем самым упрощая использование инструмента удаленного обслуживания.</p>',
          results: [
            'Реальная картина работы и загруженности производственного оборудования.',
            'Возможность своевременной реакции на производственные события.',
            'Сотрудники знают, что показатели работы оборудования доступны руководству в полном объеме и в любое время.',
          ],
          files: [
            {
              type: 'pdf',
              title: 'Подробная инструкция по модернизации Heidenhain',
              size: '3.35 Mb'
            },
          ]
        },
        {
          title: 'Система мониторинга FANUC',
          vendor: {
            name: 'fanuc',
            logo: 'vendor-5.jpg',
            className: 'is-clear',
          },
          text: '<p>Функция FANUC SDF — наше лучшее средство для технического обслуживания ЧПУ и настройки открытых систем ЧПУ. Она предоставляет доступ к экрану ЧПУ с компьютера, тем самым упрощая использование инструмента удаленного обслуживания.</p>',
          results: [
            'Реальная картина работы и загруженности производственного оборудования.',
            'Возможность своевременной реакции на производственные события.',
            'Сотрудники знают, что показатели работы оборудования доступны руководству в полном объеме и в любое время.',
            'Возможность найти и устранить повторяющиеся проблемы.',
          ],
          files: [
            {
              type: 'docx',
              title: 'Подробная инструкция по модернизации инструкция по модернизации Fanuc',
              size: '3.35 Mb'
            },
          ]
        },
        {
          title: 'Система мониторинга Heidenhain',
          vendor: {
            name: 'heidenhain',
            logo: 'vendor-4.jpg',
            className: 'is-clear',
          },
          text: '<p>Функция Heidenhain — наше лучшее средство для технического обслуживания ЧПУ и настройки открытых систем ЧПУ. Она предоставляет доступ к экрану ЧПУ с компьютера, тем самым упрощая использование инструмента удаленного обслуживания.</p>',
          results: [
            'Реальная картина работы и загруженности производственного оборудования.',
            'Возможность своевременной реакции на производственные события.',
            'Сотрудники знают, что показатели работы оборудования доступны руководству в полном объеме и в любое время.',
          ],
          files: [
            {
              type: 'pdf',
              title: 'Подробная инструкция по модернизации Heidenhain',
              size: '3.35 Mb'
            },
          ]
        },
      ]
    })

  +section({
    className: 'is-white with-padding is-padding-90',
    layout: 4,
    title: 'Системы мониторинга',
    text: '<p>Некоторые компоненты образуют единую связку. Шаговый двигатель, драйвер, блок питания для привода – пример такой связки, в которой комплектующие должны соответствовать друг другу. Шпиндель и частотный преобразователь, винты и гайки в ШВП, зубчатая рейка и шестерня – то же самое. При замене одной запчасти в такой связке выбор делается, исходя из характеристик остальных используемых комплектующих.</p><p>При покупке одной конкретной запчасти электромеханической группы лучше предоставить продавцу документацию на остальные компоненты связки, при замене запчастей в механике следует стремиться как минимум к тому, чтобы у них был один производитель. Для простейших комплектующих (термореле, концевые датчики, приводные ремни, радиальные и упорные подшипники для роторов шпинделя и приводов) в силу узкого набора базовых характеристик делается исключение.</p>'
  })
    img(
      src='/img/monitoring-system.jpg'
      alt='Системы мониторинга'
    )

  +section({
    className: 'is-accent is-centred with-padding has-callback is-padding-100',
    title: 'Нужна консультация?',
    descr: 'Вы можете связаться с нами по номеру телефона либо оставить заявку и мы свяжемся с вами в течении 10 минут...'
  })
    +callback({
      contact: {
        className: 'is-alt',
        worktime: {
          day: 'пн-сб', time: '08:00 - 18:00'
        },
        phones: ['8 800 511 02 67']
      },
      button: 'заказать обратный звонок'
    })
