include include/document

+document({
  id: 11,
  title: 'Новости и события',
  headline: {
    title: 'Новости и события',
    className: '',
    breadcrumb: []
  }
})
  +section()
    +posts({
      items: posts,
      hasPagination: true
    })
