include include/document

+document({
  id: 12,
  title: 'Семинар Heidenhain в Брянске',
  headline: {
    title: 'Семинар Heidenhain в Брянске',
    className: 'is-margin-bottom-0',
    date: '1 янв 2019',
    cover: 'post-cover.jpg',
    breadcrumb: [
      { title: 'Новости', url: 'news.html' }
    ]
  }
})

  +article({
    back: true
  })

  +section({
    className: 'has-roll is-grey',
    caption: 'В данной статье',
    title: 'Использовались комплектующие',
  })
    +roll({
      type: 'products',
      items: products
    })
