include include/document

+document({
  id: 4,
  title: 'Патрон сверлильный NORGAU SK50 DIN69871 D3-16',
  headline: {
    title: 'Патрон сверлильный NORGAU SK50 DIN69871 D3-16',
    breadcrumb: [
      { url: 'catalog.html', title: 'Каталог продукции' },
      { url: 'category.html', title: 'Станочная оснастка' },
      { url: 'category.html', title: 'Зажимные патроны SMW-Autoblok' },
    ]
  }
})

  +section({
    className: 'is-white with-padding is-padding-50'
  })
    +product-card({
      code: 'Арт. 031030630',
      order: {
        instock: false,
        cost: 733,
        vendor: {
          className: 'is-clear',
          name: "procizika",
          logo: "vendor-2.jpg"
        }
      },
      images: [
        'product-slide-1.jpg',
        'product-slide-2.jpg',
        'product-slide-1.jpg',
        'product-slide-1.jpg',
      ],
      params: {
        'F, мм': 4,
        'D1': 4,
        'BT': 40,
        'L, длина': 60,
        'С, диаметр': 19,
        'D3': 19,
        'M гайки': 'M16',
        'L1, длина': 35,
        'D, диаметр': 23,
        'D4': 10,
        'L, длина2': 60,
        'С, диаметр2': 19,
        'D32': 19,
        'M гайки2': 'M16',
        'L1, длина2': 35,
        'D, диаметр2': 23,
        'D42': 10,
      }
    })

  +section({
    className: 'is-accent with-padding is-padding-50'
  })
    +features({
      items: [
        { 
          id: 1,
          text: 'Точный расчет стоимости доставки производится на этапе <strong>оформления заказа</strong>.'
        },
        { 
          id: 2,
          text: 'Заказ поступит в исполнение после <strong>100% оплаты</strong>. Оплатить нужно в течении 5 дней.'
        },
        { 
          id: 3,
          text: '<strong>Оплатить</strong> можно банковской картой, по безналичному или банковскому переводу.'
        },
      ]
    })

  +section({
    className: 'is-margin-top-50'
  })
    +tabs({
      items: [
        {
          id: 1,
          type: 'descr',
          label: 'Описание и характеристики',
          name: 'descr',
          data: {
            params: {
              'F, мм': 4,
              'D1': 4,
              'BT': 40,
              'L, длина': 60,
              'С, диаметр': 19,
              'D3': 19,
              'M гайки': 'M16',
              'L1, длина': 35,
              'D, диаметр': 23,
              'D4': 10,
              'L, длина2': 60,
              'С, диаметр2': 19,
              'D32': 19,
              'M гайки2': 'M16',
              'L1, длина2': 35,
              'D, диаметр2': 23,
              'D42': 10,
            },
            descr: '<p>Некоторые компоненты образуют единую связку. Шаговый двигатель, драйвер, блок питания для привода – пример такой связки, в которой комплектующие должны соответствовать друг другу. Шпиндель и частотный преобразователь, винты и гайки в ШВП, зубчатая рейка и шестерня – то же самое. При замене одной запчасти в такой связке выбор делается, исходя из характеристик остальных используемых комплектующих.</p><p>При покупке одной конкретной запчасти электромеханической группы лучше предоставить продавцу документацию на остальные компоненты связки, при замене запчастей в механике следует стремиться как минимум к тому, чтобы у них был один производитель. Для простейших комплектующих (термореле, концевые датчики, приводные ремни, радиальные и упорные подшипники для роторов шпинделя и приводов) в силу узкого набора базовых характеристик делается исключение.</p>'
          }
        },
        {
          id: 2,
          type: 'files',
          label: 'Файлы',
          name: 'files',
          data: {
            files: [
              {
                type: 'pdf',
                title: 'Инструкция по эксплуатации',
                size: '3.35 Mb'
              },
              {
                type: 'pdf',
                title: 'Модификация и нормы использования данного агрегата',
                size: '3.35 Mb'
              },
              {
                type: 'pdf',
                title: 'Инструкция по эксплуатации',
                size: '3.35 Mb'
              },
            ]
          }
        },
        {
          id: 3,
          type: 'order',
          label: 'Данные для заказа',
          name: 'order',
        },
        {
          id: 4,
          type: 'features',
          label: 'Особенности применения',
          name: 'features',
        },
      ]
    })

  +section({
    className: 'has-roll is-grey',
    caption: 'комплектация',
    title: 'Может так же понадобиться',
  })
    +roll({
      type: 'products',
      items: products
    })

  +section({
    className: 'is-white with-padding',
    layout: 3,
    title: 'Заголовок для SEO',
    text: '<p>Некоторые компоненты образуют единую связку. Шаговый двигатель, драйвер, блок питания для привода – пример такой связки, в которой комплектующие должны соответствовать друг другу. Шпиндель и частотный преобразователь, винты и гайки в ШВП, зубчатая рейка и шестерня – то же самое. При замене одной запчасти в такой связке выбор делается, исходя из характеристик остальных используемых комплектующих.</p><p>При покупке одной конкретной запчасти электромеханической группы лучше предоставить продавцу документацию на остальные компоненты связки, при замене запчастей в механике следует стремиться как минимум к тому, чтобы у них был один производитель. Для простейших комплектующих (термореле, концевые датчики, приводные ремни, радиальные и упорные подшипники для роторов шпинделя и приводов) в силу узкого набора базовых характеристик делается исключение.</p>'
  })
    +card({
      className: 'is-alt has-right-shadow',
      title: 'ремстанмаш — это решение конкретных задач',
      caption: 'Исключительно профессиональная и&nbsp;информативная поддержка всех наших клиентов'
    })

  +section({
    className: 'is-accent is-centred with-padding has-callback is-padding-100',
    title: 'Нужна консультация?',
    descr: 'Вы можете связаться с нами по номеру телефона либо оставить заявку и мы свяжемся с вами в течении 10 минут...'
  })
    +callback({
      contact: {
        className: 'is-alt',
        worktime: {
          day: 'пн-сб', time: '08:00 - 18:00'
        },
        phones: ['8 800 511 02 67']
      },
      button: 'заказать обратный звонок'
    })
