include include/document

+document({
  id: 19,
  title: 'Модернизация оборудования на заводе «Таком-то»',
  headline: {
    title: 'Модернизация оборудования на заводе «Таком-то»',
    className: 'is-margin-bottom-120',
    date: '1 янв 2019',
    cover: 'upgrade-cover.jpg',
    breadcrumb: [
      { title: 'Модернизация оборудования', url: 'upgrade.html' }
    ]
  }
})

  +section()
    .grid.is-row
      .col-8.shift-1
        .text
          p <strong>РемСтанМаш представляет</strong> вашему вниманию производственную аналитическую платформу DPA, выполняющую мониторинг станков с&nbsp;ЧПУ в&nbsp;режиме реального времени. Данная система является полностью российской разработкой.
          p DPA позволяет принимать оперативные решения, основываясь на объективной информации, полученной напрямую с производственного оборудования. Система мониторинга <strong>собирает всю информацию со станка</strong> так, как это предусмотрено производителем, сохраняя гарантию, соблюдая стандарты. То, что система является российской разработкой, позволяет использовать ее на&nbsp;любых предприятиях, в&nbsp;том числе ОПК.

  +section()
    +compare({
      images: {
        before: 'compare-1.jpg',
        after: 'compare-2.jpg',
      }
    })

  +section()
    .grid.is-columns
      .col-12
        +image({
          lightbox: true,
          image: 'article-1.jpg',
          caption: 'Модернизация станка Traitmark NBC 1200K'
        })
      .col-6
        +image({
          lightbox: true,
          image: 'article-2.jpg',
          caption: 'Модернизация станка Traitmark NBC 1200K'
        })
      .col-6
        +image({
          lightbox: true,
          image: 'article-3.jpg',
          caption: 'Модернизация станка Traitmark NBC 1200K'
        })

  +section()
    .grid.is-row
      .col-5
        +card({
          className: 'is-alt has-right-shadow has-cost',
          title: 'итого за модернизацию',
          cost: '12 459 500 <i>₽</i>'
        })

  +section({
    className: 'is-white with-padding is-padding-80'
  })
    .grid.is-row
      .col-6
        +stages({
          title: 'Задачи по модернизации',
          items: [
            'обработка деталей в автоматическом и ручном режимах;',
            'ввод с пульта оператора или касеты внешней памяти (КВП) технологических управляющих программ (УП);',
            'сохранение и редактирование УП на флеш памяти устройства или КВП;',
            'ввод с пульта оператора или касеты внешней памяти (КВП) технологических управляющих программ (УП).',
          ]
        })
      .col-6
        +stages({
          className: 'is-solutions',
          title: 'Было сделано',
          items: [
            'обработка деталей в автоматическом и ручном режимах;',
            'ввод с пульта оператора или касеты внешней памяти (КВП) технологических управляющих программ (УП);',
            'сохранение и редактирование УП на флеш памяти устройства или КВП;',
            'ввод с пульта оператора или касеты внешней памяти (КВП) технологических управляющих программ (УП).',
          ]
        })

  +section({
    className: 'has-roll is-grey',
    caption: 'В данной статье',
    title: 'Использовались комплектующие',
  })
    +roll({
      type: 'products',
      items: products
    })

  +section()
    +ticket({
      className: 'has-arrow',
      title: 'Необходима подобная модернизация?',
      caption: 'Оставьте заявку и&nbsp;мы&nbsp;свяжемся с&nbsp;вами в&nbsp;ближайшее время для&nbsp;обсуждения всех деталей.',
      form: {
        type: 'order'
      }
    })
