include include/document

+document({
  id: 8,
  title: 'Ремонт оборудования',
  headline: {
    title: 'Ремонт оборудования',
    className: 'is-margin-bottom-120',
    text: '<p>Мы компания, которая сосредоточена на услугах модернизации электронных систем управления, интегрированных в станки с ЧПУ и другого оборудования промышленного назначения. Мы также разрабатываем и поставляем устройства для диагностики и ремонта промышленных электронных устройств.</p>',
    cover: 'upgrade-cover.jpg',
    breadcrumb: []
  }
})

  +section()
    +services({
      items: [
        {
          id: 6,
          title: 'ремонт шпинделей',
          text: 'CyTec, Colombo, Deckel Maho, Diebold, Elte, Fanuc, Fischer, Franz Kessler, GMN, GDZ, GDF, GDK,  Mazak, Heckert, HERMLE, HOMAG ,HSD, IBAG,  Omlat, Perske,  ROYAL, Seiko-Seiki, SKF ,Step Tec, Voumard,  ZYS, станков тайваньских производителей, отечественных координатно-расточных, шлифовальных, колесофрезерных станков.'
        },
        {
          id: 9,
          title: 'ремонт электрики',
          text: 'Некоторые компоненты образуют единую связку. Шаговый двигатель, драйвер, блок питания для привода – пример такой связки, в которой комплектующие должны соответствовать друг другу.'
        },
        {
          id: 2,
          title: 'ремонт комлектующих',
          text: 'Некоторые компоненты образуют единую связку. Шаговый двигатель, драйвер, блок питания для привода – пример такой связки, в которой комплектующие должны соответствовать друг другу.'
        },
      ]
    })

  +section()
    +image({
      image: 'image-1.jpg',
      caption: 'Модернизация станка Traitmark NBC 1200K'
    })

  +section({
    className: 'has-roll is-grey',
    caption: 'модернизация станков',
    title: 'Реализованные проекты',
  })
    +roll({
      type: 'posts',
      swiper: {
        slidesPerView: 3
      },
      items: projects
    })

  +section({
    className: 'is-white with-padding',
    layout: 3,
    title: 'Заголовок для SEO',
    text: '<p>Некоторые компоненты образуют единую связку. Шаговый двигатель, драйвер, блок питания для привода – пример такой связки, в которой комплектующие должны соответствовать друг другу. Шпиндель и частотный преобразователь, винты и гайки в ШВП, зубчатая рейка и шестерня – то же самое. При замене одной запчасти в такой связке выбор делается, исходя из характеристик остальных используемых комплектующих.</p><p>При покупке одной конкретной запчасти электромеханической группы лучше предоставить продавцу документацию на остальные компоненты связки, при замене запчастей в механике следует стремиться как минимум к тому, чтобы у них был один производитель. Для простейших комплектующих (термореле, концевые датчики, приводные ремни, радиальные и упорные подшипники для роторов шпинделя и приводов) в силу узкого набора базовых характеристик делается исключение.</p>'
  })
    +card({
      className: 'is-alt has-right-shadow',
      title: 'ремстанмаш — это решение конкретных задач',
      caption: 'Исключительно профессиональная и&nbsp;информативная поддержка всех наших клиентов'
    })

  +section({
    className: 'is-accent is-centred with-padding has-callback is-padding-100',
    title: 'Нужна консультация?',
    descr: 'Вы можете связаться с нами по номеру телефона либо оставить заявку и мы свяжемся с вами в течении 10 минут...'
  })
    +callback({
      contact: {
        className: 'is-alt',
        worktime: {
          day: 'пн-сб', time: '08:00 - 18:00'
        },
        phones: ['8 800 511 02 67']
      },
      button: 'заказать обратный звонок'
    })
