include include/document

+document({
  id: 16,
  title: 'Поиск по сайту',
  headline: {
    title: 'Поиск по сайту',
    breadcrumb: []
  }
})
  +section()
    .grid.is-row
      .col-9
        +search({
          form: {
            query: 'Чебурек',
            amount: 0
          },
        })
        
  +section({
    className: 'is-accent is-centred with-padding has-callback is-padding-100',
    title: 'Нужна консультация?',
    descr: 'Вы можете связаться с нами по номеру телефона либо оставить заявку и мы свяжемся с вами в течении 10 минут...'
  })
    +callback({
      contact: {
        className: 'is-alt',
        worktime: {
          day: 'пн-сб', time: '08:00 - 18:00'
        },
        phones: ['8 800 511 02 67']
      },
      button: 'заказать обратный звонок'
    })
