include include/document

+document({
  id: 15,
  title: 'Поиск по сайту',
  headline: {
    title: 'Поиск по сайту',
    breadcrumb: []
  }
})
  +section({
    className: 'is-margin-60'
  })
    .grid.is-row
      .col-9
        +search({
          form: {
            query: 'Heidenhein комплектующие',
            amount: 15
          },
          items: [
            {
              type: 'product',
              id: 1,
              code: 'Арт. 031030630',
              title: 'Штревель NORGAU MAS-BT ISO40 M16 30° с отверстием',
              instock: true,
              cost: { value: 733, label: 'Цена' },
              thumbnail: 'product-1.jpg',
              params: {
                'F,мм': 4,
                D1: 4,
                BT: 40,
                'L,длина': 60,
                'С,диаметр': 19,
                D3: 19,
                'M гайки': 'M16',
                'L1, длина': 35,
                'D, диаметр': 23,
                D4: 10
              }
            },
            {
              type: 'product',
              id: 2,
              code: 'Арт. 031030630',
              title: 'Штревель NORGAU DIN69872 ISO40 с отверстием',
              instock: true,
              cost: { value: 1694, label: 'Цена' },
              thumbnail: 'product-2.jpg',
              params: {
                'F, мм': 4,
                D1: 4,
                BT: 40,
                'L, длина': 60,
                'С, диаметр': 19,
                D3: 19,
                'M гайки': 'M16',
                'L1, длина': 35,
                'D, диаметр': 23,
                D4: 10
              }
            },
            {
              type: 'set',
              id: 1,
              code: 'Арт. 031030630',
              title: 'Универсальный фрезерный станок Jet JTM-2036PF DRO 380B',
              text: 'Все три оси станка приводятся в движение от мощного двигателя. Вращение передается через ШВП, что гарантирует высокую точность обработки изделия, а система УЦИ поможет повысить повторяемость.',
              cost: 26940,
              thumbnail: 'set-1.jpg'
            },
            {
              type: 'product',
              id: 1,
              code: 'Арт. 031030630',
              title: 'Штревель NORGAU MAS-BT ISO40 M16 30° с отверстием',
              instock: true,
              cost: { value: 733, label: 'Цена' },
              thumbnail: 'product-1.jpg',
              params: {
                'F,мм': 4,
                D1: 4,
                BT: 40,
                'L,длина': 60,
                'С,диаметр': 19,
                D3: 19,
                'M гайки': 'M16',
                'L1, длина': 35,
                'D, диаметр': 23,
                D4: 10
              }
            },
          ],
          hasPagination: true
        })
        
  +section({
    className: 'is-accent is-centred with-padding has-callback is-padding-100',
    title: 'Нужна консультация?',
    descr: 'Вы можете связаться с нами по номеру телефона либо оставить заявку и мы свяжемся с вами в течении 10 минут...'
  })
    +callback({
      contact: {
        className: 'is-alt',
        worktime: {
          day: 'пн-сб', time: '08:00 - 18:00'
        },
        phones: ['8 800 511 02 67']
      },
      button: 'заказать обратный звонок'
    })
