include include/document

+document({
  id: 8,
  title: 'Модернизация фрезерного станка Jet JTM-2036PF DRO 380B',
  headline: {
    title: 'Модернизация фрезерного станка Jet JTM-2036PF DRO 380B',
    breadcrumb: [
      { url: 'upgrade.html', title: 'Модернизация' },
      { url: 'upgrade.html', title: 'Фрейзерные станки' },
    ]
  }
})

  +section({
    className: 'is-white with-padding is-padding-50'
  })
    +set-card({
      code: 'Арт. 031030630',
      text: '<p>Станки модели ГФ2171 предназначены для многооперационной обработки деталей сложной конфигурации из стали, чугуна, цветных и легких металлов, а также других материалов. Наряду с фрезерными операциями на станках можно производить точное сверление, растачивание, зенкерование и развертывание отверстий.</p>',
      variations: {
        'Набор комплектации Heidenhein': 'от 25 000 ₽',
        'Набор комплектации Fanuc': 'от 35 000 ₽',
        'Набор комплектации Heidenhein2': 'от 25 000 ₽',
        'Набор комплектации Fanuc2': 'от 35 000 ₽',
      },
      images: [
        'set-slide-2.jpg',
        'set-slide-1.jpg',
        'set-slide-2.jpg',
        'set-slide-2.jpg',
      ]
    })

  +section({
    id: 'tabs',
    className: 'is-margin-top-50'
  })
    +tabs({
      className: 'is-equipment',
      items: [
        {
          id: 1,
          type: 'equipment',
          label: 'Комплектации',
          name: 'equipment',
          data: {
            equipment: {
              sets: [
                {
                  title: 'Комплектации Heidenhein',
                  caption: 'Набор Heidenhein',
                  cost: 'от 25 000 ₽',
                  total: '128 694 ₽',
                  products: [
                    {
                      code: 'Арт. 031030630',
                      title: 'Штревель NORGAU MAS-BT ISO40 M16 30° с отверстием',
                      cost: 733,
                      amount: 1,
                      thumbnail: 'product-1.jpg',
                    },
                    {
                      code: 'Арт. 031030630',
                      title: 'Модуль релейной коммутации выходов Heidenhein NC210-401',
                      cost: 4233,
                      amount: 2,
                      thumbnail: 'product-2.jpg',
                    },
                    {
                      code: 'Арт. 031030630',
                      title: 'Модуль индикации входов (32IN) NC210-402',
                      amount: 2,
                      thumbnail: 'product-3.jpg',
                    },
                    {
                      code: 'Арт. 031030630',
                      title: 'Выносной станочный пульт Heidenhein ТС110-78I',
                      cost: 1733,
                      amount: 1,
                      thumbnail: 'product-4.jpg',
                    },
                  ]
                },
                {
                  title: 'Комплектация Fanuc',
                  caption: 'Набор Fanuc',
                  cost: 'от 35 000 ₽',
                  total: '108 220 ₽',
                  products: [
                    {
                      code: 'Арт. 031030630',
                      title: 'Штревель NORGAU MAS-BT ISO40 M16 30° с отверстием',
                      cost: 733,
                      amount: 1,
                      thumbnail: 'product-1.jpg',
                    },
                    {
                      code: 'Арт. 031030630',
                      title: 'Модуль релейной коммутации выходов Heidenhein NC210-401',
                      cost: 4233,
                      amount: 2,
                      thumbnail: 'product-2.jpg',
                    },
                  ]
                },
                {
                  title: 'Комплектация Siemens',
                  caption: 'Набор Siemens',
                  cost: 'от 65 000 ₽',
                  total: '95 110 ₽',
                  products: [
                    {
                      code: 'Арт. 031030630',
                      title: 'Модуль индикации входов (32IN) NC210-402',
                      amount: 2,
                      thumbnail: 'product-3.jpg',
                    },
                    {
                      code: 'Арт. 031030630',
                      title: 'Выносной станочный пульт Heidenhein ТС110-78I',
                      cost: 1733,
                      amount: 1,
                      thumbnail: 'product-4.jpg',
                    },
                  ]
                },
                {
                  title: 'Комплектации Fanuc',
                  caption: 'Набор Fanuc',
                  cost: 'от 35 000 ₽',
                  total: '145 320 ₽',
                  products: [
                    {
                      code: 'Арт. 031030630',
                      title: 'Модуль релейной коммутации выходов Heidenhein NC210-401',
                      cost: 4233,
                      amount: 2,
                      thumbnail: 'product-2.jpg',
                    },
                    {
                      code: 'Арт. 031030630',
                      title: 'Модуль релейной коммутации выходов Heidenhein NC210-401',
                      cost: 4233,
                      amount: 2,
                      thumbnail: 'product-2.jpg',
                    },
                    {
                      code: 'Арт. 031030630',
                      title: 'Модуль индикации входов (32IN) NC210-402',
                      amount: 2,
                      thumbnail: 'product-3.jpg',
                    },
                  ]
                },
              ],
            }
          }
        },
        {
          id: 2,
          type: 'descr',
          label: 'Описание',
          name: 'descr',
          data: {
            descr: '<p>Некоторые компоненты образуют единую связку. Шаговый двигатель, драйвер, блок питания для привода – пример такой связки, в которой комплектующие должны соответствовать друг другу. Шпиндель и частотный преобразователь, винты и гайки в ШВП, зубчатая рейка и шестерня – то же самое. При замене одной запчасти в такой связке выбор делается, исходя из характеристик остальных используемых комплектующих.</p><p>При покупке одной конкретной запчасти электромеханической группы лучше предоставить продавцу документацию на остальные компоненты связки, при замене запчастей в механике следует стремиться как минимум к тому, чтобы у них был один производитель. Для простейших комплектующих (термореле, концевые датчики, приводные ремни, радиальные и упорные подшипники для роторов шпинделя и приводов) в силу узкого набора базовых характеристик делается исключение.</p>'
          }
        },
      ]
    })

  +section({
      className: 'has-roll is-grey',
      caption: 'модернизация станков',
      title: 'Реализованные проекты',
    })
      +roll({
        type: 'posts',
        swiper: {
          slidesPerView: 3
        },
        items: projects
      })

  +section({
    className: 'is-accent is-centred with-padding has-callback is-padding-100',
    title: 'Нужна консультация?',
    descr: 'Вы можете связаться с нами по номеру телефона либо оставить заявку и мы свяжемся с вами в течении 10 минут...'
  })
    +callback({
      contact: {
        className: 'is-alt',
        worktime: {
          day: 'пн-сб', time: '08:00 - 18:00'
        },
        phones: ['8 800 511 02 67']
      },
      button: 'заказать обратный звонок'
    })
