include include/document

+document({
  id: 14,
  title: 'Типовая',
  headline: {
    title: 'Типовая',
    breadcrumb: []
  }
})
  +section()
    .text
      p.
        Система ЧПУ НЦ31-10Р выполнена на современной элементной базе и представляет собой двухплатный аналог УЧПУ НЦ-31, устанавливается <strong>оправка для сверл NORGAU BT40 MAS403BT MK1x50</strong> на место УЧПУ НЦ31 и имеет стандартные размеры и разъемы подключения. Функционально система полностью повторяет УЧПУ «Электроника НЦ-31» (версии 2, 3, 4, 4 расширенная), что позволяет использовать ранее написанные технологические программы, инструкции поставляемые с УЧПУ НЦ-31 и обеспечивает работу операторов, технологов, программистов без дополнительного обучения.
      p.
        Система ЧПУ НЦ31-10Р выполнена на современной элементной базе и представляет собой двухплатный аналог УЧПУ НЦ-31, устанавливается <strong>оправка для сверл NORGAU BT40 MAS403BT MK1x50</strong> на место УЧПУ НЦ31 и имеет стандартные размеры и разъемы подключения. Функционально система полностью повторяет УЧПУ «Электроника НЦ-31» (версии 2, 3, 4, 4 расширенная).
