include include/document

+document({
  id: 6,
  title: 'Комплектующие Heidenhain',
  headline: {
    title: 'Комплектующие Heidenhain',
    breadcrumb: [
      { url: 'vendors.html', title: 'Производители' }
    ]
  }
})
  +section({
    className: 'with-padding'
  })
    +collection({
      items: products,
      vendor: {
        name: 'heidenhain',
        className: 'is-full',
        logo: 'vendor-3.jpg',
        caption: 'Концерн Heidenhain разрабатывает и производит датчики измерения и индикации для систем ЧПУ, требующих высокой точности.'
      },
      filter: {
        items: [
          {
            title: 'наименование',
            open: true,
            type: 'name',
            fields: [
              { label: 'Комплектующие', amount: 22 },
              { label: 'Частотные преобразователи', amount: 14 },
              { label: 'Датчики перемещения', amount: 8 },
              { label: 'Оптические преобразователи', amount: 3 },
              { label: 'Системы УЧПУ', amount: 12 },
            ]
          },
          {
            title: 'Наличие',
            type: 'instock',
            fields: [
              { label: 'В наличии' },
            ]
          },
        ]
      }
    })

  +section({
    className: 'is-white with-padding',
    layout: 3,
    title: 'Заголовок для SEO',
    text: '<p>Некоторые компоненты образуют единую связку. Шаговый двигатель, драйвер, блок питания для привода – пример такой связки, в которой комплектующие должны соответствовать друг другу. Шпиндель и частотный преобразователь, винты и гайки в ШВП, зубчатая рейка и шестерня – то же самое. При замене одной запчасти в такой связке выбор делается, исходя из характеристик остальных используемых комплектующих.</p><p>При покупке одной конкретной запчасти электромеханической группы лучше предоставить продавцу документацию на остальные компоненты связки, при замене запчастей в механике следует стремиться как минимум к тому, чтобы у них был один производитель. Для простейших комплектующих (термореле, концевые датчики, приводные ремни, радиальные и упорные подшипники для роторов шпинделя и приводов) в силу узкого набора базовых характеристик делается исключение.</p>'
  })
    +card({
      className: 'is-alt has-right-shadow',
      title: 'ремстанмаш — это решение конкретных задач',
      caption: 'Исключительно профессиональная и&nbsp;информативная поддержка всех наших клиентов'
    })

  +section({
    className: 'is-accent is-centred with-padding has-callback is-padding-100',
    title: 'Нужна консультация?',
    descr: 'Вы можете связаться с нами по номеру телефона либо оставить заявку и мы свяжемся с вами в течении 10 минут...'
  })
    +callback({
      contact: {
        className: 'is-alt',
        worktime: {
          day: 'пн-сб', time: '08:00 - 18:00'
        },
        phones: ['8 800 511 02 67']
      },
      button: 'заказать обратный звонок'
    })
