//- modal

mixin modal-callback()
  #modal-callback
    .modal__header
      h3.modal__title Обратный звонок
    .modal__body
      +form({
        type: 'callback',
        className: 'in-modal'
      })

mixin modal-order()
  #modal-order
    .modal__header
      h3.modal__title.js-modal-title
      .modal__product.js-modal-product
        +product({ type: 'min' })
    .modal__body
      +form({
        type: 'order',
        className: 'in-modal'
      })

mixin modal-default()
  #modal.js-modal-default

mixin modal-template()
  .modal__container.js-modal-container
    button.modal__close(
      data-modal-close
    ) Закрыть
    .modal__inner.js-modal-inner
      .modal__content.js-modal-content

mixin modal()
  .modal.js-modal
    +modal-template()

    .modal__list
      //- +modal-default()
      +modal-callback()
      +modal-order()
