/**
* modal
*/

.modal {
  $modal: &;
  $init: '.modal-init';
  $visible: '.modal-visible';
  $speed: 350ms;

  [data-current-modal*='callback'] &__inner {
    max-width: 480px;
  }

  [data-current-modal*='callback'] &__title {
    display: block;
  }

  [data-current-modal*='order'] &__title {
    text-transform: uppercase;
  }

  &__container {
    display: none;
    position: relative;
  }

  &__list {
    display: none;
  }

  &__inner {
    width: 100%;
    max-width: 700px;
    min-height: 220px;
    margin: auto;
    padding: 0;
    align-self: center;
    position: relative;
    z-index: -1;
    background-color: $white;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity $speed $ease, transform $speed $ease, z-index 0s $speed;
  }

  #{$init} &__container > * {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align: left;
  }

  #{$init} &__container {
    display: flex;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: rgba(243, 245, 246, 0.99);
    z-index: -1;
    opacity: 0;
    transition: opacity $speed $ease, z-index 0s $speed;
    text-align: center;
    white-space: nowrap;
  }

  [data-current-modal] &__container {
    position: fixed;
  }

  #{$init}#{$visible} &__container {
    z-index: $layer-5;
    opacity: 1;
    transition: opacity $speed $ease;
  }

  #{$visible} &__inner {
    z-index: $layer-1;
    opacity: 1;
    transform: translateY(0);
    transition: opacity $speed $ease, transform $speed $ease;
  }

  &__header {
    padding: 30px;
    border-bottom: 1px solid #e4e8f4;
    text-align: center;
  }

  &__product {
    display: none;
  }

  &__title {
    display: none;
    margin: 0;
    color: $dark;
    line-height: 1;
    font-size: 24px;
    text-align: center;
  }

  &__close {
    display: flex !important;
    align-items: center;
    padding: 0;
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 1;
    border: none;
    background-color: transparent;
    color: #686c90;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    cursor: pointer;

    &::after {
      content: '';
      display: block;
      width: 22px;
      height: 22px;
      margin-left: 15px;
      background-image: url('/img/i-close2.svg');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }
  }

  &__content {
    position: relative;
  }
}
