//- search-form

mixin search-form(options = {})
  form.search-form(
    action='search.html'
  )
    label.search-form__label(
      for='search-field'
    ) Вы искали
    .search-form__field
      input.search-form__input(
        id='search-field'
        type='search'
        name='q'
        autofocus
        value=options.query || null
      )
      p.search-form__amount='Найдено ' + options.amount + ' совпадений'

    if options.amount == 0
      p.search-form__message По вашему запросу ничего не найдено! Попробуйте изменить ваш запрос...
      .search-form__link
        +link({
          direction: 'back',
          label: 'Вернуться назад'
        })(
          href='/'
          class='is-light'
        )
