/**
* search-form
*/

.search-form {
  $search-form: &;

  width: 100%;
  padding: 40px 50px;
  background-color: $second;
  line-height: 1;

  &__label {
    color: #aabeff;
    font-size: 11px;
    font-weight: $semibold;
    line-height: 1;
    letter-spacing: 0.16em;
    text-transform: uppercase;
  }

  &__field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding-left: 32px;
    position: relative;
    border-bottom: 2px solid #334da6;

    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0;
      top: calc(50% - 10px);
      background-image: url("/img/i-search-grey.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }
  }

  &__input {
    padding: 10px 0;
    flex-grow: 1;
    color: $white;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-family: $font-family;
    line-height: 1;

    @supports (font-variation-settings: normal) {
      font-family: $font-family-var;
    }
  }

  &__amount {
    margin: 0;
    margin-left: 15px;
    color: #aabeff;
    font-size: 13px;
    line-height: 1;
  }

  &__message {
    margin: 0;
    margin-top: 55px;
    color: $white;
    font-size: 20px;
    line-height: 1.8;
  }

  &__link {
    margin-top: 25px;
  }

  @media (max-width: $m) {
    &__amount {
      display: none;
    }
  }
}
