/**
* cost
*/

.cost {
  $cost: &;

  position: relative;
  z-index: 1;

  &.is-wide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    #{$cost}__value,
    #{$cost}__checkprice {
      margin-top: 0;
    }

    #{$cost}__checkprice {
      color: $dark;
    }
  }

  &.is-large {
    #{$cost}__value {
      font-size: 24px;
    }
  }

  &.is-small {
    #{$cost}__value {
      font-size: 15px;

      i {
        font-size: 0.95em;
      }
    }
  }

  &__caption {
    color: #686c90;
    font-size: 12px;
    line-height: 1;
  }

  &__value {
    color: $accent;
    font-size: 19px;
    font-weight: $semibold;
    line-height: 1;
    transition: ease color 400ms;

    i {
      font-style: normal;
      font-size: 0.8em;
    }
  }

  &__checkprice {
    display: inline-block;
    color: $accent;
    padding: 0;
    border: none;
    background-color: $white;
    font-family: $font-family;
    font-size: 15px;
    font-weight: $semibold;
    line-height: 1;
    cursor: pointer;
  }

  &__caption + &__checkprice,
  &__caption + &__value {
    margin-top: 7px;
  }
}
