//- cost

mixin cost(options = {})
  - var isWide = options.className == 'is-wide'
  - var relative = options.relative ? 'от ' : ''

  .cost(
    class=options.className ? options.className : ''
  )
    if options.label
      .cost__caption=options.label
    if options.value
      .cost__value #{relative}#{numberFormat(options.value)} <i>₽</i>
    else
      button.cost__checkprice='Цену уточняйте' + (isWide ? '' : ' →')
