//- contact

mixin contact(options = {})
  address.contact(
    class=options.className ? options.className : ''
  )
    if options.items
      dl.contact__list
        each item in options.items
          .contact__item
            dt.contact__label=item.label
            dd.contact__value=item.value

    .contact__group
      if options.worktime
        .contact__worktime
          .contact__day=options.worktime.day
          .contact__time=options.worktime.time

      if options.phones
        ul.contact__phones
          each phone in options.phones
            li.contact__phone=phone

    if options.address
      .contact__address=options.address
