/**
* contact
*/

.contact {
  $contact: &;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;

  &.is-alt {
    background-color: rgba(170, 190, 255, 0.1);
    border-radius: 4px;
    padding: 18px 40px 16px;

    #{$contact}__worktime {
      color: #aabeff;
    }

    #{$contact}__phone {
      color: $white;
      font-size: 22px;
    }
  }

  &.is-light {
    #{$contact}__label,
    #{$contact}__worktime {
      color: #aabeff;
    }

    #{$contact}__phone,
    #{$contact}__value,
    #{$contact}__address {
      color: $white;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
  }

  &__label {
    color: #b7bbe2;
    font-size: 11px;
    line-height: 1;
    letter-spacing: 0.16em;
    text-transform: uppercase;
  }

  &__value {
    margin: 0;
    margin-top: 10px;
    color: $second;
    font-size: 16px;
    line-height: 1.68;
  }

  &__list + &__group {
    margin-top: 30px;
  }

  &__worktime {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #b7bbe2;
    font-size: 12px;
    font-weight: $semibold;
    letter-spacing: 0.16em;
    line-height: 1;
    text-transform: uppercase;
  }

  &__day {
    font-size: 11px;
  }

  &__time {
  }

  &__phones {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    list-style: none;
  }

  &__phone {
    &.is-alt {
      a {
        color: #fff;
      }
    }
    a {
      color: $second;
      font-size: 20px;
      font-weight: $medium;
      letter-spacing: 0.04em;
      line-height: 1;
      text-decoration: none;
    }

    & + & {
      margin-top: 12px;
    }
  }

  &__phones + &__email {
    margin-top: 5px;
  }

  &__email {
    display: block;
    color: #b7bbe2;
    font-size: 14px;
    font-weight: $regular;
    text-decoration: none;
    transition: ease color 300ms;

    &:hover {
      color: #475eae;
    }
  }

  &__address {
    margin-top: 22px;
    color: $second;
    font-size: 16px;
    font-weight: $regular;
    line-height: 1.68;
  }

  @media (max-width: 1000px) {
    &__worktime {
      display: none;
    }
  }
}
