//- cat

mixin cat(options = {})
  article.cat(
    class=options.className ? options.className : ''
    class=options.active ? 'is-active' : ''
  )
    .cat__icon
      +icon('service-' + options.id)
    header.cat__header
      .cat__group
        h3.cat__title
          if options.active || options.type == 'span'
            span.cat__label=options.title
          else
            a.cat__link(
              href=options.url ? options.url : 'category.html'
              title=options.title
            )=options.title
        if options.cost
          .cat__cost
            +cost({
              relative: true,
              className: 'is-small',
              value: options.cost
            })
      span.cat__arrow
        svg(
          viewBox='0 0 19.4 22.8'
        )
          path( stroke='currentColor' stroke-width='2' fill='none' d='M9,20.4v-18l9,9L9,20.4z')
          path( stroke='currentColor' stroke-width='2' fill='none' d='M18,11.4H0')
