/**
* cat
*/

.cat {
  $cat: &;

  $speed: 400ms;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 220px;
  padding: 25px;
  padding-left: 30px;
  position: relative;
  z-index: 0;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    border: 2px solid #f1f3f9;
    background-color: $white;
  }

  &::after {
    z-index: -1;
    border: none;
    background-color: $second;
    opacity: 0;
    transition: ease opacity $speed;
  }

  .is-active > &,
  &.is-active {
    pointer-events: none;

    &::before {
      border-color: $accent;
      border-bottom: 3px solid $second;
      background-color: $accent;
    }

    &::after {
      display: none;
    }

    #{$cat}__title {
      color: $white;
    }

    #{$cat}__arrow {
      color: #aabdff;
      transform: rotate(90deg);

      path:first-child {
        stroke-dashoffset: 32;
        stroke-dasharray: 18 36;
      }
    }

    #{$cat}__cost {
      .cost__value {
        color: $white;
      }
    }
  }

  &.is-small {
    height: 36px;
    align-items: center;
    flex-direction: row;
    padding: 13px 25px;
    padding-right: 20px;
    background-color: #fff;
    width: auto;
    border-radius: 4px;
    margin-bottom: 8px;
    margin-right: 8px;

    &::after {
      display: none;
    }

    &.is-active {
      background-color: #1d337e;
    }

    &:hover {
      background-color: #1d337e;
    }

    #{$cat}__icon {
      display: none;
    }

    #{$cat}__header {
      margin: 0;
    }

    #{$cat}__title {
      font-size: 14px;
      font-weight: $medium;
      line-height: 1.42;
      letter-spacing: 0;
      text-transform: none;
    }

    #{$cat}__arrow {
      display: none;
    }

    &::before {
      display: none;
    }
  }

  &.is-equipment {
    padding: 13px 20px;
  }

  &.is-alt {
    &::before {
      background-color: $second;
    }

    &::after {
      background-color: $white;
    }

    #{$cat}__title {
      color: $white;
    }

    #{$cat}__arrow {
      color: $accent;
    }

    #{$cat}__icon {
      path[stroke="#334DA6"] {
        stroke: #aabdff;
      }
      path[fill="#334DA6"] {
        fill: #aabdff;
      }
      path[stroke="#D3D8E8"] {
        stroke: $accent;
      }
      path[fill="#D3D8E8"] {
        fill: $accent;
      }
      rect[stroke="#334DA6"] {
        stroke: #aabdff;
      }
      rect[fill="#334DA6"] {
        fill: #aabdff;
      }
      rect[stroke="#D3D8E8"] {
        stroke: $accent;
      }
      rect[fill="#D3D8E8"] {
        fill: $accent;
      }
    }

    .body:not(.is-ie) &:hover {
      #{$cat}__title {
        color: $dark;
      }

      #{$cat}__arrow {
        color: $accent;
      }

      #{$cat}__icon {
        path[stroke="#334DA6"] {
          stroke: $accent;
        }
        path[fill="#334DA6"] {
          fill: $accent;
        }
        path[stroke="#D3D8E8"] {
          stroke: #d3d8e8;
        }
        path[fill="#D3D8E8"] {
          fill: #d3d8e8;
        }
        rect[stroke="#334DA6"] {
          stroke: $accent;
        }
        rect[fill="#334DA6"] {
          fill: $accent;
        }
        rect[stroke="#D3D8E8"] {
          stroke: #d3d8e8;
        }
        rect[fill="#D3D8E8"] {
          fill: #d3d8e8;
        }
      }
    }
  }

  &__icon {
    line-height: 0;
    max-height: 80px;

    path {
      transition: ease fill $speed, ease stroke $speed;
    }

    rect {
      transition: ease fill $speed, ease stroke $speed;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }

  &__title {
    margin-right: 15px;
    color: $dark;
    font-size: 13px;
    font-weight: $semibold;
    line-height: 1.38;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    transition: ease color $speed;
  }

  &__title + &__cost {
    margin-top: 3px;
  }

  &__button,
  &__label,
  &__link {
    display: inline-block;
    color: currentColor;
    text-decoration: none;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }
  }

  &__button {
    padding: 0;
    background-color: transparent;
    border: none;
    font-family: $font-family;
    font-weight: $medium;
    text-align: left;
    cursor: pointer;

    @supports (font-variation-settings: normal) {
      font-family: $font-family-var;
    }
  }

  &__arrow {
    display: inline-block;
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    color: $grey;

    svg {
      width: 100%;
      height: 100%;
    }

    path {
      transition: ease stroke-dashoffset $speed, ease stroke-dasharray $speed;
    }

    path:first-child {
      stroke-dasharray: 27 27;
      stroke-dashoffset: 9;
    }
  }

  .body:not(.is-ie) &:hover {
    &::after {
      opacity: 1;
    }

    #{$cat}__cost {
      .cost__value {
        color: $white;
      }
    }

    #{$cat}__icon {
      path[stroke="#334DA6"] {
        stroke: #aabdff;
      }
      path[fill="#334DA6"] {
        fill: #aabdff;
      }
      path[stroke="#D3D8E8"] {
        stroke: $accent;
      }
      path[fill="#D3D8E8"] {
        fill: $accent;
      }
      rect[stroke="#334DA6"] {
        stroke: #aabdff;
      }
      rect[fill="#334DA6"] {
        fill: #aabdff;
      }
      rect[stroke="#D3D8E8"] {
        stroke: $accent;
      }
      rect[fill="#D3D8E8"] {
        fill: $accent;
      }
    }

    #{$cat}__title {
      color: $white;
    }

    #{$cat}__arrow {
      color: $white;
    }
  }

  &:hover {
    #{$cat}__arrow {
      path:first-child {
        stroke-dashoffset: 36;
      }
    }
  }

  @media (max-width: $m) {
    &.is-small {
      background: none;
    }
  }
}
