//- header

mixin header(params)
  .header
    .header__top
      .container
        .header__inner
          .header__logo
            +logo(params)
          .header__nav
            +nav({
              items: [
                { url: '/about.html', title: 'О компании' },
                { url: '/news.html', title: 'Новости' },
                { url: '/single.html', title: 'Оплата и доставка' },
                { url: '/contacts.html', title: 'Контакты' },
              ]
            })
          .header__contact
            +contact({
              worktime: {
                day: 'пн-сб', time: '08:00 - 18:00'
              },
              phones: ['8 800 511 02 67']
            })

    .header__bottom
      .container
        .header__inner
          .header__menu
            +menu({
              items: [
                { 
                  url: '/catalog.html',
                  title: 'Каталог продукции',
                  catalog: true,
                  list: [
                    {
                      title: 'Станочная оснастка',
                      list: [
                        'Инструмент и оснастка Norgau',
                        'Зажимные приспособления OML',
                        'Инструменты Kennametal',
                        'Приводной инструмент Mario Pinto',
                        'Инструмент и оснастка Norgau',
                        'Зажимные приспособления OML',
                        'Инструменты Kennametal',
                        'Приводной инструмент Mario Pinto',
                        'Инструмент и оснастка Norgau',
                        'Зажимные приспособления OML',
                        'Инструменты Kennametal',
                        'Приводной инструмент Mario Pinto',
                        'Инструмент и оснастка Norgau',
                        'Зажимные приспособления OML',
                        'Инструменты Kennametal',
                        'Приводной инструмент Mario Pinto',
                      ]
                    },
                    {
                      title: 'Комплектующие для станков',
                      list: [
                        'Инструмент и оснастка Norgau',
                      ]
                    },
                    {
                      title: 'Промышленное оборудование',
                      list: [
                        'Инструмент и оснастка Norgau',
                      ]
                    },
                    {
                      title: 'Инструменты',
                      list: [
                        'Инструмент и оснастка Norgau',
                      ]
                    },
                    {
                      title: 'Приборы для контроля точности',
                      list: [
                        'Инструмент и оснастка Norgau',
                      ]
                    },
                    {
                      title: 'Расходные материалы',
                      list: [
                        'Инструмент и оснастка Norgau',
                      ]
                    },
                    {
                      title: 'Станки',
                      list: [
                        'Инструмент и оснастка Norgau',
                      ]
                    },
                    {
                      title: 'Средства хранения и мебель',
                      list: [
                        'Инструмент и оснастка Norgau',
                      ]
                    },
                    {
                      title: 'Средства малой модернизации',
                      list: [
                        'Инструмент и оснастка Norgau',
                      ]
                    },
                  ]
                },
                { url: '/vendors.html', title: 'подбор по производителю' },
                { url: '/upgrade.html', title: 'Модернизация' },
                { url: '/monitoring.html', title: 'Мониторинг' },
                { url: '/repair.html', title: 'Ремонт' },
              ]
            })
          .header__search
            +header-search()
