/**
* header
*/

.header {
  $header: &;

  position: relative;
  z-index: 1;

  &__top {
    padding: 20px 0;
    background-color: $white;
  }

  &__second {
    display: none;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__logo {
    position: relative;
    top: -6px;
  }

  &__nav {
    position: relative;
    top: 5px;
  }

  &__contact {
    position: relative;
    top: 3px;
  }

  &__bottom {
    padding: 3px 0;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      background-color: $accent;
      opacity: 0.9;
    }
  }

  &__menu {
  }

  &__search {
  }

  @media (max-width: 1100px) {
    z-index: 100;
    &__nav {
      display: none;
    }
  }

  @media (max-width: 1000px) {
    &__menu {
      display: flex;
      align-items: center;
    }

    &__second {
      margin-left: 20px;
      display: block;
    }

    &__second-burger {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: space-between;
      padding: 0;
      align-items: center;
      border: none;
      background: none;
      span {
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #fff;
      }
    }

    &__second-body {
      transform: translateX(-100%);
      transition: ease transform 0.3s;
      z-index: 999;
      position: absolute;
      flex-direction: column;
      background-color: #ffffff;
      align-items: flex-start;
      top: 100%;
      width: calc(100% + 60px);
      left: -30px;
      padding: 34px;

      &.is-active {
        transform: translateX(0);
      }
    }
  }

  @media (max-width: 560px) {
    &__contact {
      display: none;
    }

    &__logo {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
