//- set

mixin set(options = {})
  article.set(
    class=options.className ? options.className : ''
  )
    .set__cover
      img.set__image(
        src='/img/' + options.thumbnail
        alt=options.title
      )
    .set__body
      header.set__header
        p.set__code=options.code
        h3.set__title
          a.set__link(
            href='set.html'
            title=options.title
          )=options.title

      if options.text
        .set__text!=options.text

      footer.set__footer
        .set__cost
          +cost({
            relative: true,
            label: 'Стоимость модернизации:',
            value: options.cost
          })
        .set__button
          +button({
            label: 'Модернизировать'
          })(
            class='is-small is-wide'
              data-modal='order'
              data-info=`{"id": "${options.id}", "image": "${`/img/${options.thumbnail}`}", "code": "${options.code}", "title": "${options.title}", "cost": "2 694 ₽" }`
          )
