/**
* set
*/

.set {
  $set: &;

  display: flex;
  justify-content: space-between;
  padding: 24px;
  background-color: $white;
  position: relative;

  &:hover {
    &::before {
      opacity: 1;
    }
  }

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-shadow: 0 2px 12px rgba(11, 29, 90, 0.08);
    transition: ease opacity 300ms;
  }

  &__cover {
    width: 246px;
    height: 240px;
    margin: 0 auto;
    flex-shrink: 0;
    background-color: $grey;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__body {
    flex-grow: 1;
    margin-left: 30px;
  }

  &__header {
  }

  &__code {
    margin: 0;
    color: #686c90;
    font-size: 12px;
    line-height: 1;
  }

  &__title {
    margin: 0;
    margin-top: 10px;
    color: $black;
    font-size: 16px;
    font-weight: $medium;
    line-height: 1.31;
  }

  &__link {
    color: currentColor;
    text-decoration: none;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__text {
    margin-top: 15px;
    color: #686c90;
    font-size: 16px;
    line-height: 1.68;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin-top: 30px;
  }

  &__cost + &__button {
    margin-left: 20px;
  }

  &__cost {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
  }

  &__cost,
  &__button {
    position: relative;
    z-index: 1;
  }
}
