/**
* section
*/

.section {
  $section: &;
  overflow: hidden;

  margin: 120px 0;
  position: relative;

  &:first-child:not(.is-padding-50) {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  &.is-collapse {
    margin-top: 0;
    margin-bottom: 0;
  }

  &.is-centred {
    #{$section}__header {
      text-align: center;
    }
  }

  &.with-padding {
    margin: 0;
    padding: 120px 0;
  }

  &.is-margin-140 {
    margin-top: 140px;
    margin-bottom: 140px;
  }

  &.is-margin-60 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  &.is-margin-top-50 {
    margin-top: 50px;
  }

  &.is-margin-top-60 {
    margin-top: 60px;
  }

  &.is-padding-140 {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  &.is-padding-100 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &.is-padding-90 {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  &.is-padding-80 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &.is-padding-50 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &.has-roll {
    #{$section}__header {
      padding-right: 100px;
    }
  }

  &.has-callback {
    background-image: url("/img/section-callback-cover.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    #{$section}__body {
      margin-top: 60px;
    }
  }

  &.is-accent {
    background-color: $second;

    #{$section}__text,
    #{$section}__caption {
      color: #aabeff;
    }

    #{$section}__title {
      color: $white;
    }
  }

  &.is-white {
    background-color: $white;

    #{$section}__title {
      color: $black;
    }
  }

  &.is-grey {
    background-color: #f3f5f6;

    #{$section}__title {
      color: $black;
    }
  }

  &.is-layout-1 {
  }

  &.is-layout-2 {
    padding-bottom: 130px;

    #{$section}__header {
      max-width: 600px;
    }

    #{$section}__body {
      margin-top: 35px;
      padding-left: 95px;
    }

    #{$section}__text {
      font-size: 16px;
      line-height: 1.68;
    }

    #{$section}__content {
      margin-top: 80px;
    }
  }

  &.is-layout-3,
  &.is-layout-4 {
    #{$section}__content {
      margin-top: 0;
    }
    #{$section}__header + #{$section}__body {
      margin-top: 40px;
    }
  }

  &__header {
  }

  &__title {
    margin: 0;
    color: $accent;
    font-size: 36px;
    font-weight: $medium;
    line-height: 1.4;
  }

  &__caption {
    margin: 0;
    color: #686c90;
    font-size: 12px;
    font-weight: $semibold;
    line-height: 1;
    letter-spacing: 0.16em;
    text-transform: uppercase;
  }

  &__descr {
    max-width: 470px;
    margin: 0 auto;
    color: #aabeff;
    font-size: 20px;
    line-height: 1.8;
  }

  &__caption + &__title {
    margin-top: 15px;
  }

  &__title + &__descr {
    margin-top: 20px;
  }

  &__body {
  }

  &__header + &__body {
    margin-top: 50px;
  }

  &__text {
    color: $dark;
    font-size: 20px;
    line-height: 1.8;
  }

  &__text + &__link {
    margin-top: 50px;
  }

  &__content {
    margin-top: 45px;
  }

  @media (max-width: $l) {
    &__title {
      font-size: 28px;
    }
  }

  @media (max-width: $m) {
    &__title {
      font-size: 19px;
    }

    &.is-m-hide {
      display: none;
    }
  }
}
