//- section
mixin section-header(options = {})
  if options.title || options.caption || options.descr
    header.section__header
      if options.caption
        p.section__caption!=options.caption
      if options.title
        h2.section__title!=options.title
      if options.descr
        p.section__descr!=options.descr

mixin section(options = {})
  section.section(
    id=options.id ? options.id : null
    class=options.className ? options.className : ''
    class=options.layout ? 'is-layout-' + options.layout : ''
  )
    .container

      case options.layout

        when 1
          .grid.is-row
            .col-6
              +section-header(options)
              .section__body
                if options.text
                  .section__text.text!=options.text
                if options.link
                  .section__link
                    +link(options.link)
            if block
              .col-5.shift-1
                .section__content
                  block

        when 2
          .grid.is-columns
            .col-7
              +section-header(options)
            .col-5
              .section__body
                if options.text
                  .section__text.text!=options.text
            if block
              .col-12
                .section__content
                  block

        when 3
          .grid.is-row
            if block
              .col-4
                .section__content
                  block
            .shift-1.col-7
              +section-header(options)
              .section__body
                if options.text
                  .section__text.text!=options.text
                if options.link
                  .section__link
                    +link(options.link)

        when 4
          .grid.is-row
            if block
              .col-5
                .section__content
                  block
            .col-7
              +section-header(options)
              .section__body
                if options.text
                  .section__text.text!=options.text
                if options.link
                  .section__link
                    +link(options.link)

        when 5
          .grid.is-row
            .col-8.shift-1
              +section-header(options)
              if block
                .section__body
                  block

        default
          +section-header(options)
          if block
            .section__body
              block
