/**
* status
*/

.status {
  $status: &;

  margin-top: 100px;
  padding-top: 60px;
  position: relative;
  z-index: 0;
  text-align: center;

  &::before {
    content: attr(data-code);
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    color: #e1e4f0;
    font-size: 300px;
    font-weight: 800;
    line-height: 0.7;
    transform: translateX(-50%);
  }

  &__title {
    color: $black;
    font-size: 36px;
    line-height: 1;
  }

  &__image {
    display: block;
    width: 292px;
    height: 183px;
    margin: 70px auto 0;
    background-image: url('/img/status.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  &__button {
    max-width: 370px;
    margin: auto;
    margin-top: 50px;
  }
}
