//- status

mixin status(options = {})
  .status(
    data-code=options.code
  )
    h1.status__title=options.title
    .status__image
    .status__button
      +button({
        type: 'link',
        label: 'вернуться на главную'
      })(
        class='is-wide'
        href='/'
      )
