//- tab

mixin tab(options = {})
  .tab
    case options.type
      when 'descr'
        if options.data.params
          .grid.is-row
            .col-8
              +widget({
                title: 'Патрон сверлильный NORGAU SK50 DIN69871 D3-16'
              })
                .text!=options.data.descr
            .col-4
              +widget({
                title: 'Характеристики'
              })
                +params({
                  className: 'is-wide',
                  items: options.data.params
                })
        else
          .text!=options.data.descr

      when 'files'
        +docs({
          items: options.data.files
        })

      when 'order'
        .text.is-order
          table
            thead
              tr
                th Характеристики
                th( colspan=3 ) Данные для заказа
            tbody
              tr
                th Вариант исполнения
                td( colspan=3 )
                  p <strong>1</strong> – начало отсчета слева, выход кабеля направо
                  p <strong>2</strong> – начало отсчета слева, выход кабеля налево
                  p <strong>3</strong> – начало отсчета справа, выход кабеля направо
                  p <strong>4</strong> – начало отсчета справа, выход кабеля налево
              tr
                th Длина преобразуемого перемещения L изм., (мм)
                td( colspan=3 )
                  p <strong>Стандартный ряд или любая длина в диапазоне от 70 до 1540 мм</strong>
                  p Стандартный ряд диапазонов перемещения, мм - 70, 120, 170, 220, 270, 320, 370, 420, 470, 520, 570, 620, 720, 820, 920, 1020, 1140, 1240, 1340, 1440, 1540
              tr
                th Вариант исполнения
                td( colspan=3 )
                  p <strong>00</strong> — РМ отсутствует
                  p <strong>01</strong> — одна РМ по середине длины измерения
                  p <strong>02(?)</strong> — Количество и положение РМ назначает потребитель. После кода 02 указать в скобках положение РМ от начала отсчета. Расстояние между РМ должно быть кратно 50 мм.
                  p <strong>03</strong> — РМ с шагом 50 мм
                  p <strong>KK</strong> — Координатно-кодированные РМ
              tr
                th Вариант исполнения
                td
                  p <strong>+5В</strong>
                td
                  p <strong>+10В</strong>
                td
                  p <strong>+10...24В</strong>
              tr
                th Вариант исполнения
                td
                  p <strong>CH</strong> — синус напряжения ~1Vpp
                  p <strong>СТ</strong> — синус тока ~11мкА
                td
                  p <strong>ПИ</strong> — прямоугольные импульсы TTL
                td
                  p <strong>ПИ</strong> — прямоугольные импульсы TTL
          p Пример заказа: <strong>ЛИР-8M-1-1020-01-05-ПИ-10-4-3.0-Р(РС10ТВ)</strong>
          p ЛИР-8М, исполнение 1, Lизм. = 1020 мм, Р.М. по середине длины измерения, напряжение питания +5 В, тип выходного сигнала ПИ, дискретность 10 мкм, класс точности - 4, длина кабеля 3 м, розетка РС10ТВ.

      when 'equipment'
        +equipment(options.data.equipment)

      when 'features'
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis ullam hic tempore quae explicabo natus quod. Eaque, saepe consectetur. Nam quaerat odit, laborum, molestiae ab ullam dicta ipsum, velit sunt eligendi voluptas quo mollitia assumenda illo. Possimus iste inventore explicabo eveniet illum. Voluptates ullam praesentium, excepturi amet veniam deleniti dolorum odio quisquam aspernatur molestiae! Aspernatur earum nam quam consectetur nobis est asperiores recusandae illum autem repellendus, molestiae reprehenderit ab ipsum hic necessitatibus magni, illo nesciunt sequi dolorem culpa fugit veniam, cumque eligendi? Distinctio, maxime repellendus quas recusandae eaque corporis corrupti, autem laborum excepturi rem quisquam eum provident voluptatum mollitia quos.
