//- footer

mixin footer(params)
  .footer
    .footer__top
      .container
        .footer__inner
          .footer__logo
            +logo(params)
          .footer__links
            +links({
              items: [
                { title: 'О компании', url: 'about.html' },
                { title: 'Оплата и доставка', url: 'delivery.html' },
                { title: 'Новости', url: 'news.html' },
                { title: 'Контакты', url: 'contacts.html' },
              ]
            })
          .footer__social
            +social({
              items: [
                { name: 'instagram', url: '' },
                { name: 'facebook', url: '' },
              ]
            })
          .footer__totop
            +totop()
    .footer__bottom
      .container
        .footer__inner
          .footer__copy © 2019 «РемСтанМаш» Смоленск
          .footer__text
            a(
              href='/single.html'
              title='Политика конфиденциальности'
            ) Политика конфиденциальности
          .footer__dc
            +dc()
