/**
* footer
*/

.footer {
  $footer: &;

  padding: 98px 0 70px;
  background-color: $white;

  &__top {
  }

  &__bottom {
    margin-top: 50px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    position: relative;
    top: -18px;
  }

  &__links {
    margin-left: 80px;
    flex-grow: 1;
  }

  &__social {
    margin-left: 68px;
  }

  &__totop {
    margin-left: 68px;
  }

  &__copy {
    color: #686c90;
    font-size: 14px;
    line-height: 1;
  }

  &__text {
    margin-left: 98px;
    flex-grow: 1;
    color: $dark;
    font-size: 14px;
    line-height: 1;

    a {
      color: $accent;
      text-decoration: none;
      transition: ease color 300ms;

      &:hover {
        color: $second;
      }
    }
  }

  &__dc {
  }

  @media (max-width: $l) {
    &__inner {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    &__logo {
      width: 100%;
    }

    &__links {
      margin-left: 0;
      width: 20%;
    }
    &__social {
      margin-left: 0;
    }

    &__totop {
      margin-left: 15px;
    }
  }

  @media (max-width: $m) {
    text-align: center;
    padding: 30px 0;

    &__links,
    &__social,
    &__totop {
      display: none;
    }

    &__inner {
      flex-direction: column;
    }

    &__text {
      margin-left: 0;
      margin-top: 20px;
    }

    &__logo {
      display: flex;
      justify-content: center;
      top: 0;
    }
  }
}
