/**
* header-search
*/

.header-search {
  $header-search: &;

  padding: 21px 0 19px;
  position: relative;

  &.is-open {
    #{$header-search}__inner {
      display: flex;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    padding: 0;
    color: #aabeff;
    font-family: $font-family;
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: ease color 300ms;

    @supports (font-variation-settings: normal) {
      font-family: $font-family-var;
    }

    &:hover {
      color: $white;
    }

    &::after {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      margin-left: 11px;
      background-image: url("/img/i-search.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }
  }

  &__inner {
    display: none;
    align-items: center;
    justify-content: space-between;
    max-dwidth: 595px;
    height: 100%;
    padding: 0 20px;
    padding-right: 15px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 4px;
    background-color: $white;
  }

  &__field {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    padding: 11px 0 9px 30px;
    color: $black;
    font-size: 16px;
    background-image: url("/img/i-search-alt.svg");
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 18px 18px;

    &::-webkit-input-placeholder {
      color: #b7bbe2;
    }

    &::-moz-input-placeholder {
      color: #b7bbe2;
    }
  }

  &__close {
    display: block;
    width: 22px;
    height: 22px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url("/img/i-close.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    cursor: pointer;
    transition: ease transform 300ms;

    &:hover {
      transform: scale(1.2);
    }
  }

  @media (max-width: 1250px) {
    &__label {
      span {
        display: none;
      }
    }
  }
}
