//- header-search

mixin header-search(options = {})
  form.header-search.js-header-search(
    action='/search.html'
  )
    button.header-search__label.js-header-search-label(
      type='button'
    ) Поиск
    .header-search__inner
      input.header-search__field.js-header-search-field(
        type='text'
        name='q'
        placeholder='Поиск по артикулу, товарам и производителю...'
      )
      button.header-search__close.js-header-search-close(
        aria-label='Закрыть'
        type='button'
      )
