//- search

mixin search(options = {})
  .search
    .search__form
      +search-form(options.form)
    
      if options.items
        .search__results
          ul.search__list
            each item in options.items
              li.search__item
                case item.type
                  when 'product'
                    +product(item)
                  when 'set'
                    +set(item)

      if options.hasPagination
        .search__footer
          if options.hasPagination
            .search__pagination
              +pagination({
                prevArrow: true,
                nextArrow: true,
                currentPage: 2,
                pages: [1, 2, 3, 4, 5, 6]
              })
