/**
* search
*/

.search {
  $search: &;

  &__form {
  }

  &__results {
    margin-top: 30px;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    & + & {
      margin-top: 30px;
    }
  }

  &__footer {
    margin-top: 40px;
  }

  &__pagination {
  }
}
