/**
* page
*/

.page {
  $page: &;

  display: flex;
  flex-direction: column;
  max-width: 1920px;
  min-width: 320px;
  min-height: 100vh;
  margin: auto;
  position: relative;
  z-index: $layer-1;
  background-color: #f3f5f6;

  .js-init & {
    opacity: 0;
  }

  .js-init.is-loaded & {
    opacity: 1;
  }

  &__header {
    flex-shrink: 0;
  }

  &__content,
  &__footer {
    max-width: 1800px;
    margin: auto;
    width: 100%;
    flex-grow: 1;
    border-left: 1px solid #e9edf5;
    border-right: 1px solid #e9edf5;
  }

  &__footer {
    flex-grow: 0;
    flex-shrink: 0;
  }
}
