//- control

mixin control(options = {})
  .control

    button.control__arrow.is-prev(
      class=options.className + '-prev'
      type='button'
      area-label='Назад'
    )
      +arrow({
        type: 'left'
      })
      
    button.control__arrow.is-next(
      class=options.className + '-next'
      type='button'
      area-label='Вперёд'
    )
      +arrow({
        type: 'right'
      })
