/**
* control
*/

.control {
  $control: &;

  display: inline-flex;
  align-items: center;
  flex-direction: row;

  &__arrow {
    display: block;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

    & + & {
      margin-left: 24px;
    }
  }
}
