/**
* overlay
*/

.overlay {
  $overlay: &;

  width: 100%;
  height: 100%;
  // background-color: $second;
  opacity: 0.7;
  overflow: hidden;

  &__canvas {
    width: 100%;
    height: 100%;
  }
}
