mixin body(params = {})
  body.body.js-body

    script document.querySelector('.js-body').classList.add('js-init');

    +loader()

    .page.js-page#page
        
      header.page__header
        +header(params)

        if params.hero
          +hero(params.hero)

        if params.headline
          +headline(params.headline)

      main.page__content
        block

      footer.page__footer
        +footer(params)
        
      +modal()

    //- Connecting scripts
    script(src='js/app.js')
