include ./components
include ./icons
include ./head
include ./body

//- GLOBAL PARAMETERS
-
  var page = {
    id: 0,
    title: 'Remstanmash'
  };

mixin document(params)

  doctype html
  html.html(lang='ru')
    +head(params)
    +body(params)
      block
