mixin head(params = {})
  head

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='keywords', content='')
    //- meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='format-detection' content='telephone=no')

    meta(property='og:type' content='website')
    meta(property='og:url' content='')
    meta(property='og:title' content='')
    meta(property='og:image' content='/img/logo.svg')
    meta(property='og:description' content='')
    meta(property='og:site_name' content=params.title || page.title)
    meta(property='og:locale' content='ru_RU')

    title=params.title || page.title

    link(
      rel='stylesheet'
      href='/css/style.min.css'
    )

    link( 
      rel='shortcut icon'
      href='/img/favicon.ico'
      type='image/x-icon'
      )

    link(
      rel='preload'
      as='script'
      href='/js/app.js'
    )
