mixin icon(name)

  case name
  
    when 'service-1'
      <svg width="87" height="90" viewBox="0 0 87 90" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="35.9631" y="9.93515" width="4.15801" height="12.4203" fill="#D3D8E8"/>
        <path d="M47.3977 22.3554H51.5557V34.7757L47.3977 30.6356V22.3554Z" fill="#D3D8E8"/>
        <rect x="2.69873" y="8.90012" width="4.15801" height="72.4515" fill="#D3D8E8"/>
        <path d="M45.7861 69.6214L32.6758 55.8211L36.1259 54.4411L49.9261 68.9314V82.0416H45.7861V69.6214Z" fill="#D3D8E8"/>
        <path d="M64.6827 61.813C59.2121 64.2936 59.2121 72.7988 64.6827 75.2795C55.7929 73.5076 55.7929 62.8761 64.6827 61.813Z" fill="#D3D8E8"/>
        <path d="M14.7101 9.03815H2V82.0417H44.9327V68.2828L26.4679 49.8042V39.247L35.7693 29.9456V2H20.8512L14.7101 9.03815Z" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M35.7693 9.63156H60.941L66.8613 15.5381V22.4934H35.7693V9.63156Z" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M47.4858 22.4934V30.4286L51.1429 35.9763H56.8286L60.4995 30.4286V22.4934H47.4858Z" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M45.9399 30.2768H62.0311" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M31.3948 54.7309H64.9295C72.4644 54.7309 78.5779 60.8444 78.5779 68.3793C78.5779 75.9143 72.4644 82.0278 64.9295 82.0278H44.9329" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10"/>
        <path d="M64.8879 75.2795C68.6835 75.2795 71.7605 72.1964 71.7605 68.3932C71.7605 64.59 68.6835 61.5068 64.8879 61.5068C61.0923 61.5068 58.0154 64.59 58.0154 68.3932C58.0154 72.1964 61.0923 75.2795 64.8879 75.2795Z" stroke="#334DA6" stroke-miterlimit="10"/>
        <path d="M25.1706 70.9048C26.5577 70.9048 27.6822 69.7803 27.6822 68.3932C27.6822 67.006 26.5577 65.8815 25.1706 65.8815C23.7834 65.8815 22.6589 67.006 22.6589 68.3932C22.6589 69.7803 23.7834 70.9048 25.1706 70.9048Z" stroke="#334DA6" stroke-miterlimit="10"/>
        <path d="M64.8879 70.9048C66.275 70.9048 67.3995 69.7803 67.3995 68.3932C67.3995 67.006 66.275 65.8815 64.8879 65.8815C63.5007 65.8815 62.3762 67.006 62.3762 68.3932C62.3762 69.7803 63.5007 70.9048 64.8879 70.9048Z" stroke="#334DA6" stroke-miterlimit="10"/>
        <path d="M25.1706 18.5741C26.5577 18.5741 27.6822 17.4496 27.6822 16.0625C27.6822 14.6753 26.5577 13.5508 25.1706 13.5508C23.7834 13.5508 22.6589 14.6753 22.6589 16.0625C22.6589 17.4496 23.7834 18.5741 25.1706 18.5741Z" stroke="#334DA6" stroke-miterlimit="10"/>
        <path d="M13.5646 70.9048C14.9518 70.9048 16.0763 69.7803 16.0763 68.3932C16.0763 67.006 14.9518 65.8815 13.5646 65.8815C12.1775 65.8815 11.053 67.006 11.053 68.3932C11.053 69.7803 12.1775 70.9048 13.5646 70.9048Z" stroke="#334DA6" stroke-miterlimit="10"/>
        <path d="M58.0017 68.3932H44.9329" stroke="#334DA6" stroke-miterlimit="10"/>
        <path d="M44.9327 77.2936L2 77.2936" stroke="#334DA6" stroke-miterlimit="10"/>
        <path d="M10.9705 28.2481H17.4152" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M35.7693 16.1453H43.7109" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M10.9705 32.2088H17.4152" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M10.9705 36.1557H17.4152" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M53.9858 42.3244C52.5782 42.3244 51.4465 41.1928 51.4465 39.7852V38.833H56.525V39.7852C56.525 41.1928 55.3796 42.3244 53.9858 42.3244Z" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>


    when 'service-2'
      <svg width="83" height="87" viewBox="0 0 83 87" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.99993 53.283H7.31162C7.31162 53.283 7.43733 62.3952 11.6352 69.4978C15.833 76.6004 27.0975 82.3203 27.0975 82.3203C27.0975 82.3203 17.2293 81.4403 10.6295 74.1491C4.02969 66.8579 2.20679 57.3668 2.20679 57.3668L2.99993 53.283Z" fill="#D3D8E8"/>
        <path d="M48.154 53.4698H43.0627C43.0627 53.4698 42.7485 57.1468 40.4228 59.8181C38.0971 62.4895 33.0059 64.5951 33.0059 64.5951C33.0059 64.5951 39.3543 64.5951 43.0627 61.2638C46.7711 57.9325 48.154 53.4698 48.154 53.4698Z" fill="#D3D8E8"/>
        <path d="M15.0691 63.6489H16.9722V71.2224H15.0691V63.6489Z" fill="#D3D8E8"/>
        <path d="M44.5889 63.6489H46.7768V71.2224H44.5889V63.6489Z" fill="#D3D8E8"/>
        <path d="M30 48C2.00001 41.9474 1.99997 5.63158 30 2C21.5377 6.16157 14.6503 14.7867 14.5 24C14.3442 33.5466 21.2316 43.6879 30 48Z" fill="#D3D8E8"/>
        <path d="M42.6823 53.283C42.6823 59.19 37.8983 63.9811 32 63.9811C26.1017 63.9811 21.3177 59.19 21.3177 53.283H2C2 68.372 13.1062 80.8652 27.5793 83V80.5377C27.5793 78.0876 29.5656 76.1105 32 76.1105C34.4344 76.1105 36.4207 78.0997 36.4207 80.5377V83C50.8938 80.8531 62 68.372 62 53.283H42.6823Z" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M4.36182 53.283V48.88" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M7.99512 53.283V48.88" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M11.6284 53.283V48.88" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M15.2617 53.283V48.88" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M18.8955 53.283V48.88" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M45.1895 53.283V48.88" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M48.8228 53.283V48.88" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M52.4563 53.283V48.88" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M56.0896 53.283V48.88" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M59.7229 53.283V48.88" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M22.3108 71.2224H25.3144" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M29.9409 71.2224H32.9324" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M37.5713 71.2224H40.5628" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M48.1863 64.5299H49.8715" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M48.1863 66.5363H49.8715" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M48.1863 68.5426H49.8715" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M48.1863 70.5489H49.8715" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M13.0024 64.5299H14.6876" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M13.0024 66.5363H14.6876" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M13.0024 68.5426H14.6876" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M13.0024 70.5489H14.6876" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M3 57H22" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M42 57L62 57" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M48.1862 63.5445H44.1895V71.2224H48.1862V63.5445Z" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M18.6843 63.5445H14.6875V71.2224H18.6843V63.5445Z" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M31.9998 47.655C44.5884 47.655 54.7935 37.4348 54.7935 24.8275C54.7935 12.2202 44.5884 2 31.9998 2C19.4111 2 9.20605 12.2202 9.20605 24.8275C9.20605 37.4348 19.4111 47.655 31.9998 47.655Z" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M31.9999 42.403C41.6922 42.403 49.5493 34.5342 49.5493 24.8275C49.5493 15.1208 41.6922 7.25201 31.9999 7.25201C22.3076 7.25201 14.4504 15.1208 14.4504 24.8275C14.4504 34.5342 22.3076 42.403 31.9999 42.403Z" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M42.8884 24.8275C42.8884 18.8113 38.0196 13.9232 32.0002 13.9232C25.9809 13.9232 21.1121 18.7992 21.1121 24.8275C21.1121 28.624 23.062 31.9717 26.0051 33.9245C26.0051 33.9609 25.993 33.9973 25.993 34.0458C25.993 35.3558 27.0588 36.4232 28.3668 36.4232H35.6337C36.9417 36.4232 38.0075 35.3558 38.0075 34.0458C38.0075 34.0094 37.9954 33.9609 37.9954 33.9245C40.9506 31.9717 42.8884 28.624 42.8884 24.8275Z" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M32.0003 11.6467C32.711 11.6467 33.2871 11.0706 33.2871 10.36C33.2871 9.64932 32.711 9.07324 32.0003 9.07324C31.2897 9.07324 30.7136 9.64932 30.7136 10.36C30.7136 11.0706 31.2897 11.6467 32.0003 11.6467Z" stroke="#334DA6" stroke-miterlimit="10"/>
        <path d="M42.0001 36.8121C42.7107 36.8121 43.2868 36.2361 43.2868 35.5254C43.2868 34.8148 42.7107 34.2387 42.0001 34.2387C41.2895 34.2387 40.7134 34.8148 40.7134 35.5254C40.7134 36.2361 41.2895 36.8121 42.0001 36.8121Z" stroke="#334DA6" stroke-miterlimit="10"/>
        <path d="M22.0001 36.8121C22.7107 36.8121 23.2868 36.2361 23.2868 35.5254C23.2868 34.8148 22.7107 34.2387 22.0001 34.2387C21.2895 34.2387 20.7134 34.8148 20.7134 35.5254C20.7134 36.2361 21.2895 36.8121 22.0001 36.8121Z" stroke="#334DA6" stroke-miterlimit="10"/>
      </svg>

    when 'service-3'
      <svg width="82" height="85" viewBox="0 0 82 85" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M23.0642 9.81506H26.8824L18.7684 22.2563H14.9502L23.0642 9.81506Z" fill="#D3D8E8"/>
        <path d="M28.7974 58.1092H32.6156L14.2801 28.7843C14.2801 28.7843 13.6723 27.3764 13.9233 25.8362C14.1743 24.296 15.4383 22.8156 15.4383 22.8156L10.4619 28.7843L28.7974 58.1092Z" fill="#D3D8E8"/>
        <path d="M32.6152 58.1092H36.9789V67.3375H32.6152V58.1092Z" fill="#D3D8E8"/>
        <path d="M12.4316 75.1108H16.7953V84.3391H12.4316V75.1108Z" fill="#D3D8E8"/>
        <path d="M25.4603 66.6102H29.824L24.5179 75.4909H20.1543L25.4603 66.6102Z" fill="#D3D8E8"/>
        <path d="M45.0229 5.66275H48.2957V14.0624H45.0229V5.66275Z" fill="#D3D8E8"/>
        <path d="M55.6099 1.65805H58.8826V17.3617H55.6099V1.65805Z" fill="#D3D8E8"/>
        <path d="M33.7753 2.01645C25.878 4.96694 25.878 15.0829 33.7753 18.0334C20.9421 15.9259 20.9421 3.28095 33.7753 2.01645Z" fill="#D3D8E8"/>
        <path d="M55.1524 5.66272H44.6157V14.0624H55.1524V5.66272Z" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M71.2107 1H58.4957C56.6383 1 55.1523 2.49814 55.1523 4.33293V17.3448H74.571V4.33293C74.5541 2.49814 73.0512 1 71.2107 1Z" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M44.6159 2.34662H31.6814C27.5275 2.34662 24.1504 5.69638 24.1504 9.85413C24.1504 13.9951 27.5107 17.3616 31.6814 17.3616H44.6159V2.34662Z" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M34.383 43.1498L23.6099 25.7445C21.972 23.1017 18.7131 21.7888 15.7749 22.8324C11.7392 24.28 10.2026 28.9428 12.364 32.4272L28.5068 58.451H43.856H68.8638C71.0927 58.451 72.8826 56.6499 72.8826 54.4448V43.1498H34.383V43.1498Z" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M72.8994 75.2504L67.8337 66.8507H60.0325V58.451H32.4918V66.8507H24.6906L19.6249 75.2504H11.6548V83.65H80.8695V75.2504H72.8994Z" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M64.8621 24.4373C62.1611 24.4373 59.9897 23.057 59.9897 21.3401V20.1786H69.7345V21.3401C69.7345 23.0402 67.5632 24.4373 64.8621 24.4373Z" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M64.8618 24.4373V27.6188" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M25.4168 5.66272L12.4316 25.4752" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M33.7751 17.3448L25.8726 29.3972" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M26.9071 16.1936L21.959 23.5131" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M18.5105 42.3418C17.0921 42.8805 15.5555 43.1666 13.9514 43.1666C6.8087 43.1666 1 37.3929 1 30.2557C1 23.1185 6.79182 17.3448 13.9514 17.3448C15.1503 17.3448 16.3154 17.5131 17.4298 17.8161" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M53.0083 39.6467H76.6821" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M64.8452 9.87097H74.5545" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M45.0298 9.87097H54.7391" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M32.4922 67.3375H60.0329" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M32.4922 63.344H60.0329" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M19.625 75.7877H72.8996" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M17.9869 31.232C19.2086 31.232 20.199 30.2448 20.199 29.0269C20.199 27.8091 19.2086 26.8218 17.9869 26.8218C16.7653 26.8218 15.7749 27.8091 15.7749 29.0269C15.7749 30.2448 16.7653 31.232 17.9869 31.232Z" stroke="#334DA6" stroke-miterlimit="10"/>
        <path d="M31.0568 12.0593C32.2784 12.0593 33.2688 11.072 33.2688 9.85417C33.2688 8.63632 32.2784 7.64905 31.0568 7.64905C29.8351 7.64905 28.8447 8.63632 28.8447 9.85417C28.8447 11.072 29.8351 12.0593 31.0568 12.0593Z" stroke="#334DA6" stroke-miterlimit="10"/>
        <path d="M38.6724 52.4416V58.451" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M46.1865 52.4416V58.451" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M53.7173 52.4416V58.451" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>

    when 'service-4'
      <svg width="87" height="90" viewBox="0 0 87 90" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M20.1331 20.0351H24.7913L17.642 29.2821L24.7913 42.7394H20.1331L12.9838 29.2821L20.1331 20.0351Z" fill="#D3D8E8"/>
        <path d="M28.5 43L31.6888 43C31.6888 43 31.5 39.5 32.5 37C33.5 34.5 37 32 37 32C37 32 32.6473 32 30.6888 35.2938C28.7303 38.5876 28.5 43 28.5 43Z" fill="#D3D8E8"/>
        <rect x="4.1123" y="3.31421" width="4.65825" height="8.82245" fill="#D3D8E8"/>
        <rect x="21.8252" y="43.4629" width="4.65825" height="10.5192" fill="#D3D8E8"/>
        <rect x="29.5806" y="48.7226" width="2.79621" height="5.25955" fill="#D3D8E8"/>
        <rect x="36.1558" y="48.7226" width="2.79621" height="5.25955" fill="#D3D8E8"/>
        <rect x="42.731" y="48.7226" width="2.79622" height="5.25955" fill="#D3D8E8"/>
        <rect x="26.4834" y="53.9821" width="4.65825" height="10.5192" fill="#D3D8E8"/>
        <path d="M30.5459 65.6467H33.9307V84.5311L30.5459 80.8644V65.6467Z" fill="#D3D8E8"/>
        <path d="M12.5791 12.1853H17.2374L20.5705 20.0351H15.9123L12.5791 12.1853Z" fill="#D3D8E8"/>
        <g clip-path="url(#clip0)">
        <path d="M3.33252 3.31421V12.5091H12.6754L15.7968 19.8736H56.5151L59.6365 12.5091H68.9794V3.31421H3.33252Z" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M51.8382 19.8736H20.4735L12.6753 29.1643L20.4735 43.4675H21.8251V54.3652H26.2337V65.2735H46.078V54.3652H50.4866V43.4675H51.8382L59.6364 29.1643L51.8382 19.8736Z" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M21.8252 43.0844H28.7117V39.8385C28.7117 35.7625 32.0477 32.4528 36.156 32.4528C40.2642 32.4528 43.6002 35.7625 43.6002 39.8385V43.0844H50.4867" stroke="#334DA6" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M26.2339 53.9821H46.0781" stroke="#334DA6" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M11.4312 12.1367H59.6366" stroke="#334DA6" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M36.1558 49.1505V53.1945" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M42.7314 49.1505V53.1945" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M29.5806 49.1505V53.1945" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M36.1558 15.8295V19.8736" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M22.1577 48.7225H50.4866" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M16.9434 23.8056L54.718 23.8056" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M26.2339 61.8366L46.0783 61.8366" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M42.7314 15.8295V19.8736" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M29.5806 15.8295V19.8736" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M41.7659 80.8644L36.1559 87.0582L30.5459 80.8644V65.2735H41.7659V80.8644Z" stroke="#334DA6" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M30.5459 69.0409L41.7659 80.8645" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M41.7659 74.8235L32.7041 65.2743" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M30.5459 74.9526L38.9995 83.8609" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M48.7814 32.9802C50.0373 32.9802 51.0554 31.9701 51.0554 30.7241C51.0554 29.478 50.0373 28.4679 48.7814 28.4679C47.5254 28.4679 46.5073 29.478 46.5073 30.7241C46.5073 31.9701 47.5254 32.9802 48.7814 32.9802Z" stroke="#334DA6" stroke-miterlimit="10"/>
        <path d="M23.5309 32.9802C24.7868 32.9802 25.8049 31.9701 25.8049 30.7241C25.8049 29.478 24.7868 28.4679 23.5309 28.4679C22.275 28.4679 21.2568 29.478 21.2568 30.7241C21.2568 31.9701 22.275 32.9802 23.5309 32.9802Z" stroke="#334DA6" stroke-miterlimit="10"/>
        </g>
        <defs>
        <clipPath id="clip0">
        <rect width="67.7922" height="85.5" fill="white" transform="translate(2.25977 2.25)"/>
        </clipPath>
        </defs>
      </svg>

    when 'service-5'
      <svg width="83" height="86" viewBox="0 0 83 86" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="3.0498" y="2.77759" width="3.33972" height="57.0134" fill="#D3D8E8"/>
        <rect x="10.3965" y="11.0704" width="3.14867" height="26.9518" fill="#D3D8E8"/>
        <rect x="42.2393" y="11.0704" width="3.14867" height="15.4033" fill="#D3D8E8"/>
        <path d="M73.0396 60.05H4.42933C3.08952 60.05 2 59.0308 2 57.7604V4.30357C2 3.03312 3.08952 2 4.42933 2H73.0396C74.3794 2 75.4689 3.03312 75.4689 4.30357V57.7604C75.4689 59.0308 74.3794 60.05 73.0396 60.05Z" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M36.0551 10.9211H10.2158V38.5361H36.0551V10.9211Z" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M68.079 10.9211H42.2397V26.4737H68.079V10.9211Z" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M45.2134 19.3815H52.8547L54.651 14.3136L55.6669 23.8909L57.36 19.3815H64.7953" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M2 45.7539H75.4689" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M10.2158 54.7029H15.3837" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M62.7622 54.7029H67.9153" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M49.6309 54.7029H54.784" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M36.4971 54.7029H41.6502" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M2 49.5723L75.4687 49.5723" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M10.2158 34.285L36.0551 34.285" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M23.3491 54.7029H28.517" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M45.2131 38.2848C46.937 38.2848 48.3344 36.9597 48.3344 35.3251C48.3344 33.6905 46.937 32.3654 45.2131 32.3654C43.4893 32.3654 42.0918 33.6905 42.0918 35.3251C42.0918 36.9597 43.4893 38.2848 45.2131 38.2848Z" stroke="#334DA6" stroke-miterlimit="10"/>
        <path d="M45.2134 35.3251L47.4071 33.2449" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M55.0036 38.2848C56.7275 38.2848 58.125 36.9597 58.125 35.3251C58.125 33.6905 56.7275 32.3654 55.0036 32.3654C53.2798 32.3654 51.8823 33.6905 51.8823 35.3251C51.8823 36.9597 53.2798 38.2848 55.0036 38.2848Z" stroke="#334DA6" stroke-miterlimit="10"/>
        <path d="M55.0039 35.3251L57.2124 33.2449" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M64.7942 38.2848C66.518 38.2848 67.9155 36.9597 67.9155 35.3251C67.9155 33.6905 66.518 32.3654 64.7942 32.3654C63.0703 32.3654 61.6729 33.6905 61.6729 35.3251C61.6729 36.9597 63.0703 38.2848 64.7942 38.2848Z" stroke="#334DA6" stroke-miterlimit="10"/>
        <path d="M64.7944 35.3251L67.0029 33.2449" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>

    when 'service-6'
      <svg width="90" height="72" viewBox="0 0 90 72" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="3.12305" y="15.3415" width="3.48558" height="16.7464" fill="#D3D8E8"/>
        <rect x="31.8174" y="4.44098" width="2.36589" height="38.4423" fill="#D3D8E8"/>
        <rect x="36.9307" y="7.54736" width="2.36589" height="12.0008" fill="#D3D8E8"/>
        <rect x="36.9307" y="28.1802" width="2.36589" height="12.0008" fill="#D3D8E8"/>
        <rect x="46.0117" y="6.198" width="3.40604" height="34.9371" fill="#D3D8E8"/>
        <rect x="63.8877" y="11.1362" width="3.40602" height="25.6828" fill="#D3D8E8"/>
        <rect x="77.1143" y="14.5709" width="2.67687" height="6.55891" fill="#D3D8E8"/>
        <rect x="77.1143" y="26.9069" width="2.67687" height="6.55891" fill="#D3D8E8"/>
        <rect x="84.7188" y="14.9572" width="2.67687" height="17.8531" fill="#D3D8E8"/>
        <path d="M58.7335 6.12653H46.2045L45.0795 4.25H40.9511V7.54733H37.0551V4.25H30.7554V10.2728L2.25 15.956V31.5579L30.7554 37.2322V43.4784H37.0551V40.181H40.9511V43.4784H45.0795L46.2045 41.6018H58.7335L63.3801 36.6514V11.077L58.7335 6.12653Z" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M84.8348 14.2671V7.8869H79.2857V11.1485H63.3799V36.5799H79.2857V39.8415H84.8348V33.4702H88.2126V14.2671H84.8348Z" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M31.3032 10.4164V37.3848" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M36.4917 19.5482V7.54736" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M36.4917 40.4433V28.4424" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M41.5034 20.3792V7.54736" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M46.0117 41.8878V6.198" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M58.7158 41.6018V6.198" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M84.2905 33.4658V14.2626" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M41.5034 40.1811V27.3492" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M38.9169 28.2165H31.3125V19.5934H38.9169C41.3028 19.5934 43.2329 21.5236 43.2329 23.9095C43.224 26.2864 41.2938 28.2165 38.9169 28.2165Z" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M81.4486 14.5709H77.1147V21.1298H81.4486V14.5709Z" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M77.0695 19.6197H71.1919C70.4703 19.6197 69.8931 18.8244 69.8931 17.8504C69.8931 16.8674 70.4769 16.0811 71.1919 16.0811H77.0695V19.6197V19.6197Z" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M81.4486 26.5985H77.1147V33.1574H81.4486V26.5985Z" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M77.0695 31.6474H71.1919C70.4703 31.6474 69.8931 30.8521 69.8931 29.8781C69.8931 28.8951 70.4769 28.1088 71.1919 28.1088H77.0695V31.6474V31.6474Z" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>

    when 'service-7'
      <svg width="90" height="84" viewBox="0 0 90 84" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.43144 28.6219V17.4016H10.8387V42.0516H6.02417V29.7266L8.43144 28.6219Z" fill="#D3D8E8"/>
        <rect x="2.3999" y="43.1481" width="4.26728" height="15.4858" fill="#D3D8E8"/>
        <path d="M11.9513 47.174C9.97938 48.3358 9.96425 51.6361 11.9513 53.0205C7.19755 52.2512 7.19755 47.6355 11.9513 47.174Z" fill="#D3D8E8"/>
        <path d="M23.5868 47.174C21.6149 48.3358 21.5997 51.6361 23.5868 53.0205C18.8331 52.2512 18.833 47.6355 23.5868 47.174Z" fill="#D3D8E8"/>
        <path d="M35.2223 47.174C33.2504 48.3358 33.2352 51.6361 35.2223 53.0205C30.4685 52.2512 30.4685 47.6355 35.2223 47.174Z" fill="#D3D8E8"/>
        <rect x="7.09741" y="57.7302" width="77.9186" height="3.18134" fill="#D3D8E8"/>
        <path d="M4.53338 57.7302H9.23112V73.672L5.09903 80.3418H1.49609L4.53338 72.8529V57.7302Z" fill="#D3D8E8"/>
        <rect x="36.0796" y="17.9095" width="2.41967" height="12.2935" fill="#D3D8E8"/>
        <rect x="33.9417" y="6.70569" width="2.84899" height="11.2038" fill="#D3D8E8"/>
        <rect x="76.1064" y="18.258" width="3.08011" height="23.8901" fill="#D3D8E8"/>
        <path d="M87.7446 58.0952V42.0993H2V58.0952H4.77403V71.8529L2 76.3777V80.9024H18.8561L22.7089 76.3777H67.026L70.8789 80.9024H87.7446V76.3777L84.9706 71.8529V58.0952H87.7446Z" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M8.64632 17.2563V28.7275L5.85303 30.657V35.6835V42.0992H8.64632H11.43H14.2233V17.2563H8.64632Z" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M5.85303 35.6836H9.18572" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M81.0987 17.2563V28.7275L83.892 30.657V35.6835V42.0992H81.0987H78.315H75.5217V17.2563H81.0987Z" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M83.892 35.6836H80.5593" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M35.1729 24.6176H14.2231V17.7144H75.5216V24.6176H45.8356" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M44.3619 5.93964H36.7237C34.595 5.93964 32.8708 7.66658 32.8708 9.79872V18.2308H35.3174V26.6629C35.3174 28.7951 37.0415 30.522 39.1702 30.522H41.9154C44.044 30.522 45.7682 28.7951 45.7682 26.6629V18.2308H48.2147V9.78908C48.2051 7.66658 46.481 5.93964 44.3619 5.93964Z" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M75.5216 17.2564V13.2719H48.2051" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M32.8707 13.2719H26.1475C22.7666 13.2719 20.0215 10.5223 20.0215 7.13595C20.0215 3.7496 22.7666 1 26.1475 1H40.5378V5.92999" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M40.5381 30.5027V34.4776" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M4.77393 57.5852H84.9705" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M68.4612 50.0973H87.3111" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M22.815 53.0205C24.4269 53.0205 25.7335 51.7117 25.7335 50.0972C25.7335 48.4827 24.4269 47.174 22.815 47.174C21.2031 47.174 19.8965 48.4827 19.8965 50.0972C19.8965 51.7117 21.2031 53.0205 22.815 53.0205Z" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M11.3045 53.0205C12.9164 53.0205 14.223 51.7117 14.223 50.0972C14.223 48.4827 12.9164 47.174 11.3045 47.174C9.69265 47.174 8.38599 48.4827 8.38599 50.0972C8.38599 51.7117 9.69265 53.0205 11.3045 53.0205Z" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M34.3255 53.0205C35.9373 53.0205 37.244 51.7117 37.244 50.0972C37.244 48.4827 35.9373 47.174 34.3255 47.174C32.7136 47.174 31.407 48.4827 31.407 50.0972C31.407 51.7117 32.7136 53.0205 34.3255 53.0205Z" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M61.1699 69.391C62.6115 69.391 63.7801 68.2204 63.7801 66.7765C63.7801 65.3325 62.6115 64.1619 61.1699 64.1619C59.7282 64.1619 58.5596 65.3325 58.5596 66.7765C58.5596 68.2204 59.7282 69.391 61.1699 69.391Z" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M62.1523 65.9371L64.0306 64.0558" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M73.2001 69.391C74.6418 69.391 75.8104 68.2204 75.8104 66.7765C75.8104 65.3325 74.6418 64.1619 73.2001 64.1619C71.7585 64.1619 70.5898 65.3325 70.5898 66.7765C70.5898 68.2204 71.7585 69.391 73.2001 69.391Z" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M74.1826 65.9371L76.0609 64.0558" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M65.8896 41.9063V39.726" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M37.8699 41.9064V39.726" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M51.875 41.9064V39.726" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M38.4575 9.57678H42.6186" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M38.4575 11.4196H42.6186" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M38.4575 13.2719H42.6186" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M23.8552 41.9063V39.726" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M13.1541 68.5902V63.4866" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M16.1785 68.5902V63.4866" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M19.2031 68.5902V63.4866" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M22.2273 68.5902V63.4866" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M25.2517 68.5902V63.4866" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M28.2764 68.5902V63.4866" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M31.3008 68.5902V63.4866" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M34.3252 68.5902V63.4866" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M40.5379 20.8402C39.6807 20.8402 38.9775 20.1456 38.9775 19.2773V17.7144H42.0983V19.2773C42.0983 20.1359 41.3952 20.8402 40.5379 20.8402Z" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>

    when 'service-8'
      <svg width="80" height="82" viewBox="0 0 80 82" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="2" y="4" width="4" height="65" fill="#D3D8E8"/>
        <path d="M8.62144 70.4858H12.018V73.7532L8.62134 75.0445L8.62144 70.4858Z" fill="#D3D8E8"/>
        <path d="M56 70L62 70.7164L61.9998 74L56.0001 71.7455L56 70Z" fill="#D3D8E8"/>
        <rect x="6" y="8" width="62" height="2" fill="#D3D8E8"/>
        <rect x="6" y="18" width="62" height="2" fill="#D3D8E8"/>
        <rect x="6" y="28" width="62" height="2" fill="#D3D8E8"/>
        <rect x="6" y="43" width="62" height="2" fill="#D3D8E8"/>
        <path d="M10.5087 70.4767C4.90424 72.2435 4.90423 78.3013 10.5087 80.0681C1.40138 78.8061 1.40137 71.2339 10.5087 70.4767Z" fill="#D3D8E8"/>
        <path d="M67.1142 80.0681C63.9388 79.0671 62.5625 76.6885 62.9854 74.4934L60.6711 73.5831C59.3283 76.0871 61.476 79.2868 67.1142 80.0681Z" fill="#D3D8E8"/>
        <path d="M72 4H2V70H72V4Z" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M68 8H6V66H68V8Z" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M6.09668 42.5718H67.8806" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M6.09668 46.7151H67.8806" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M6.09668 17.9991H67.8806" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M6.09668 22.1424H67.8806" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M6.09668 27.9667H67.8806" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M6.09668 32.1009H67.8806" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M6.09668 12.184H67.8806" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M12.8736 73.7749C13.0024 74.2031 13.0759 74.6586 13.0759 75.1324C13.0759 77.7017 10.9702 79.7882 8.37707 79.7882C5.78397 79.7882 3.67822 77.7109 3.67822 75.1324C3.67822 72.5631 5.78397 70.4766 8.37707 70.4766" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M19.9909 46.7151C19.9909 47.9998 18.9426 49.0384 17.6461 49.0384C16.3495 49.0384 15.3013 47.9998 15.3013 46.7151" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M58.7588 46.7151C58.7588 47.9998 57.7105 49.0384 56.4139 49.0384C55.1174 49.0384 54.0691 47.9998 54.0691 46.7151" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M19.9909 32.1009C19.9909 33.3856 18.9426 34.4242 17.6461 34.4242C16.3495 34.4242 15.3013 33.3856 15.3013 32.1009" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M58.7588 32.1009C58.7588 33.3856 57.7105 34.4242 56.4139 34.4242C55.1174 34.4242 54.0691 33.3856 54.0691 32.1009" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M19.9909 22.1425C19.9909 23.4271 18.9426 24.4658 17.6461 24.4658C16.3495 24.4658 15.3013 23.4271 15.3013 22.1425" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M58.7588 22.1425C58.7588 23.4271 57.7105 24.4658 56.4139 24.4658C55.1174 24.4658 54.0691 23.4271 54.0691 22.1425" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M19.9909 12.184C19.9909 13.4686 18.9426 14.5073 17.6461 14.5073C16.3495 14.5073 15.3013 13.4686 15.3013 12.184" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M58.7588 12.184C58.7588 13.4686 57.7105 14.5073 56.4139 14.5073C55.1174 14.5073 54.0691 13.4686 54.0691 12.184" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M8.37695 70.2671V75.1324L19.9907 70.2671H8.37695Z" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M60.193 73.7749C60.0643 74.2031 59.9907 74.6586 59.9907 75.1324C59.9907 77.7017 62.0965 79.7882 64.6896 79.7882C67.2827 79.7882 69.3884 77.7017 69.3884 75.1324C69.3884 72.5631 67.2827 70.4766 64.6896 70.4766" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M64.6896 70.2671V75.1324L53.0667 70.2671H64.6896Z" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>

    when 'service-9'
      <svg width="80" height="70" viewBox="0 0 80 70" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="2" y="10" width="5" height="45" fill="#D3D8E8"/>
        <rect x="8" y="55" width="4" height="4" fill="#D3D8E8"/>
        <rect x="34" y="55" width="3" height="4" fill="#D3D8E8"/>
        <rect x="65" y="19" width="2" height="5" fill="#D3D8E8"/>
        <path d="M11.48 20.1367C11.48 19.5844 11.9277 19.1367 12.48 19.1367H13.8183V29.1033H12.48C11.9277 29.1033 11.48 28.6556 11.48 28.1033V20.1367Z" fill="#D3D8E8"/>
        <path d="M11.48 35.5167C11.48 34.9644 11.9277 34.5167 12.48 34.5167H13.8183V44.4834H12.48C11.9277 44.4834 11.48 44.0356 11.48 43.4834V35.5167Z" fill="#D3D8E8"/>
        <rect x="65" y="30" width="2" height="5" fill="#D3D8E8"/>
        <rect x="65" y="40" width="2" height="5" fill="#D3D8E8"/>
        <rect x="31" y="22" width="5" height="19" fill="#D3D8E8"/>
        <rect x="6" y="10" width="71" height="3" fill="#D3D8E8"/>
        <path d="M77.21 10H2V55.15H8.3V58.59H29.8V55.15H34.08V58.59H70.79V55.15H77.21V10Z" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M11.8 58.59V54.97" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M14.8 58.59V54.97" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M17.8 58.59V54.97" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M20.8 58.59V54.97" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M23.8 58.59V54.97" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M26.8 58.59V54.97" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M37.4399 58.59V54.97" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M40.4399 58.59V54.97" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M43.4399 58.59V54.97" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M46.4399 58.59V54.97" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M49.4399 58.59V54.97" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M52.4399 58.59V54.97" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M34.4399 44.99V41.37" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M37.4399 44.99V41.37" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M40.4399 44.99V41.37" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M43.4399 44.99V41.37" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M46.4399 44.99V41.37" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M34.4399 21.64V18.02" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M37.4399 21.64V18.02" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M40.4399 21.64V18.02" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M43.4399 21.64V18.02" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M46.4399 21.64V18.02" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M26.9502 25.5H30.5702" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M26.9502 28.5H30.5702" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M26.9502 31.5H30.5702" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M26.9502 34.5H30.5702" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M26.9502 37.5H30.5702" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M50.3 25.5H53.92" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M50.3 28.5H53.92" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M50.3 31.5H53.92" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M50.3 34.5H53.92" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M50.3 37.5H53.92" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M55.4399 58.59V54.97" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M58.4399 58.59V54.97" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M61.4399 58.59V54.97" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M64.4399 58.59V54.97" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M67.4399 58.59V54.97" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M50.2901 21.64H30.5701V41.36H50.2901V21.64Z" stroke="#334DA6" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M13.8 29.23C12.52 29.23 11.48 28.19 11.48 26.91V21.33C11.48 20.05 12.52 19.01 13.8 19.01C15.08 19.01 16.12 20.05 16.12 21.33V26.91C16.12 28.19 15.08 29.23 13.8 29.23Z" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M69.7501 19.01H65.1201V24.12H69.7501V19.01Z" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M69.7501 40.07H65.1201V45.18H69.7501V40.07Z" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M69.7501 29.54H65.1201V34.65H69.7501V29.54Z" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M13.8 44.61C12.52 44.61 11.48 43.57 11.48 42.29V36.71C11.48 35.43 12.52 34.39 13.8 34.39C15.08 34.39 16.12 35.43 16.12 36.71V42.29C16.12 43.58 15.08 44.61 13.8 44.61Z" stroke="#334DA6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>

