/**
* headline
*/

.headline {
  $headline: &;

  width: 100%;
  max-width: 1800px;
  margin: auto;
  padding: 40px 0 50px;
  position: relative;
  z-index: 0;
  border-left: 1px solid #e9edf5;
  border-right: 1px solid #e9edf5;
  overflow: hidden;

  &.has-cover {
    max-width: 100%;
    margin-top: -64px;
    margin-bottom: 60px;
    padding: 104px 0 65px;
    border: none;
    background-color: #36305f;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    &::after {
      content: "";
      display: block;
      max-width: 1800px;
      width: 100%;
      height: 60px;
      position: absolute;
      top: 100%;
      left: 50%;
      border-left: 1px solid #e9edf5;
      border-right: 1px solid #e9edf5;
      transform: translateX(-50%);
    }

    #{$headline}__caption {
      margin-top: 85px;
      color: $grey;
    }

    #{$headline}__date {
      margin-top: 150px;
      color: $grey;
    }

    #{$headline}__title {
      margin-top: 85px;
      color: $white;
    }

    #{$headline}__date + #{$headline}__title {
      margin-top: 20px;
    }

    #{$headline}__caption + #{$headline}__title {
      margin-top: 35px;
    }
  }

  &.is-about {
    padding-bottom: 120px;

    #{$headline}__caption {
      margin-top: 240px;
      color: $grey;
    }

    #{$headline}__text {
      margin-top: 40px;
    }
  }

  &.is-margin-bottom-0 {
    margin-bottom: 0;
  }

  &.is-margin-bottom-120 {
    margin-bottom: 120px;

    &::after {
      height: 120px;
    }
  }

  &.is-margin-bottom-140 {
    margin-bottom: 140px;

    &::after {
      height: 140px;
    }
  }

  & > .container {
    height: 100%;
  }

  &__cover,
  &__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
  }

  &__cover {
    background-color: $second;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    opacity: 0.5;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  &__breadcrumb {
  }

  &__caption {
    display: inline-block;
    margin: 0;
    margin-top: 40px;
    color: $black;
    font-size: 12px;
    letter-spacing: 0.16em;
    line-height: 1;
    text-transform: uppercase;
  }

  &__date {
    display: inline-block;
    color: $black;
    font-size: 12px;
    font-weight: $semibold;
    line-height: 1;
    letter-spacing: 0.16em;
    text-transform: uppercase;
  }

  &__title {
    max-width: 870px;
    max-height: 180px;
    margin: 0;
    margin-top: 20px;
    color: $black;
    font-weight: $medium;
    font-size: 44px;
    line-height: 1.38;
    letter-spacing: -0.01em;
    overflow: hidden;
  }

  &__date + &__title,
  &__caption + &__title {
    margin-top: 20px;
  }

  &__text {
    max-width: 770px;
    max-height: 380px;
    overflow: hidden;
    margin-top: 30px;

    .text {
      color: $grey;
      font-size: 20px;
      line-height: 1.8;
    }
  }

  @media (max-width: $m) {
    &__text {
      max-height: 600px;
    }
    &__title {
      font-size: 19px;
    }
  }
}
