//- headline

mixin headline(options)
  .headline.js-headline(
    class=options.className ? options.className : ''
    class=options.cover ? 'has-cover' : ''
  )

    if options.cover
      .headline__cover
        .headline__image(
          style=`background-image: url(/img/${options.cover})`
        )
      .headline__overlay
        +overlay()

    .container

      .headline__inner

        if options.breadcrumb || options.title
          .headline__group
            if options.breadcrumb
              .headline__breadcrumb
                +breadcrumb(options.breadcrumb)

            if options.date
              time.headline__date!=options.date

            if options.caption
              p.headline__caption!=options.caption

            if options.title
              h1.headline__title!=options.title

        if options.text
          .headline__text
            .text!=options.text
