/**
* post
*/

.post {
  $post: &;

  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow: hidden;

  &:hover {
    #{$post}__link {
      color: $accent;
    }
    #{$post}__image {
      transform: scale(1.04);
    }
  }

  &__cover {
    width: 100%;
    height: 220px;
    flex-shrink: 0;
    background-color: $grey;
    overflow: hidden;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform;
    transition: ease transform 800ms;
  }

  &__body {
    flex-grow: 1;
    padding: 24px;
    padding-top: 20px;
    background-color: $white;
  }

  &__date {
    color: #686c90;
    font-size: 11px;
    line-height: 1;
    letter-spacing: 0.16em;
    text-transform: uppercase;
  }

  &__title {
    margin-top: 5px;
    color: $black;
    font-size: 19px;
    font-weight: $medium;
    line-height: 1.46;
  }

  &__link {
    color: currentColor;
    text-decoration: none;
    transition: ease color 300ms;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__text {
    margin: 0;
    margin-top: 14px;
    color: #686c90;
    font-size: 14px;
    line-height: 1.64;
  }
}
