//- post

mixin post(options = {})
  article.post
    .post__cover
      img.post__image(
        src='/img/' + options.image
        alt=options.title
      )
    .post__body
      time.post__date=options.date
      h3.post__title
        a.post__link(
          href=options.url ? options.url : 'post.html'
          title=options.title
        )=options.title
      p.post__text=options.intro
