//- response

mixin response(options = {})
  .response
    h1.response__title Мы получили вашу заявку
    p.response__text В&nbsp;течении 10&nbsp;минут мы свяжемся с&nbsp;вами для&nbsp;обсуждения всех деталей. <br> <strong>Благодарим за&nbsp;доверие!</strong>
    .response__button
      +button({
        type: 'link',
        label: 'вернуться на главную'
      })(
        class='is-wide'
        href='/'
      )
