/**
* response
*/

.response {
  $response: &;

  margin-top: 70px;
  padding-top: 70px;
  position: relative;
  z-index: 0;
  text-align: center;

  // &::before {
  //   content: '';
  //   display: block;
  //   width: 240px;
  //   height: 254px;
  //   position: absolute;
  //   top: 0;
  //   left: calc(50% - 120px);
  //   z-index: -1;
  //   background-image: url('/img/response.svg');
  //   background-repeat: no-repeat;
  //   background-position: 50% 50%;
  //   background-size: contain;
  // }

  &__title {
    color: $black;
    font-size: 36px;
    line-height: 1;
  }

  &__text {
    margin: 0;
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.68;
    color: $dark;

    strong {
      color: $accent;
    }
  }

  &__button {
    max-width: 370px;
    margin: auto;
    margin-top: 40px;
  }
}
