// Body
.body {
  margin: 0;
  padding: 0;
  background-color: #e3e6e8;
  color: $black;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $regular;
  line-height: $line-height;

  @supports (font-variation-settings: normal) {
    font-family: $font-family-var;
  }

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.is-overflow {
    overflow: hidden;
  }

  &.is-locked {
    pointer-events: none;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: $layer-10;
    }
  }

  ::selection {
    color: #fff;
    background-color: $accent;
  }
}

// Reset
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  border: none;
}

// Titles
@each $index, $size in $font-sizes {
  .is-size-#{$index} {
    font-size: $size;
  }

  h#{$index} {
    @include title($size);
  }
}

// Focus
a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: 1px dotted #86d3ff;
}

// Focus
.js-init {
  a:focus,
  button:focus,
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
}

.is-focused {
  outline: 2px dashed #86d3ff !important;
}

[v-cloak],
[data-appear] {
  opacity: 0;
}

.js-touch {
  user-select: none;
  touch-action: pan-y;
}

.js-init .is-hidden-with-js {
  display: none;
}

.is-visible-with-js {
  display: none;
}

.js-init .is-visible-with-js {
  display: block;
}
