@import 'lightgallery';

.lg-backdrop {
  background-color: rgba(243, 245, 246, 0.99);
}

.lg-outer {
  .lg-item {
    /* stylelint-disable-next-line*/
    background: url('#{$lg-path-images}/loading.svg') no-repeat scroll center
      center transparent;
    background-size: 80px 80px;
  }
}

.lg-toolbar {
  top: 30px;
  background-color: transparent;
}

.lg-close {
  display: flex;
  align-items: center;
  height: 28px !important;
  line-height: 0 !important;
  padding: 20px 30px !important;
  width: auto !important;

  &::before {
    content: 'Закрыть';
    margin-right: 15px;
    color: #686c90;
    font-size: 12px;
    font-family: $font-family;
    line-height: 1;
    letter-spacing: 0.16em;
    text-transform: uppercase;

    @supports (font-variation-settings: normal) {
      font-family: $font-family-var;
    }
  }

  &::after {
    content: '' !important;
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url('/img/i-close2.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
}

.lg-actions .lg-prev,
.lg-actions .lg-next {
  width: 24px;
  height: 24px;
  position: absolute;
  background-color: transparent;
  border: none;
  left: 40px;
  transition: background-color 300ms ease;

  &::before {
    content: '' !important;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('/img/i-arrow-alt.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    transform: rotate(180deg);
  }

  &::after {
    display: none;
  }

  &:hover {
  }
}

.lg-actions .lg-next {
  left: auto;
  right: 40px;

  &::before {
    transform: rotate(0deg);
  }
}

.dg .slider::after {
  display: none !important;
}
