// Colors
$accent: #334da6;
$second: #1d337e;
$black: #111b51;
$dark: #383e5e;
$grey: #e4e8f4;
$white: #ffffff;
$hover: #ff8540;

$isResponsive: true;
$hasGuides: false;

// prettier-ignore

// Typo
$font-size: 16px;
$font-sizes: (
  1: 44px,
  2: 36px,
  3: 28px,
  4: 19px,
  5: 18px,
  6: 18px,
);

$font-family: "Inter", sans-serif;
$font-family-var: "Inter var", sans-serif;
$line-height: 1.68;

$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// Breakpoints
$lg: 1599px;
$xl: 1439px;
$l: 1250px;
$md: 959px;
$m: 800px;
$s: 559px;
$xs: 320px;

$breakpoints: (
  "lg": $lg,
  "xl": $xl,
  "l": $l,
  "md": $md,
  "m": $m,
  "s": $s,
  "xs": $xs,
);

// Grid properties
$gap: 30;
$width: 100%;
$minwidth: 320px;
$maxwidth: 1170px;

// Layers
$layer-1: 100;
$layer-2: 200;
$layer-3: 300;
$layer-4: 400;
$layer-5: 500;
$layer-6: 600;
$layer-7: 700;
$layer-8: 800;
$layer-9: 900;
$layer-9: 900;
$layer-10: 1000;

$ease: cubic-bezier(0.455, 0.03, 0.515, 0.955);
