/**
* map
*/

.map {
  $map: &;

  padding: 0;
  position: relative;
  z-index: 0;

  &__container {
    width: 100%;
    height: 540px;
    position: relative;
    background-color: #eee;
    border: 1px solid $grey;

    &::before,
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      pointer-events: none;
    }

    &::after {
      opacity: 0.4;
    }
  }

  @supports (mix-blend-mode: saturation) {
    &__container::before {
      background-color: #fff;
      mix-blend-mode: saturation;
    }

    &__container::after {
      background-color: #88a5de;
      mix-blend-mode: color;
    }
  }

  @media (max-width: $l) {
    &__container {
      height: 380px;
    }
  }
}
