/**
* image
*/

.image {
  $image: &;

  margin: 0;
  padding-bottom: 30px;

  &__src {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    object-fit: cover;
  }

  &__caption {
    margin-top: 15px;
    color: #686c90;
    font-size: 12px;
    line-height: 1.33;
  }
}
