//- image

mixin image(options = {})
  figure.image(
    class=options.lightbox ? 'js-image' : ''
  )
    if options.lightbox
      a.image__link.js-image-src(
        href='/img/' + options.image
        title=options.caption
      )
        img.image__src(
          src='/img/' + options.image
          alt=options.caption
        )
    else
      img.image__src(
        src='/img/' + options.image
        alt=options.caption
      )
    figcaption.image__caption=options.caption
