/**
* collection
*/

.collection {
  $collection: &;

  &.is-loading {
    #{$collection}__body {
      position: relative;
      z-index: 0;

      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: $layer-1;
        background-color: #f3f5f6;
        opacity: 0.4;
      }

      &::after {
        content: "";
        display: block;
        width: 80px;
        height: 80px;
        position: absolute;
        top: 300px;
        left: calc(50% - 40px);
        z-index: $layer-2;
        background-image: url(/img/loading.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
      }
    }
  }

  &__filter {
  }

  &__body {
  }

  &__cats {
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    &.grid {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      flex-wrap: wrap;

      .collection__item {
        width: 270px;
        margin-bottom: 30px;
        .product {
          flex-direction: column;
          padding: 20px;
          height: 100%;

          &__body {
            text-align: center;
            margin-left: 0;
            margin-top: 16px;
            padding: 16px 0;
            border-top: 1px solid #e4e8f4;
            border-bottom: 1px solid #e4e8f4;
          }
          &__params {
            display: none;
          }

          &__footer {
            margin-left: 0;
            margin-top: 16px;
            text-align: center;
          }

          &__instock {
            margin-top: 0;
          }
          &__cost {
            text-align: center;
          }
        }
      }
      .collection__item + .collection__item {
        margin-top: 0;
      }
    }
  }

  &__item {
    & + & {
      margin-top: 30px;
    }
  }

  &__pagination {
  }

  &__vendor {
    margin-bottom: 30px;
  }

  &__cats {
    margin-bottom: 40px;
  }

  &__list + &__pagination {
    margin-top: 65px;
  }

  @media (max-width: 1150px) {
    &__list {
      &.grid {
        justify-content: flex-start;
        .collection__item {
          margin-right: 30px;
        }
      }
    }
  }

  @media (max-width: 874px) {
    &__list {
      &.grid {
        .collection__item {
          width: 100%;
          margin-right: 0;
        }
      }
    }
  }
}
