//- collection

mixin collection(options = {})
  .collection.js-collection(
    class=options.type ? 'is-' + options.type : 'is-products'
  )
    .grid.is-row
      .col-3
        .collection__filter
          +filter(options.filter)
      .col-9
        .collection__body.js-collection-body
          if options.vendor
            .collection__vendor
              +vendor(options.vendor)
          if options.cats
            .collection__cats
              +cats(options.cats)
          ul.collection__list
            each item in options.items
              li.collection__item
                case options.type
                  when 'sets'
                    +set(item)
                  default
                    +product(item)
          .collection__pagination
            +pagination({
              prevArrow: true,
              nextArrow: true,
              currentPage: 2,
              pages: [1, 2, 3, 4, 5, 6]
            })
