.specifications {
  display: flex;
  margin-bottom: 32px;

  &__item {
    display: flex;
    width: 168px;
    align-items: center;
    padding-right: 10px;
    &:first-child {
      margin-right: 79px;
    }
  }

  &__title {
    margin: 0;
    color: #686c90;
  }

  &__img {
    margin-right: 10px;
  }

  @media (max-width: 1200px) {
    display: none;
  }
}
