//- system

mixin system(options = {})
  article.system
    header.system__header
      h3.system__title.is-hide=options.title
      .system__vendor
        +vendor(options.vendor)
    .system__text
      .text!=options.text
    .system__group
      h4.system__subtitle Результат использования системы:
      .system__list
        +list({
          title: '',
          items: options.results
        })
    .system__docs
      +docs({
        type: 'list',
        items: options.files
      })
    footer.system__footer
      .system__button
        +button({
          label: `<i>система ${options.vendor.name}</i>Заказать мониторинг`
        })(
          data-modal='order'
          data-info=`{ "id": 234234, "title": "Система ${options.vendor.name}"}`
          class='is-wide is-multistring'
        )
