/**
* system
*/

.system {
  $system: &;

  padding: 50px;
  padding-top: 35px;
  background-color: $white;

  &__header {
  }
  &__title {
  }
  &__vendor {
  }

  &__text {
    margin-top: 25px;

    & > .text {
      color: #686c90;
      font-size: 16px;
      line-height: 1.68;
    }
  }

  &__group {
    margin-top: 28px;
  }

  &__subtitle {
    margin: 0;
    color: $black;
    font-size: 16px;
    line-height: 1.31;
  }

  &__list {
    margin-top: 18px;
  }

  &__docs {
    margin-top: 35px;
  }

  &__footer {
    margin-top: 40px;
  }

  &__button {
  }

  @media (max-width: $m) {
    padding: 20px;
  }
}
