/**
* nav
*/

.nav {
  $nav: &;

  &__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    & + & {
      margin-left: 50px;
    }
  }

  &__link {
    display: inline-block;
    color: $dark;
    font-size: 16px;
    line-height: 1;
    text-decoration: none;
    transition: ease color 300ms;

    &:hover {
      color: $accent;
    }
  }
  @media (max-width: 1250px) {
    &__item {
      & + & {
        margin-left: 20px;
      }
    }
  }

  @media (max-width: 1000px) {
    &__list {
      flex-direction: column;
      align-items: flex-start;
    }

    &__item {
      & + & {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
}
