//- link

mixin link(options = {})
  case options.type
    when 'button'
      button.link(
        class=options.direction ? 'is-' + options.direction : ''
        title=options.title
      )&attributes(attributes)
        span.link__label=options.label
        svg.link__arrow
          use(xlink:href='/img/sprite.svg#' + (options.direction == 'down' ? 'arrow-small' : 'arrow'))

    default
      a.link(
        class=options.direction ? 'is-' + options.direction : ''
        href=options.href || ''
        title=options.title || ''
      )&attributes(attributes)
        span.link__label=options.label
        svg.link__arrow
          use(xlink:href='/img/sprite.svg#' + (options.direction == 'down' ? 'arrow-small' : 'arrow'))
