/**
* link
*/

.link {
  $link: &;

  display: inline-flex;
  align-items: center;
  padding: 0;
  color: $accent;
  border: none;
  background-color: transparent;
  font-weight: $semibold;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.16em;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    #{$link}__arrow {
      transform: translateX(5px);
    }
  }

  &.is-down {
    #{$link}__arrow {
      height: 10px;
      transform: rotate(90deg);
    }

    &:hover {
      #{$link}__arrow {
        transform: rotate(90deg);
      }
    }
  }

  &.is-back {
    flex-direction: row-reverse;

    #{$link}__arrow {
      margin-left: 0;
      margin-right: 10px;
      transform: rotate(180deg) translateY(1px);
    }

    &:hover {
      #{$link}__arrow {
        transform: rotate(180deg) translateY(1px) translateX(5px);
      }
    }
  }

  &.is-light {
    color: #aabeff;
  }

  &__arrow {
    width: 18px;
    height: 8px;
    margin-left: 10px;
    flex-shrink: 0;
    color: currentColor;
    transition: ease transform 300ms;
  }
}
