/**
* slider
*/

.slider {
  $slider: &;

  position: relative;

  .js-init & {
    max-height: 480px;

    #{$slider}__inner {
      opacity: 0;
      transition: ease opacity 200ms;
    }

    &::after {
      content: '';
      display: block;
      width: 80px;
      height: 80px;
      position: absolute;
      top: calc(50% - 40px);
      left: calc(50% - 40px);
      z-index: 1;
      background-image: url(/img/loading.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }
  }

  &.is-inited {
    max-height: none;

    #{$slider}__inner {
      opacity: 1;
    }

    &::after {
      display: none;
    }
  }

  &__inner {
    position: relative;
  }

  &__container {
    width: 100%;
    height: 320px;
    background-color: #ffffff;
    overflow: hidden;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    list-style: none;
    text-decoration: none;
    transition-property: transform;
    will-change: transform;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  &__list {
    display: flex;
    width: 100%;
    height: 110px;
    margin: 0;
    margin-top: 30px;
    padding: 0 1px;
    list-style: none;
    overflow: hidden;
  }

  &__item {
    width: 116px;
    height: 110px;
    flex-shrink: 0;
    padding: 10px;
    border: 1px solid #e4e8f4;
    border-radius: 2px;
    background-color: $white;
    cursor: pointer;
    transition: ease 300ms border;

    &.is-active {
      border-color: $accent;
      pointer-events: none;
    }

    &:hover {
      border-color: $accent;
    }
  }

  &__thumbnail {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
}
