//- slider

mixin slider(options = {})

  .slider.js-slider
    .slider__inner

      .slider__container.js-slider-container
        .slider__wrapper.js-slider-wrapper
          each image, index in options.slides
            a.slider__image.js-slider-image(
              href='/img/' + image
              style='background-image: url(/img/' + image + ')'
            )

      .slider__list.js-slider-thumbnails
        ul.slider__wrapper.js-slider-wrapper.is-roll
          each image, index in options.slides
            li.slider__item.js-slider-item
              .slider__thumbnail(
                style='background-image: url(/img/' + image + ')'
              )
