//- variations

mixin variations(options = {})
  .variations
    h4.variations__title Возможные наборы по модернизации
    ul.variations__list.list
      each cost, name in options.items
        li.variations__item.list__item
          .variations__name=name
          .variations__cost=cost
