/**
* variations
*/

.variations {
  $variations: &;

  &__title {
    font-size: 16px;
  }

  &__list {
  }

  &__item {
    &::before {
      top: calc(50% - 3px);
    }

    & + & {
      margin-top: 5px;
    }
  }

  &__cost,
  &__name {
    color: $dark;
    font-size: 16px;
    font-weight: $medium;
  }

  &__name {
    &::after {
      content: '→';
      margin: 0 5px;
    }
  }

  &__cost {
    color: $accent;
    font-weight: $semibold;
  }
}
